<template>
    <v-container>
        <h2>
           Theme Setting
        </h2>
        <p class="grey--text f--12">Change the appearance of HCM across all of your workspace</p>
        <v-radio-group v-model="theme" @change="changeTheme()" column>
            <v-row >
                <v-col cols="6">
                    <v-radio label="Light" value="light" color="primary"></v-radio>
                    <img :src="require('@/assets/preference_preview/light.png')">
                </v-col>
                <v-col cols="6">
                    <v-radio label="Dark" value="dark" color="primary"></v-radio>
                    <img :src="require('@/assets/preference_preview/dark.png')">
                </v-col>
            </v-row>
        </v-radio-group>

    </v-container>
</template>

<script>
export default {
    data(){
        return{
            theme:'light'
        }
    },
    methods:{
        changeTheme(){
            this.$store.dispatch('StoreTheme/updateTheme', this.theme)
            if(this.theme=='dark'){
                this.$vuetify.theme.dark=true
            }else{
                this.$vuetify.theme.dark=false
            }
        },
        getTheme(){
            if(localStorage.getItem('theme')==undefined){
                console.log('aa')
            }else{
                this.theme=localStorage.getItem('theme')
            }
            
        }
    },
    created(){
        this.getTheme()
    }
}
</script>