<template>
    <v-container fluid class="payroll-manage">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Manage Payroll</h5>
            </div>
            <v-row class="m--20">
                <v-col md="3" style="padding:0;">
                    <v-select placeholder="Select Company" :items="listCompanies" item-value="id" item-text="name" outlined hide-details @change="listDivision(dataCompanies)" v-model="dataCompanies"></v-select>
                </v-col>
                <v-col md="3" style="padding:0;">
                    <v-select placeholder="Select Division" outlined hide-details :items="itemDivision" item-value="id" item-text="name" @change="listDepartement(dataDivision)" v-model="dataDivision"></v-select>
                </v-col>
                <v-col md="3" style="padding:0;">
                    <v-select placeholder="Select Departement" outlined hide-details :items="itemDepartement" item-value="id" item-text="name" @change="listEmployee(dataDepartement)" v-model="dataDepartement"></v-select>
                </v-col>
                <v-col md="3" style="padding:0;">
                    <v-select placeholder="Enter Employee" outlined hide-details :items="itemEmployee" item-value="employee_id" item-text="first_name" v-model="employee_id"></v-select>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="getData()">Go</v-btn>
            </div>
            <div class="p--20 gold" v-if="detailData!=null">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Salary Details</h5>
            </div>
            <v-row class="p--20" v-if="detailData!=null">
                <v-col md="6">
                    <p>Employment type<span class="red--text">*</span></p>
                    <v-select placeholder="Select Type" outlined hide-details :items="employee_type" v-model="itemData.employment_type"></v-select>
                </v-col>
                <v-col md="6">
                    <p>Basic salary<span class="red--text">*</span></p>
                    <vue-autonumeric class="auto-numeric" v-model="itemData.basic_salary" placeholder="Enter Basic Salary" :options="$root.autoNumericOption"></vue-autonumeric>
                </v-col>
            </v-row>
            <div class="p--20 gold" v-if="detailData!=null">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Allowances</h5>
            </div>
            <v-row class="p--20" v-if="detailData!=null">
                <v-col md="6">
                    <p>Meal Allowance<span class="red--text">*</span></p> 
                    <vue-autonumeric class="auto-numeric" v-model="itemData.meal" placeholder="Enter Meal Allowance" :options="$root.autoNumericOption"></vue-autonumeric>
                </v-col>
                <v-col md="6">
                    <p>Transport allowance (Daily)<span class="red--text">*</span></p>
                    <vue-autonumeric class="auto-numeric" v-model="itemData.transport" placeholder="Enter Transport Allowance" :options="$root.autoNumericOption"></vue-autonumeric>
                </v-col>
            </v-row>
            <div class="p--20 gold" v-if="detailData!=null">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Deduction</h5>
            </div>
            <v-row class="p--20" v-if="detailData!=null">
                <v-col md="6">
                    <p>Absent deduction (Daily)<span class="red--text">*</span></p>
                    <vue-autonumeric class="auto-numeric" v-model="itemData.absent_penalty" placeholder="Enter Absen Penalty" :options="$root.autoNumericOption"></vue-autonumeric>
                </v-col>
            </v-row>
            <div class="p--20 gold" v-if="detailData!=null">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Total salary details</h5>
            </div>
            <v-row class="p--20 " v-if="detailData!=null">
                <v-col md="2">
                    <p>Gross salary</p>
                    <p>Allowance</p>
                    <p>Deduction</p>
                    <p>Total Gross Salary</p>
                </v-col>
                <v-col md="1">
                    <p v-for="i in 4" :key="i">Rp</p>
                </v-col>
                <v-col md="2">
                    <p class="text-right">{{itemData.basic_salary | currency}}</p>
                    <p class="text-right">{{ Number(itemData.meal) + Number(itemData.transport) | currency}}</p>
                    <p class="text-right">{{itemData.absent_penalty | currency}}</p>
                    <p class="text-right">{{  (Number(itemData.basic_salary)+(Number(itemData.meal) + Number(itemData.transport)))-Number(itemData.absent_penalty) | currency }}</p>
                </v-col>
            </v-row>
            <div style="display:flex;" v-if="detailData!=null">
                <v-btn class="btn-save gold white--text" @click="save()">Save</v-btn>
            </div>
        </v-card>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            employee_type:['Fulltime','Parttime','Internship'],
            listCompanies:[],
            dataCompanies:null,
            itemDivision:[],
            dataDivision:null,
            itemDepartement:[],
            dataDepartement:null,
            itemEmployee:[],
            dataEmployee:null,
            employee_id:null,
            itemData:[],
            detailData:null,
            allowance:null
        }
    },
    methods:{
        listCompany(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/company',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.listCompanies = resp.data.data
            })
        },
        listDivision(val){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/division//?cid='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemDivision = resp.data.data
                console.log(this.itemDivision)
            })
        },
        listDepartement(val){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/department/?did='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemDepartement = resp.data.data
                console.log(this.itemDepartement)
            })
        },
        listEmployee(val){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/employee/?deptId='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemEmployee = resp.data.data
                console.log(this.itemEmployee)
            })
        },
        getData(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/manage_payroll/'+this.employee_id,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemData=resp.data.data
                console.log(this.itemData)
                this.detailData=true
            })
        },
        save(){
            let bodyformdata=new FormData()
            bodyformdata.append('employment_type',1)
            bodyformdata.append('basic_salary',this.itemData.basic_salary)
            bodyformdata.append('employee_id',this.employee_id)
            bodyformdata.append('meal',this.itemData.meal)
            bodyformdata.append('transport',this.itemData.transport)
            bodyformdata.append('absent_penalty',this.itemData.absent_penalty)
            bodyformdata.append('allowance_communication',this.allowance_communication)

            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/save_payroll_detail/',
                data:bodyformdata,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                console.log(resp)
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully save data'
                })
            })
        }
    },
    created(){
        this.listCompany()
    }
}
</script>

<style lang="scss">
    .payroll-manage{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
</style>