<template>
    <v-container fluid class="payroll-create-payment">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Make Payment</h5>
            </div>
            <v-row class="m--20">
                <v-col md="12" style="padding:0;">
                    <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="290px">
                        <template v-slot:activator="{ on }">
                            <v-text-field v-model="date" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" type="month" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                        </v-date-picker>
                    </v-dialog>
                </v-col>
                <v-col md="4" style="padding:0;">
                    <v-select placeholder="Select Company" :items="listCompanies" item-value="id" item-text="name" outlined hide-details @change="listDivision(dataCompanies)" v-model="dataCompanies"></v-select>
                </v-col>
                <v-col md="4" style="padding:0;">
                    <v-select placeholder="Select Division" outlined hide-details :items="itemDivision" item-value="id" item-text="name" @change="listDepartement(dataDivision)" v-model="dataDivision"></v-select>
                </v-col>
                <v-col md="4" style="padding:0;">
                    <v-select placeholder="Select Departement" outlined hide-details :items="itemDepartement" item-value="id" item-text="name" v-model="dataDepartement"></v-select>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="getListPayment()">Go</v-btn>
            </div>
            <div class="p--20 gold" v-if="dataItem!=null">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Payment for {{date}}</h5>
            </div>
            <v-data-table
                v-model="selected"
                :headers="headers"
                :items="listItemPayment"
                :single-select="singleSelect"
                item-key="employment_id"
                show-select
                class="m--20"
                v-if="dataItem!=null"
            >
                <template v-slot:item.no="{ item }">
                    {{listItemPayment.map(function(x) {return x.employment_id; }).indexOf(item.employment_id)}}
                </template>
                <template v-slot:item.amount="{ item }">
                    <h5 style="text-align:right;font-size:15px;" class="font-weight-regular m__b--0">{{ item.amount |currency }}</h5>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-btn class="green white--text btn-action" depressed><v-icon>fa-eye</v-icon></v-btn>
                </template>
            </v-data-table>
            <div style="display:flex;" v-if="dataItem!=null">
                <v-btn class="btn-save gold white--text" @click="makePayment()">Process</v-btn>
            </div>
        </v-card>
        <v-dialog v-model="dialogPayslip" width="800">
          <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">Status :</h5>
            </div>
          </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return{
            date: new Date().toISOString().substr(0, 7),
            menu: false,
            modal: false,
            listCompanies:[],
            dataCompanies:null,
            itemDivision:[],
            dataDivision:null,
            itemDepartement:[],
            dataDepartement:null,
            dataItem:null,
            listItemPayment:[],
            singleSelect: false,
            selected: [],
            headers: [
            {
                text: 'No',
                align: 'left',
                sortable: false,
                value: 'no',
            },
            { text: 'Employee ID', value: 'employment_id' },
            { text: 'Employee', value: 'name' },
            { text: 'Payment amount (Net)', value: 'amount' },
            { text: 'Actions', value: 'action', sortable: false },
            ],
            desserts: [
                {
                    no: 1,
                    id: 'GTA-001',
                    employee: 'Pandu Septian Gumilar',
                    payment: '7.880.000,00',
                },
                {
                    no: 2,
                    id: 'GTA-002',
                    employee: 'Pandu Septian Gumilar',
                    payment: '8.880.000,00',
                },
                {
                    no: 3,
                    id: 'GTA-003',
                    employee: 'Pandu Septian Gumilar',
                    payment: '12.880.000,00',
                },
                {
                    no: 4,
                    id: 'GTA-004',
                    employee: 'Pandu Septian Gumilar',
                    payment: '20.880.000,00',
                },
            ]
        }
    },
    methods:{
        listCompany(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/company',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.listCompanies = resp.data.data
            })
        },
        listDivision(val){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/division//?cid='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemDivision = resp.data.data
                console.log(this.itemDivision)
            })
        },
        listDepartement(val){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/department/?did='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.itemDepartement = resp.data.data
                console.log(this.itemDepartement)
            })
        },
        getListPayment(){
            let bodyformData=new FormData()
            bodyformData.append('department_id',this.dataDepartement)
            bodyformData.append('payment_date',this.date)
            axios({
              method:'post',
              url:'https://phpstack-307371-955427.cloudwaysapps.com/api/list_payment/',
              data:bodyformData,
              headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.listItemPayment=resp.data.data
                console.log(this.listItemPayment)
                this.dataItem=true
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully get data'
                })
            })
        },
        makePayment(){
            let bodyformData =new FormData()
            for(let i=0;i<this.selected.length;i++){
                bodyformData.append('id['+i+']',this.selected[i].employee_id)
            }
            bodyformData.append('payment_date',this.date)
            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/make_payment',
                data:bodyformData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                console.log(resp)
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully process data'
                })
            })
        }
    },
    created(){  
        this.listCompany()
    }
}
</script>

<style lang="scss">
    .payroll-create-payment{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .v-data-table{
            .v-data-table__wrapper {
                border-radius: 6px;
                border: 1px solid #303030;
            }
            thead{
                background: #EED592;
            }
            th,td{
                border-right:1px solid #303030;
                border-bottom:1px solid #303030!important;
            }
            th:last-child,td:last-child{
                border-right:unset;
                width: 1px;
            }
            .v-chip{
              font-size: 10px;
            }
            .btn-action{
              font-size: 12px;
              padding: 0!important;
              text-transform: capitalize;
              margin-right: 4px;
              min-width:36px!important;
                .v-icon {
                    font-size: 16px;
                }
            }
            .btn-action:last-child{
              margin-right: 0;
            }
        }
    }
</style>