<template>
    <v-container fluid class="payroll-employee-list">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">Employee Payroll list</h5>
            </div>
            <v-row>
                <v-col md="12">
                    <v-data-table :headers="headers" :items="itemList" sort-by="calories" class="table-employee m--20" style="margin-top:0!important;">
                        <template v-slot:item.amount="{ item }">
                            <h5 style="text-align:right;font-size:15px;" class="font-weight-regular m__b--0">{{ item.amount | currency }}</h5>
                        </template>
                        <template v-slot:item.action="{ item }">
                          <v-btn class="grey white--text btn-action" depressed @click="detailPayslipEmployee(item.employee_id)"><v-icon>fa-eye</v-icon></v-btn>
                          <v-btn class="green white--text btn-action" depressed><v-icon>fa-pen</v-icon></v-btn>
                        </template>
                        <template v-slot:no-data>
                        <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-card>
        <v-dialog v-model="dialogPayslip" width="1200">
          <v-card id="payslip">
            <div class="p__l--20 p__r--12 black">
                <v-row>
                  <v-col md="10">
                    <h4 class="white--text font-weight-bold m--8">Status: <span :class="getColor(this.itemDetailPayslip.status)+'--text'">{{this.itemDetailPayslip.status}}</span></h4>
                  </v-col>
                  <v-col md="2">
                    <h5 class="white--text font-weight-bold m--8">Slip Gaji, {{this.date | moment("MMMM YYYY")}}</h5>
                  </v-col>
                </v-row>
            </div>
            <div class="white m__l--30 m__r--30">
              <v-row>
                <v-col md="4">
                  <v-row>
                    <v-col md="4">
                      <h4>{{$t('employee_id')}}</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.employment_id}}</span>
                    </v-col>
                    <v-col md="4">
                      <h4>TAX ID</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.tax_id}}</span>
                    </v-col>
                    <v-col md="4">
                      <h4>Name</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.name}}</span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col md="4">
                  <v-row>
                    <v-col md="4">
                      <h4>Company</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.company}}</span>
                    </v-col>
                    <v-col md="4">
                      <h4>Division</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.division}}</span>
                    </v-col>
                    <v-col md="4">
                      <h4>Departemen</h4>
                    </v-col>
                    <v-col md="8">
                      <span><strong>: </strong>{{this.itemDetailPayslip.department}}</span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col md="4">
                  <v-row>
                    <v-col md="5">
                      <h4>Marital Status</h4>
                    </v-col>
                    <v-col md="7">
                      <span><strong>: </strong>{{this.itemDetailPayslip.marital_status}}</span>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row class="black br__tl--8 br__tr--8">
                <v-col md="6">
                  <h4 class="white--text text-center">Income</h4>
                </v-col>
                <v-col md="6">
                  <h4 class="white--text text-center">Deduction</h4>
                </v-col>
              </v-row>
              <v-row>
                <v-col md="6" class="p__t--0" style="border-left: 1px solid black;border-right: 1px solid black;">
                  <v-row >
                    <v-col md="7">
                      <h5>Basic salary</h5>
                      <h5>Meal</h5>
                      <h5>Transportation</h5>
                    </v-col>
                    <v-col md="1">
                      <h5>Rp</h5>
                      <h5>Rp</h5>
                      <h5>Rp</h5>
                    </v-col>
                    <v-col md="4">
                      <h5 class="text-right">{{this.itemDetailPayslip.basic_salary | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.meal | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.transport | currency}}</h5>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col md="6" class="p__t--0" style="border-right: 1px solid black;">
                  <v-row >
                    <v-col md="7">
                      <h5>Absent</h5>
                      <h5>Loan</h5>
                      <h5>PPh21</h5>
                      <h5>Penalty PPh21</h5>
                      <h5>BPJS JHT</h5>
                      <h5>BPJS JKK</h5>
                      <h5>BPJS Kes</h5>
                      <h5>BPJS JK</h5>
                      <h5>BPJS JP</h5>
                    </v-col>
                    <v-col md="1">
                      <h5 v-for="i in 9" :key="i">Rp</h5>
                    </v-col>
                    <v-col md="4">
                      <h5 class="text-right">{{this.itemDetailPayslip.absent_deduction | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.loan | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.pph21 | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.denda_pph21 | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.jht_deduction | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.jkk_deduction | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.kes_deduction | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.jk_deduction | currency}}</h5>
                      <h5 class="text-right">{{this.itemDetailPayslip.jp_deduction | currency}}</h5>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row class="br__bl--8 br__br--8" style="border: 1px solid black;">
                <v-col md="6" class="p__t--0 p__b--0">
                  <v-row>
                    <v-col md="7">
                      <h5>Total Income</h5>
                    </v-col>
                    <v-col md="1">
                      <h5>Rp</h5>
                    </v-col>
                    <v-col md="4">
                      <h5 class="text-right">{{this.itemDetailPayslip.total_bruto | currency}}</h5>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col md="6" class="p__t--0 p__b--0">
                  <v-row>
                    <v-col md="7">
                      <h5>Total Deduction</h5>
                    </v-col>
                    <v-col md="1">
                      <h5>Rp</h5>
                    </v-col>
                    <v-col md="4">
                      <h5 class="text-right">{{this.itemDetailPayslip.total_deduction | currency}}</h5>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row class="m__t--10">
                <v-col md="6" class="p--0">
                  <div class="p--24 black br__tl--8 br__tr--8">
                    <v-row>
                      <v-col md="6" class="p--4" >
                        <h5 class=" white--text">Take Homepay</h5>
                      </v-col>
                      <v-col md="6" class="p--4">
                        <h5 class=" white--text text-right">{{this.itemDetailPayslip.net_amount | currency}}</h5>
                      </v-col>
                    </v-row>
                  </div>
                  <div class="p__l--14 p__r--14 br__bl--8 br__br--8" style="border:1px solid black;">
                    <v-row >
                      <v-col md="7">
                        <h5>BPJS JHT</h5>
                        <h5>BPJS JKK</h5>
                        <h5>BPJS Kes</h5>
                        <h5>BPJS JK</h5>
                        <h5>BPJS JP</h5>
                      </v-col>
                      <v-col md="1">
                        <h5>Rp</h5>
                        <h5>Rp</h5>
                        <h5>Rp</h5>
                        <h5>Rp</h5>
                        <h5>Rp</h5>
                      </v-col>
                      <v-col md="4">
                        <h5 class="text-right">{{this.itemDetailPayslip.bpjs_jht | currency}}</h5>
                        <h5 class="text-right">{{this.itemDetailPayslip.bpjs_jkk | currency}}</h5>
                        <h5 class="text-right">{{this.itemDetailPayslip.bpjs_kes | currency}}</h5>
                        <h5 class="text-right">{{this.itemDetailPayslip.bpjs_jk | currency}}</h5>
                        <h5 class="text-right">{{this.itemDetailPayslip.bpjs_jp | currency}}</h5>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <!-- <v-col md="6" class="p--0">
                  <div class="p--24 black br--8">
                    <v-row>
                      <v-col md="6" class="p--4" >
                        <h5 class=" white--text">Government Insurance</h5>
                      </v-col>
                    </v-row>
                  </div>
                </v-col> -->
              </v-row>
            </div>
            <div style="display:flex;" >
                <v-btn class="btn-save gold white--text" @click="generatePayslip">Close</v-btn>
            </div>
          </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'
import * as JsPDF from 'jspdf';
import html2canvas from 'html2canvas'
export default {
    data() {
        return{
            date: new Date().toISOString().substr(0, 7),
            dialogPayslip:false,
            dialog: false,
            itemDetailPayslip:[],
            headers: [
                {
                text: 'Employee ID',
                align: 'left',
                sortable: false,
                value: 'employment_id',
                },
                { text: 'Employee', value: 'name' },
                { text: 'Gross salary (Rp)', value: 'amount' },
                { text: 'Employement type', value: 'employee_type' },
                { text: 'Actions', value: 'action', sortable: false },
            ],
            itemList:[],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            }
        }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.getList()
    },
    methods: {
      generatePayslip() {
        html2canvas(document.getElementById('payslip'), {imageTimeout: 5000}).then(canvas => {
          // document.getElementById('payslip').appendChild(canvas)
          let img = canvas.toDataURL('image/svg')
          let pdf = new JsPDF('landscape', 'mm', 'a4')
          pdf.addImage(img, 'JPEG', 0, 10, 300, 220)
          pdf.save('payslip-data.pdf')
        })
      },
      detailPayslipEmployee(val){
        this.dialogPayslip=true
        let bodyformData =new FormData()
        bodyformData.append('payment_date',this.date)
        bodyformData.append('employee_id',val)
        axios({
          method:'post',
          url:'https://phpstack-307371-955427.cloudwaysapps.com/api/detail_payment/',
          data:bodyformData,
          headers: {
              'User-id': localStorage.getItem('user_id')
          }
        }).then(resp=>{
          console.log(resp.data.data)
          this.itemDetailPayslip=resp.data.data
        })
        // itemDetailPayslip
      },
      getList(){
        axios({
          method:'get',
          url:'https://phpstack-307371-955427.cloudwaysapps.com/api/list_payroll',
          headers: {
              'User-id': localStorage.getItem('user_id')
          }
        }).then(resp=>{
          this.itemList=resp.data.data
          console.log(this.itemList)
        })
      },
      getColor (val) {
        if (val == 'Paid') return 'green'
        else if (val == 'Unpaid') return 'red'
        else return 'grey'
      },
      initialize () {
        this.desserts = [
          {
            id: 'GTA-001',
            employee: 'Pandu Septian Gumilar',
            salary: ' 8.250.000,00',
            type: 'Full-time'
          },
          {
            id: 'GTA-002',
            employee: 'Pandu Septian Gumilar',
            salary: ' 8.250.000,00',
            type: 'Full-time'
          },
          {
            id: 'GTA-003',
            employee: 'Pandu Septian Gumilar',
            salary: ' 8.250.000,00',
            type: 'Full-time'
          },
          {
            id: 'GTA-004',
            employee: 'Pandu Septian Gumilar',
            salary: ' 8.250.000,00',
            type: 'Full-time'
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    }
}
</script>

<style lang="scss">
    .payroll-employee-list{
        .btn-add{
            background-color: transparent!important;
            padding: 0!important;
            text-transform: capitalize;
            font-size: 16px!important;
            .v-icon{
                border-radius: 4px;
                font-size: 16px;
            }
        }
        .table-employee{
            .v-data-table__wrapper {
                border-radius: 6px;
                border: 1px solid #303030;
            }
            thead{
                background: #EED592;
            }
            th,td{
                border-right:1px solid #303030;
                border-bottom:1px solid #303030!important;
            }
            th:last-child,td:last-child{
                border-right:unset;
                width: 110px;
            }
            .v-chip{
              font-size: 10px;
            }
            .btn-action{
              font-size: 12px;
              padding: 0!important;
              text-transform: capitalize;
              margin-right: 4px;
              min-width:36px!important;
              .v-icon {
                font-size: 16px;
              }
            }
            .btn-action:last-child{
              margin-right: 0;
            }
        }
    }
</style>