<template>
    <v-container fluid class="setting-general">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">General Setting</h5>
            </div>
            <v-row class="p--20">
                <v-col md="6">
                    <v-row>
                        <v-col md="12">
                            <p>Logo Company<span class="red--text">*</span></p>
                            <v-btn class="black gold--text" depressed rounded>Choose file</v-btn>
                        </v-col>
                        <v-col md="12">
                            <p>Company Name<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Email Name<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Email Address<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Address Company<span class="red--text">*</span></p>
                            <v-textarea placeholder="Enter ..." outlined hide-details></v-textarea>
                        </v-col>
                        <v-col md="12">
                            <p>City<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Country<span class="red--text">*</span></p>
                            <v-select placeholder="Enter ..." outlined hide-details></v-select>
                        </v-col>
                        <v-col md="12">
                            <p>Zip Code<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col md="6">
                    <v-row> 
                        <v-col md="12">
                            <p>Language<span class="red--text">*</span></p>
                            <v-select placeholder="Enter ..." outlined hide-details></v-select>
                        </v-col>
                        <v-col md="12">
                            <p>Email Address<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Phone Company<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Mobile Phone<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Hotline<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Fax<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                        <v-col md="12">
                            <p>Website Company<span class="red--text">*</span></p>
                            <v-text-field placeholder="Enter ..." outlined hide-details></v-text-field>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text">Save</v-btn>
            </div>
        </v-card>
    </v-container>
</template>

<style lang="scss">
    .setting-general{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
</style>