<template>
    <v-container fluid class="setting-work">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Set Working Days</h5>
            </div>
            <v-row class="p--20" style="justify-content: center;">
                <v-col md="2" v-for="(item,index) in days" :key="index">
                    <v-checkbox color="primary" :label="item.name"></v-checkbox>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text">Save</v-btn>
            </div>
        </v-card>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
            days:[
                {
                    name:'Monday'
                },
                {
                    name:'Tuesday'
                },
                {
                    name:'Wednesday'
                },
                {
                    name:'Thursday'
                },
                {
                    name:'Friday'
                },
                {
                    name:'Saturday'
                },
                {
                    name:'Sunday'
                }
            ]
        }
    }
}
</script>

<style lang="scss">
    .setting-work{
        .col-md-2{
            max-width: 12%;
        }
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
</style>