<template>
    <v-container fluid class="setting-approval">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Approval Setting</h5>
            </div>
            <v-row class="p--20">
                <v-col md="6">
                    <p>Attendance<span class="red--text">*</span></p>
                    <v-select placeholder="Select your attendance" outlined hide-details></v-select>
                </v-col>
                <v-col md="6">
                    <p>Leave<span class="red--text">*</span></p>
                    <v-select placeholder="Select your leave" outlined hide-details></v-select>
                </v-col>
                <v-col md="6">
                    <p>Overtime<span class="red--text">*</span></p>
                    <v-select placeholder="Select your overtime" outlined hide-details></v-select>
                </v-col>
                <v-col md="6">
                    <p>Reimbursement<span class="red--text">*</span></p>
                    <v-select placeholder="Select your reimbursement" outlined hide-details></v-select>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text">Save</v-btn>
            </div>
        </v-card>
    </v-container>
</template>
<style lang="scss">
    .setting-approval{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
</style>