// variables
@import './variables/variables.scss';

// base
@import './base/padding.scss';
@import './base/margin.scss';
@import './base/mixins.scss';
@import './base/typography.scss';
@import './base/font.scss';
@import './base/border.scss';
@import './base/size.scss';

// font google apis
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

// Components
@import './components/Sidebar.scss';
@import './components/AutoNumeric.scss';

// Views
@import './views/Example.scss';
@import './views/Dashboard.scss';


