@import './init.scss';

body, p {
    font-family: 'Montserrat';
}
.theme--dark.v-application{
  background: #443E2D;
}
.theme--dark.v-sheet,.theme--dark.v-data-table {
  background-color:#1D1B17;
}
body {
    height: 100vh;
    background: #EEEEEE;
}
.v-card{
    border-radius: 12px!important;
}
.container{
  margin-top: 35px;
}
.btn-save{
  margin: auto;
  border-radius: 16px;
  width: 300px;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 32px;
}
.btn-action{
  font-size: 12px;
  padding: 0!important;
  text-transform: capitalize;
  margin-right: 4px;
  min-width: 36px!important;
  .v-icon{
    font-size: 16px;
  }
}



  .table-gtalent {
    .v-data-table__wrapper {
      border-radius: 5px;
      border: 1px solid #303030;
    }
    .head-table {
      background: #EED592;
      color: black;
      border-right: 1px;
    }
    .text-left {
      text-align: left;
    }
    .border-right {
      border-right: 1px solid #303030;
    }
    .border-bottom {
      border-bottom: 1px solid #303030 !important;
    }
    .number {
      width: 50px;
    }
    .allowance {
      width: 120px;
    }
    .details {
      width: 150px;
    }
    th:last-child,td:last-child{
      border-right:unset;
        width: 1px;
    }
  }