<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="company_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">Company event</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Event Name <span class="red--text">*</span></label>
              <v-text-field
                v-model="company_data.name"
                class="gtalent-form"
                placeholder="enter company event"
                outlined>
              </v-text-field>

              <label> Start date <span class="red--text">*</span></label>
              <date-picker v-model="company_data.start_date" class="gtalent-datepicker" placeholder="Start date"/>
              <!-- <v-text-field
                v-model="company_data.code"
                class="gtalent-form"
                placeholder="enter company code"
                outlined>
              </v-text-field> -->
              <!-- <vue-select v-model="reimbursement_add_data.as_allowance" :options="['Yes','No']" placeholder="enter as allowance" class="gtalent-select"/> -->
           

              <label class="m__t--20"> End date <span class="red--text">*</span></label>
              <date-picker v-model="company_data.end_date" class="gtalent-datepicker" placeholder="End date"/>
              <!-- <v-text-field
                v-model="company_data.code"
                class="gtalent-form"
                placeholder="enter company code"
                outlined>
              </v-text-field> -->
              <!-- <vue-select v-model="company_data.parent_id" :options="['none','Tech']" placeholder="Select parent Division" class="gtalent-select"/> -->
            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="save(mode)">{{mode === 'create' ? 'Save' : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <!-- <AddSchedule  ref="addSchedule"/> -->
    </div>
</template>
<script>
import { mapState } from 'vuex'
// import AddSchedule from './AddSchedule'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  components: {
    // AddSchedule,
  },
  data() {
    return {
      company_data: {
        dialog: false,
        name: null,
        start_date: null,
        end_date: null,
        code: null,
        index: null,
        parent_id: null,
      }
    }
  },
  computed: {
    ...mapState('StoreReimbursement', ['reimbursement_state']),
  },
  methods: {
    openDialog(index) {
      this.company_data.dialog = true;
      // if (index >= 0) {
      //   this.reimbursement_add_data.index = index 
      //   this.reimbursement_add_data.category = this.reimbursement_state.add[index].expense_cat
      //   this.reimbursement_add_data.as_allowance = this.reimbursement_state.add[index].include_payroll === 'Y' ? 'Yes' : 'No'
      // }
    },
    save(data, index) {
      if (data === 'create') {
        const req = {
          event_name: this.company_data.name,
          start_date: this.$moment(this.company_data.start_date).format('YYYY-MM-DD'),
          end_date: this.$moment(this.company_data.end_date).format('YYYY-MM-DD'),
        }
        this.$store.dispatch('StoreSchedule/createSchedule', req)
        this.company_data.dialog = false;
        this.company_data = {
          dialog: false,
          name: null,
          start_date: null,
          end_date: null,
          code: null,
          index: null,
          parent_id: null,
        }
      } else {
        const edited = {
          event_name: this.company_data.name,
          start_date: this.$moment(this.company_data.start_date).format('YYYY-MM-DD'),
          end_date: this.$moment(this.company_data.end_date).format('YYYY-MM-DD'),
        }
        this.$store.dispatch('StoreSchedule/editSchedule', edited)
        this.company_data = {
          dialog: false,
          name: null,
          start_date: null,
          end_date: null,
          code: null,
          index: null,
          parent_id: null,
        }
      }
    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

