<template>
    <v-container fluid class="schedule">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Company Event</h5>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">List Company Event</h5>
            </div>
            <v-btn class="m--20 btn-add font-weight-bold blue--text" depressed @click="$refs.addSchedule.openDialog()"><v-icon class="black blue--text p--6 m__r--12">fa-plus</v-icon>Add Company Event</v-btn>
            <v-row>
                <v-col md="12">
                    <v-data-table :headers="headers" :items="scheduleList" sort-by="calories" class="table-employee m--20" style="margin-top:0!important;">
                        <template v-slot:item.action="{ item }">
                          <v-btn class="black gold--text btn-action" depressed><v-icon>fa-pen</v-icon>Edit</v-btn>
                          <v-btn class="black red--text btn-action" depressed @click="deleteData(item)"><v-icon>fa-trash</v-icon>Delete</v-btn>
                        </template>
                        <template v-slot:no-data>
                          <div class="float-to-center">
                            Data is not found
                          </div>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-card>
        <AddSchedule  ref="addSchedule"/>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import AddSchedule from './AddSchedule'

export default {
  components: {
    AddSchedule,
  },
    data() {
        return{
            dialog: false,
            headers: [
                {
                text: 'No',
                align: 'left',
                sortable: false,
                value: 'no',
                },
                { text: 'Event name', value: 'name' },
                { text: 'Start Date', value: 'start_date' },
                { text: 'End Date', value: 'end_date' },
                { text: 'Actions', value: 'action', sortable: false },
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            }
        }
    },
    computed: {
      ...mapGetters('StoreSchedule', ['scheduleList']),
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
      this.$store.dispatch('StoreSchedule/listSchedule')
    },
    methods: {
      getColor (val) {
        if (val == 'Active') return 'green'
        else if (val == 'Terminated') return 'red'
        else return 'grey'
      },
      initialize () {
        this.desserts = [
          {
            no: 'GTA-001',
            name: 'Gtalent Academy',
            start_date: '09 - 12 - 2019',
            end_date: '11 - 12 - 2019'
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },

      deleteData(data) {
        // console.log(data, 'asdasdsad')
        this.$store.dispatch('StoreSchedule/deleteSchedule', data.no)
      }
    }
}
</script>

<style lang="scss">
    .schedule{
        .btn-add{
            background-color: transparent!important;
            padding: 0!important;
            text-transform: capitalize;
            font-size: 16px!important;
            .v-icon{
                border-radius: 4px;
                font-size: 16px;
            }
        }
        .table-employee{
            .v-data-table__wrapper {
                border-radius: 6px;
                border: 1px solid #303030;
            }
            thead{
                background: #EED592;
            }
            th,td{
                border-right:1px solid #303030;
                border-bottom:1px solid #303030!important;
            }
            th:last-child,td:last-child{
                border-right:unset;
            }
            .v-chip{
              font-size: 10px;
            }
            .btn-action{
              font-size: 12px;
              padding: 0!important;
              text-transform: capitalize;
              margin-right: 4px;
              .v-icon{
                font-size: 12px;
                margin-right: 4px;
              }
            }
            .btn-action:last-child{
              margin-right: 0;
            }
        }
    }
</style>