<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="company_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">{{$t('add')+' '+$t('division')}}</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label>{{$t('division_name')}}<span class="red--text">*</span></label>
              <v-text-field
                v-model="company_data.name"
                class="gtalent-form"
                :placeholder="$t('enter')+' '+$t('division_name')"
                outlined>
              </v-text-field>

              <label>{{$t('division_code')}}<span class="red--text">*</span></label>
              <v-text-field
                v-model="company_data.code"
                class="gtalent-form"
                :placeholder="$t('enter')+' '+$t('division_code')"
                outlined>
              </v-text-field>
              <!-- <vue-select v-model="reimbursement_add_data.as_allowance" :options="['Yes','No']" placeholder="enter as allowance" class="gtalent-select"/> -->
           

              <label>{{$t('parent_division')}}<span class="red--text">*</span></label>
              <!-- <v-text-field
                v-model="company_data.code"
                class="gtalent-form"
                placeholder="enter company code"
                outlined>
              </v-text-field> -->
              <v-select v-model="company_data.parent_id" outlined :placeholder="$t('select')+' '+$t('parent_division')" :items="listDivisionGetters" item-value="id" item-text="name"/>
              <!-- <vue-select v-model="company_data.parent_id" :options="['none','Tech']" :placeholder="$t('select')+' '+$t('parent_division')" class="gtalent-select"/> -->
            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="save(mode)">{{mode === 'create' ? $t('save') : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex' 

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  data() {
    return {
      company_data: {
        dialog: false,
        name: null,
        code: null,
        index: null,
        parent_id: null,
      }
    }
  },
  computed: {
    ...mapState('StoreOrgchart', ['orgchart_state']),
    ...mapGetters('StoreOrgchart', ['listDivisionGetters'])
  },
  methods: {
    openDialog(index) {
      this.company_data.dialog = true;
      // if (index >= 0) {
      //   this.reimbursement_add_data.index = index 
      //   this.reimbursement_add_data.category = this.reimbursement_state.add[index].expense_cat
      //   this.reimbursement_add_data.as_allowance = this.reimbursement_state.add[index].include_payroll === 'Y' ? 'Yes' : 'No'
      // }
    },
    save(data, index) {
      if (data === 'create') {
        const req = {
          code: this.company_data.code,
          name: this.company_data.name,
          parent_id: this.company_data.parent_id,
          company_id: this.$route.params.id,
        }
        this.$store.dispatch('StoreOrgchart/createDivision', req)
        this.company_data.dialog = false;
        this.company_data = {
          dialog: false,
          name: null,
          code: null,
          parent_id: null,
          index: null,
        }
      } else {
        const edited = {
          expense_cat: this.reimbursement_add_data.category,
          include_payroll: this.reimbursement_add_data.as_allowance === 'Yes' ? 'Y' : 'N',
          index: this.reimbursement_add_data.index
        }
        this.$store.commit('StoreReimbursement/editCategory', edited)
        this.reimbursement_add_data = {
          dialog: false,
          category: null,
          as_allowance: null,
        }
      }
    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

