<template>
<div class="company-orgchart">
  <div class="float-to-left m__t--50">
    <v-btn class="button gold white--text save-button" @click="$refs.addCompany.openDialog()"><v-icon class="m__r--8" depressed fab x-small>fa-plus</v-icon>{{$t('add')+' '+$t('company')}}</v-btn>
  </div>
   <div class="card-company float-to-center">
     <div class="p__b--20 m__r--20 parent-company" v-for="(company, index) in orgchart_state.companies" :key="index">
       <div @click="deleteCompany(company)" class="float-to-right red--text p--10 cursor-pointer">
         <i class="fa fa-times-circle"></i>
       </div>
       <div class="float-to-center gold--text">
         <p>
            {{company.name}} - {{company.code}}
         </p>
       </div>
       <div class="float-to-center">
          <v-btn class="button gold white--text save-button" @click="detailCompany(company)">Detail</v-btn>
       </div>
       
      </div>
   </div>

   <AddCompany ref="addCompany"/>
    
    
</div>
   
</template>

<script>
import { VoBasic, VoEdit } from 'vue-orgchart'
import { mapState } from 'vuex'
import AddCompany from './AddCompany'

export default {
  components: { VoBasic, VoEdit, AddCompany },
  data() {
    return {
      organigram_data: {
        title: null,
        content: null,
        dialog: false,
      },
    }
  },
  computed: {
    ...mapState('StoreOrgchart', ['orgchart_state']),
  },
  created () {
    this.$store.dispatch('StoreOrgchart/listCompany')
    // this.$store.dispatch('StoreOrgchart/listDivision')
    // this.$store.dispatch('StoreOrgchart/listDepartment'
  },
  methods: {
    detailCompany(company) {
      console.log(company, 'asdasdsad')
      this.$store.commit('StoreOrgchart/showList', { state: 'current_company', data: { data: company } })
      this.$router.replace('/organization/division/' + company.id)
    },

    deleteCompany(company) {
      this.$store.dispatch('StoreOrgchart/deleteCompany', company)
    }
  }
}
</script>

<style lang="scss">
  .company-orgchart {
    .card-company {
      margin-top:100px !important;
      // background:#DDAB27 !important;
      // height: auto !important;
    }
    .parent-company {
      background: #303030;
      width: 200px;
      height: 130px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;   
      // padding: 10px;
    }
  }
</style>
