<template>
<div class="organigram-page">
   <vo-edit :data="chartData" :draggable="true" :toggleCollapse="false" nodeContent="content"></vo-edit>
    <br>
    <div v-show="showing">
      <input type="text" id="selected-node" class="selected-node-group new-node">
    </div>
    
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="organigram_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18"> Set Organization </v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Position Name <span class="red--text">*</span></label>
              <v-text-field
                v-model="organigram_data.title"
                class="gtalent-form"
                placeholder="Position name"
                outlined
              ></v-text-field>

              <label> Description <span class="red--text"> * </span></label>
              <v-text-field
                v-model="organigram_data.content"
                class="gtalent-form"
                placeholder="description"
                outlined
              ></v-text-field>

            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" @click="setChange"> Edit </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <!-- <router-link :to="'/organization/department/'+ orgchart_state.current_department.id" class="m__t--50">Back to Department</router-link> -->
    </div>
</div>
   
</template>

<script>
import { VoBasic, VoEdit } from 'vue-orgchart'
import { mapState } from 'vuex'
import { log } from 'util'

export default {
  components: { VoBasic, VoEdit },
  data() {
    return {
      chartData: {},
      organigram_data: {
        title: null,
        content: null,
        dialog: false,
      },
      showing: false,
      current_id: null,
      current_title: null,
      current_content: null,
      content: '',
      all_class: null,
      id_node: null,
    }
  },
  computed: {
    ...mapState('StoreOrgchart', ['orgchart_state']),
  },
  watch: {
    'orgchart_state.employee' : function(newVal) {
      console.log('banyakkkk')
      const children = this.orgchart_state.employee.map((data) => {
        return {
          name: data.first_name + ' ' + data.last_name,
          content: data.designations ? data.designations : '-',
          id: data.employee_id,
        }
      })
      console.log('dikit')
      this.chartData = {
        name: (this.orgchart_state.current_department ? this.orgchart_state.current_department.name : ''),
        content: '',
        children,
      }
      console.log('loakkk')
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.bindEventHandler('.node', 'click', this.clickNode, '#chart-container')
    })

    // checkKey(this.chartData, 'Moon')
    
  },
  methods: {
    bindEventHandler (selector, type, fn, parentSelector) {
      setTimeout(() => {
          document.querySelectorAll(selector).forEach(element => {
            element.addEventListener(type, fn)
          })
      }, 1000)
    },
    clickNode() {
      
      this.checkData();
      // this.current_id = document.querySelectorAll('#selected-node').data-node
      // this.current_title = document.querySelectorAll('#selected-node').value
      // const idTarget = document.querySelectorAll('#' + this.current_id)
      // this.current_content = idTarget.querySelectorAll('.content').textContent
    },

    setChange() {
      const idTarget = document.getElementById(this.current_id)
      
      idTarget.getElementsByClassName('title')[0].textContent = this.organigram_data.title
      idTarget.getElementsByClassName('content')[0].textContent = this.organigram_data.content
      this.organigram_data.dialog = false
    },

    checkData() {
      setTimeout(() => {
        this.current_id = document.getElementById('selected-node').getAttribute("data-node")
        this.current_title = document.getElementById('selected-node').value
        const idTarget = document.getElementById(this.current_id)
        this.current_content = idTarget.getElementsByClassName('content')[0].textContent
      
        this.organigram_data.title = this.current_title
        this.organigram_data.content = this.current_content
        // console.log('sadasdasdlasld')
        // console.log(JSON.parse(document.getElementById(this.current_id).getAttribute("data-source")).id)
        this.$store.commit('StoreOrgchart/showList', { state: 'current_employee', data: { id: this.$route.params.id, name: this.organigram_data.title } })
        if (JSON.parse(document.getElementById(this.current_id).getAttribute("data-source")).id) {
          this.organigram_data.dialog = true;
          console.log('masuk sini')
          // this.$router.replace('/organization/department/'+ JSON.parse(document.getElementById(this.current_id).getAttribute("data-source")).id)
        } else {
          this.$router.replace('/organization/department/'+ this.orgchart_state.current_department.id)
        }
      }, 0)
      
    }

  },
  created () {
    this.$store.dispatch('StoreOrgchart/listCompany')
    // this.$store.dispatch('StoreOrgchart/listDivision', this.$route.params.id)
    this.$store.dispatch('StoreOrgchart/listEmployee', this.$route.params.id)
    // const children = this.orgchart_state.divisions.map((data) => {
    //   return {
    //     name: data.name,
    //     content: ''
    //   }
    // })
    // this.chartData = {
    //   name: this.orgchart_state.current_company.name + this.orgchart_state.current_company.code,
    //   content: '',
    //   children,
    // }
  }
}
</script>

<style lang="scss">
  .organigram-page {
    .title {
      /* padding:10px !important;
      background:#DDAB27 !important; */
      height: auto !important;
    }
  }
</style>
