<template>
<div class="organigram-page" v-if="!refresh" >
  <div>
    <div class="float-to-left m__t--50">
      <v-btn class="button gold white--text save-button" @click="$refs.addDepartment.openDialog()">Add Department +

      </v-btn>
    </div>
  </div>

   <vo-edit :data="chartData" :draggable="true" :toggleCollapse="false" nodeContent="content" :createNode="createNode"></vo-edit>
    <br>
    <div v-show="showing">
      <input type="text" id="selected-node" class="selected-node-group new-node">
    </div>
    
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="organigram_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18"> Set Organigram </v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Position Name <span class="red--text">*</span></label>
              <v-text-field
                v-model="organigram_data.title"
                class="gtalent-form"
                placeholder="Position name"
                outlined
              ></v-text-field>

              <label> Description <span class="red--text"> * </span></label>
              <v-text-field
                v-model="organigram_data.content"
                class="gtalent-form"
                placeholder="description"
                outlined
              ></v-text-field>

            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" @click="setChange"> Edit </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <!-- <router-link :to="'/organization/division/'+ orgchart_state.current_division.id" class="m__t--50">Back to Division</router-link> -->
    </div>
    <AddDepartment ref="addDepartment"/>
</div>
   
</template>

<script>
import { VoBasic, VoEdit } from 'vue-orgchart'
import { mapState } from 'vuex'
import AddDepartment from './AddDepartment'

export default {
  components: { VoBasic, VoEdit, AddDepartment },
  data() {
    return {
      refresh: true,
      chartData: {},
      organigram_data: {
        title: null,
        content: null,
        dialog: false,
      },
      showing: false,
      current_id: null,
      current_title: null,
      current_content: null,
      content: '',
      all_class: null,
      id_node: null,
    }
  },
  computed: {
    ...mapState('StoreOrgchart', ['orgchart_state']),
  },
  watch: {
    'orgchart_state.departments' : function(newVal) {
      // const sortParent1 = this.orgchart_state.departments.filter((data) => data.parent_id === '0')
      // const sortParent2 = this.orgchart_state.departments.filter((data) => data.parent_id === '1')
      // const children = sortParent1.map((data) => {
      //   return {
      //     name: data.name,
      //     content: data.code,
      //     id: data.id,
      //   }
      // })

      const allParent = this.orgchart_state.departments.filter((data) => Number(data.parent_id) === 0)

      if (allParent.length > 0) {
        allParent.forEach((data, index) => {
          const newData = {
            name: data.name,
            content: data.code,
            id: data.id,
          }
          const newChild = this.nestingData(this.orgchart_state.departments, data)
          if (newChild.length > 0) {
            newData.children = newChild;
          }
          allParent[index] = newData;
        })
      }
      // children.forEach((data, index) => {
        
      // })
      this.refresh = true;
      if (this.orgchart_state.current_division) {
        localStorage.setItem('current_division', JSON.stringify(this.orgchart_state.current_division));
      }
      this.chartData = {
        name: (this.orgchart_state.current_division ? this.orgchart_state.current_division.name : JSON.parse(localStorage.getItem('current_division')).id),
        content: '-',
        children: allParent,
      }

      setTimeout(() => {
        this.refresh = false
        this.bindEventHandler('.node', 'click', this.clickNode, '#chart-container')
      }, 2000)
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.bindEventHandler('.node', 'click', this.clickNode, '#chart-container')
    })

    // checkKey(this.chartData, 'Moon')
    
  },
  methods: {
    bindEventHandler (selector, type, fn, parentSelector) {
      setTimeout(() => {
          document.querySelectorAll(selector).forEach(element => {
            element.addEventListener(type, fn)
          })
      }, 1000)
    },

    nestingData(data, parent) {
      const allParent = this.orgchart_state.departments.filter((data) => Number(data.parent_id) === Number(parent.id))

      if (allParent.length > 0) {
        allParent.forEach((data, index) => {
          const newData = {
            name: data.name,
            content: data.code,
            id: data.id,
          }
          const newChild = this.nestingData(this.orgchart_state.departments, data)
          if (newChild.length > 0) {
            newData.children = newChild;
          }
          allParent[index] = newData;
        })
      }
      return allParent;
    },
    // clickNode() {
    //   this.checkData();
      
    //   // this.current_id = document.querySelectorAll('#selected-node').data-node
    //   // this.current_title = document.querySelectorAll('#selected-node').value
    //   // const idTarget = document.querySelectorAll('#' + this.current_id)
    //   // this.current_content = idTarget.querySelectorAll('.content').textContent
    // },
    getId() {
      return (new Date().getTime()) * 1000 + Math.floor(Math.random() * 1001)
    },
    createNode(node, data) {
      node.id = this.getId()
      // console.log(node.getElementsByClassName('content')[0], node, 'sasadsads')
      const content = node.getElementsByClassName('title')[0]
      let secondMenuIcon = document.createElement('i'),
        secondMenu = document.createElement('div'),
        thirdMenu = document.createElement('div');

      secondMenuIcon.setAttribute('class', 'fa fa-info-circle second-menu-icon');
      thirdMenu.setAttribute('class', 'detail-orgchart');
      secondMenuIcon.addEventListener('click', (event) => {
        event.target.nextElementSibling.classList.toggle('hidden');
      });
      secondMenu.addEventListener('click', (event) => {
        this.deleteNodes()
      });
      // content.addEventListener('click', (event) => {
      //   event.target.nextElementSibling.classList.toggle('hidden');
      // });
      thirdMenu.addEventListener('click', (event) => {
        this.organigram_data.dialog = true
      });
      secondMenu.setAttribute('class', 'second-menu float-to-right');
      // secondMenu.innerHTML = `<img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0aaitnN8uBJHkBj_XiuKJVc45xsi7Aok4BZCrlwYFKqVKZ4sx">`;
      thirdMenu.innerHTML = `<button> Details </button>`;
      secondMenu.innerHTML = `<i class="fa fa-times-circle"></i>`;
      // content.appendChild(secondMenuIcon)
      // content.appendChild(secondMenu);
      node.prepend(secondMenu);
      node.appendChild(thirdMenu);
    },

    clickNode() {
      
      this.checkData();
      // this.current_id = document.querySelectorAll('#selected-node').data-node
      // this.current_title = document.querySelectorAll('#selected-node').value
      // const idTarget = document.querySelectorAll('#' + this.current_id)
      // this.current_content = idTarget.querySelectorAll('.content').textContent
    },

    setChange() {
      const idTarget = document.getElementById(this.current_id)
      
      idTarget.getElementsByClassName('title')[0].textContent = this.organigram_data.title
      idTarget.getElementsByClassName('content')[0].textContent = this.organigram_data.content
      this.organigram_data.dialog = false
    },

    checkData() {
      setTimeout(() => {
        this.current_id = document.getElementById('selected-node').getAttribute("data-node")
        this.current_title = document.getElementById('selected-node').value
        const idTarget = document.getElementById(this.current_id)
        this.current_content = idTarget.getElementsByClassName('content')[0].textContent
      
        this.organigram_data.title = this.current_title
        this.organigram_data.content = this.current_content

        this.$store.commit('StoreOrgchart/showList', { state: 'current_department', data: { data : { id: this.$route.params.id, name: this.organigram_data.title } }})
        if (JSON.parse(document.getElementById(this.current_id).getAttribute("data-source")).id) {
          this.organigram_data.dialog = true;
          this.$router.replace('/organization/employee/'+ JSON.parse(document.getElementById(this.current_id).getAttribute("data-source")).id)
        } else {
          this.$router.replace('/organization/division/'+ JSON.parse(localStorage.getItem('current_division')).id)
        }
        // console.log('sadasdasdlasld')
        // console.log(document.getElementById(this.current_id).getAttribute("data-source"))
      }, 0)
      
    }

  },
  created () {
    // this.$store.dispatch('StoreOrgchart/listCompany')
    // this.$store.dispatch('StoreOrgchart/listDivision', this.$route.params.id)
    this.$store.dispatch('StoreOrgchart/listDepartment', this.$route.params.id)
    // const children = this.orgchart_state.divisions.map((data) => {
    //   return {
    //     name: data.name,
    //     content: ''
    //   }
    // })
    // this.chartData = {
    //   name: this.orgchart_state.current_company.name + this.orgchart_state.current_company.code,
    //   content: '',
    //   children,
    // }
  }
}
</script>

<style lang="scss">
  .organigram-page {
    .title {
      height: auto !important;
      background: #303030 !important;
      color: #DDAB27 !important;
      padding: 20px !important;
      padding-bottom: 5px !important;
      /* min-width: 130px;
      max-width: 300px;
      width: 100% !important; */
    }
    .second-menu {
      background: #303030 !important;
      color: red !important;
      padding-top: 5px;
    }
    .content {
      border-radius: 0px !important;
      padding: 5px;
      border: 1px solid #303030 !important;
      color: #DDAB27 !important;
      background: #303030 !important;
      /* min-width: 130px;
      max-width: 300px; */
      /* width: 100% !important; */
    }
  }
  .orgchart .node .content {
    height: 100% !important;
  }

  .detail-orgchart {
    padding: 5px;
    padding-bottom: 15px;
    border: 1px solid #303030;
    border-radius: 0 0 4px 4px;
    color: #DDAB27;
    background: #303030;
    /* min-width: 130px;
    max-width: 300px;
    width: 100% !important; */
    button {
      background: #DDAB27 !important;
      color: white;
      padding: 10px;
      border-radius: 4px;
    }
  }

  .second-menu {
    color: red;
    position: absolute;
    top: 5px;
    right: 8px;
  }
</style>
