<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="shift_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">Set of Working Hour</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Shift name <span class="red--text">*</span></label>
              <v-text-field
                v-model="shift_data.shift_name"
                class="gtalent-form"
                placeholder="Enter shift name"
                outlined
              ></v-text-field>

              <label>Shift start <span class="red--text">*</span></label>
              <v-text-field
                v-model="shift_data.shift_start"
                class="gtalent-form"
                placeholder="ex: 08:00:00"
                outlined
              ></v-text-field>

              <label>Shift end <span class="red--text">*</span></label>
              <v-text-field
                v-model="shift_data.shift_end"
                class="gtalent-form"
                placeholder="ex: 18:00:00"
                outlined
              ></v-text-field>
            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" @click="save">{{mode === 'create' ? 'Save' : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  },
  data() {
    return {
      shift_data: {
        dialog: false,
        shift_name: null,
        shift_start: null,
        shift_end: null,
      
      }
    }
  },
  methods: {
    openDialog(index) {
      this.shift_data.dialog = true;
      if(index >= 0) {
        this.shift_data.shift_name = this.attendance_state.shift[index].shift_name
        this.shift_data.shift_start = this.attendance_state.shift[index].shift_start
        this.shift_data.shift_end = this.attendance_state.shift[index].shift_end
        this.shift_data.shift_id = this.attendance_state.shift[index].shift_id
      }
      // this.shift_data.dialog = true;
    },
    save() {
      this.shift_data.dialog = false;
      if (this.mode === 'create') {
        this.$store.dispatch('StoreAttendance/createShift', this.shift_data)
        this.shift_data = {
          dialog: false,
          shift_name: null,
          shift_start: null,
          shift_end: null,
        }
      } else {
        this.$store.dispatch('StoreAttendance/editShift', this.shift_data)
      }
      
    }
  },
  
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

