<template>
    <v-container class="reimbursement-setting" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Shift
        </v-card-title>
        <v-card-title
          class="title-subhead"
          primary-title>
          List of Working hour
        </v-card-title>

        <v-card-text class="content-section">
          <div class="button-add">
            <v-btn small color="primary" @click="$refs.addShift.openDialog()">
              <i class="fas fa-cog gold--text"></i></v-btn> <span class="m__l--10 gold--text">Set of Working Hour</span> 
          </div>
          
          <br>

          <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right border-bottom number">No</th>
                    <th class="text-left border-right border-bottom category">Shift name</th>
                    <th class="text-left border-right border-bottom allowance">Time start</th>
                    <th class="text-left border-right border-bottom allowance">Time end</th>
                    <th class="text-left details border-bottom">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in attendance_state.shift" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.shift.length}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.shift.length}">{{item.shift_name}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.shift.length}">{{item.shift_start}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.shift.length}">{{item.shift_end}}</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== attendance_state.shift.length}">
                      <div class="float-to-left detail-column">
                        <v-btn small color="primary" class="m__r--5" @click="$refs.editShift.openDialog(index)"><v-icon dark>mdi-pencil</v-icon>Edit</v-btn>
                        <v-btn small color="primary" class="delete-button" @click="$store.dispatch('StoreAttendance/deleteShift', item)"><v-icon dark>mdi-delete</v-icon>Delete</v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <div v-if="attendance_state.shift.length < 1">
                    
                    <div class="float-to-center m__t--20">
                      Data is not found
                    </div>
                  </div>
          </div>
          

        </v-card-text>
      </v-card>

      <AddShift ref="addShift" mode="create"/>
      <AddShift ref="editShift" mode="edit"/>
      
    </v-container>
</template>
<script>
import AddShift from './AddShift'
import { mapState } from 'vuex'

export default {
  components: {
    AddShift,
  },
  data() {
    return {
      shift_data: {
        shift_name: null,
        shift_start: null,
        shift_end: null,
      }
    }
  },
  created() {
    this.$store.dispatch('StoreAttendance/listShift')
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  }
}
</script>
<style lang='scss'>
.reimbursement-setting {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

