<template>
    <v-container class="attendance-approval" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Attendance Report
        </v-card-title>

        <v-card-text class="content-section">
          <v-row class="m__t--30">

            <v-col></v-col>
            <v-col class="p__r--0">
               <date-picker v-model="report_data.date" class="gtalent-datepicker" placeholder="Select Date"/>
            </v-col>
            <v-col class="p__l--0">
               <vue-select v-model="report_data.department_id" :options="['Technology']" placeholder="- Select Department -" class="gtalent-select"/>
            </v-col>
            <v-col></v-col>
          </v-row>
          
          <div class="float-to-center m__t--50 payment-button ">
              <v-btn class="gold white--text w--200 br--20" @click="search">Go</v-btn>
          </div>
        </v-card-text>

          <v-card-title
            class="gold white--text m__t--50 f--16"
            primary-title>
            List Attendance
          </v-card-title>

          <v-card-text class="content-section m__t--30">
            <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table lightenGold">
                    <th class="text-left border-right border-bottom w--5">No</th>
                    <th class="text-left border-right border-bottom details">Employee Name</th>
                    <th class="text-left border-right border-bottom details">Working Days</th>
                    <th class="text-left border-right border-bottom details">Present</th>
                    
                    <th class="text-left details border-bottom">Absent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in attendance_state.report" :key="index">
                    
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.report.length}">{{index +1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.report.length}">{{item.name}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.report.length}">22</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.report.length}">20</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== attendance_state.report.length}">2</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>

          <div v-if="attendance_state.report.length < 1">   
            <div class="float-to-center m__t--20">
              Data is not found
            </div>
          </div>

          </v-card-text>
      </v-card>

      
      
    </v-container>
</template>
<script>
import { mapState } from 'vuex'

export default {
  components: {
    
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  },
  data() {
    return {
      report_data: {
        date: null,
        department_id: null,
      }
    }
  },
  methods: {
    search() {
      const req = {
        date: this.$moment(this.report_data.date).format('YYYY-MM-DD'),
        department_id: 1,
      }
      this.$store.dispatch('StoreAttendance/listReportAttendance', req)
    }
  }
}
</script>
<style lang='scss'>
.attendance-approval {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

