<template>
    <v-container class="reimbursement-setting" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Application List
        </v-card-title>
        <v-card-title
          class="title-subhead"
          primary-title>
          List of All Application
        </v-card-title>

        <v-card-text class="content-section">
          <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right border-bottom">Employee ID</th>
                    <th class="text-left border-right border-bottom category">Employee name</th>
                    <th class="text-left border-right border-bottom allowance">Start date</th>
                    <th class="text-left border-right border-bottom allowance">End date</th>
                    <th class="text-left border-right border-bottom allowance">Leave type</th>
                    <th class="text-left border-right border-bottom allowance">Detail</th>
                    <th class="text-left border-right border-bottom allowance">Status</th>
                    <th class="text-left details border-bottom">Detail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in attendance_state.application" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.employee_id}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.first_name}} {{item.last_name}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.leave_start_date}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.leave_end_date}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.category}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.reason}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">{{item.view_status === '1' ? 'Accepted' : 'Pending'}}</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== attendance_state.application.length}">view</td>
                    
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          

        </v-card-text>
      </v-card>
    </v-container>
</template>
<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      application_data: {
        result: null,
      }
    }
  },
  created() {
    this.$store.dispatch('StoreAttendance/listApplication')
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  }
}
</script>
<style lang='scss'>
.reimbursement-setting {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

