<template>
    <v-container class="attendance-approval" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Approval Overtime
        </v-card-title>

        <v-card-text class="content-section">
          <v-row class="m__t--30">

            <v-col></v-col>
            <v-col class="p__r--0">
               <date-picker class="gtalent-datepicker" placeholder="Select Date"/>
            </v-col>
            <v-col class="p__l--0">
               <vue-select v-model="test" :options="['Vue.js','React']" placeholder="- Select Department -" class="gtalent-select"/>
            </v-col>
            <v-col></v-col>
          </v-row>
          
          <div class="float-to-center m__t--50 payment-button ">
              <v-btn class="gold white--text w--200 br--20">Go</v-btn>
          </div>
        </v-card-text>

          <v-card-title
            class="gold white--text m__t--50 f--16"
            primary-title>
            Approval Overtime for December 2019
          </v-card-title>

          <v-card-text class="content-section m__t--30">
            <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table lightenGold">
                    <th class="text-left border-right border-bottom allowance">Employee ID</th>
                    <th class="text-left border-right border-bottom details">Employee</th>
                    <th class="text-left border-right border-bottom details">Department</th>
                    <th class="text-left border-right border-bottom details">Designation</th>
                    <th class="text-left border-right border-bottom details">Attendance</th>
                    <th class="text-left details border-bottom">Sefie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in 2" :key="index">
                    
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">GTA-001</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">Pandu Septian</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">IT</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">Lead Software Engineer</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">attendance</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== 2}">
                      []
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          <div class="float-to-center m__t--50 payment-button ">
              <v-btn class="gold white--text w--200 br--20">Update</v-btn>
          </div>
          </v-card-text>
      </v-card>

      
      
    </v-container>
</template>
<script>


export default {
  components: {
    
  },
  data() {
    return {
      reimbursement_data: {
        result: null,
      }
    }
  }
}
</script>
<style lang='scss'>
.attendance-approval {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

