<template>
    <v-container class="attendance-approval" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Approval Attendance
        </v-card-title>

        <v-card-text class="content-section">
          <v-row class="m__t--30">

            <v-col></v-col>
            <v-col cols="8" class="p__r--0">
               <date-picker v-model="approval_data.date" class="gtalent-datepicker br__tr--0 br__br--0" placeholder="Select Date"/>
            </v-col>
            
            <v-col></v-col>
          </v-row>

          <v-row>
            <v-col class="p__l--0">
              <v-select v-model="approval_data.company_id" outlined placeholder="Select Company" :items="orgchart_state.companies" item-value="id" item-text="name"/>
               <!-- <vue-select v-model="approval_data.department_id" :options="['Technology']" placeholder="- Select Department -" class="gtalent-select br__tl--0 br__bl--0"/> -->
            </v-col>
            <v-col class="p__l--0">
              <v-select v-model="approval_data.division_id" outlined placeholder="Select Division" :items="approval_data.company_id ? orgchart_state.divisions : []" item-value="id" item-text="name"/>
               <!-- <vue-select v-model="approval_data.department_id" :options="['Technology']" placeholder="- Select Department -" class="gtalent-select br__tl--0 br__bl--0"/> -->
            </v-col>
            <v-col class="p__l--0">
              <v-select v-model="approval_data.department_id" outlined placeholder="Select Department" :items="approval_data.division_id ? orgchart_state.departments : []" item-value="id" item-text="name"/>
               <!-- <vue-select v-model="approval_data.department_id" :options="['Technology']" placeholder="- Select Department -" class="gtalent-select br__tl--0 br__bl--0"/> -->
            </v-col>
          </v-row>
          
          <div class="float-to-center m__t--50 payment-button ">
              <v-btn class="gold white--text w--200 br--20" @click="searchApproval">Go</v-btn>
          </div>
        </v-card-text>

          <v-card-title
            class="gold white--text m__t--50 f--16"
            primary-title>
            Approval Attendance for {{approval_data.date | moment('MMMM YYYY')}}
          </v-card-title>

          <v-card-text class="content-section m__t--30">
            <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table lightenGold">
                    <th class="text-left border-right border-bottom allowance">Employee ID</th>
                    <th class="text-left border-right border-bottom details">Employee</th>
                    <th class="text-left border-right border-bottom details">Department</th>
                    <!-- <th class="text-left border-right border-bottom details">Designation</th> -->
                    <!-- <th class="text-left border-right border-bottom details">Attendance</th> -->
                    <th class="text-left details border-bottom">Sefie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in attendance_state.approval" :key="index">
                    
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">GTA-001</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">{{item.employee_name}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">{{item.department}}</td>
                    <!-- <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">Lead Software Engineer</td> -->
                    <!-- <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">attendance</td> -->
                    <td :class="{'border-bottom' : (Number(index)+1) !== attendance_state.approval.length}">
                     <v-img
                        :src="item.selfie"
                        lazy-src="https://picsum.photos/id/11/10/6"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        max-width="500"
                        max-height="300"
                      ></v-img>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          <div v-if="attendance_state.approval.length < 1">
                    
                    <div class="float-to-center m__t--20">
                      Data is not found
                    </div>
                  </div>
          <div class="float-to-center m__t--50 payment-button " v-if="attendance_state.approval.length > 0">
              <v-btn class="gold white--text w--200 br--20" @click="searchApproval">Update</v-btn>
          </div>
          </v-card-text>
      </v-card>

      
      
    </v-container>
</template>
<script>
import { mapState } from 'vuex'

export default {
  components: {
    
  },
  computed: {
    ...mapState('StoreOrgchart', ['orgchart_state']),
    ...mapState('StoreAttendance', ['attendance_state'])
  },
  data() {
    return {
      approval_data: {
        date: null,
        department_id: null,
        division_id: null,
        company_id: null,
      }
    }
  },
  created() {
    this.$store.dispatch('StoreOrgchart/listCompany')
  },
  watch: {
    // 'approval_data.department_id': function(newVal) {

    // },
    'approval_data.division_id': function(newVal) {
        this.$store.dispatch('StoreOrgchart/listDepartment', newVal)
    },
    'approval_data.company_id': function(newVal) {
        this.$store.dispatch('StoreOrgchart/listDivision', newVal)
    }
  },
  methods: {
    searchApproval() {
      const req = {
        date: this.$moment(this.approval_data.date).format('YYYY-MM-DD'),
        division_id: this.approval_data.division_id,
        company_id: this.approval_data.company_id,
        department_id: this.approval_data.department_id,
      }
      this.$store.dispatch('StoreAttendance/listApprovalAttendance', req)
    }
  }
}
</script>
<style lang='scss'>
.attendance-approval {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

