<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="leave_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">Set Leave Category</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Category name <span class="red--text">*</span></label>
              <v-text-field
                v-model="leave_data.category"
                class="gtalent-form"
                placeholder="Enter category name"
                outlined
              ></v-text-field>

              <label>Total leave (days) <span class="red--text">*</span></label>
              <v-text-field
                v-model="leave_data.total_leave"
                class="gtalent-form"
                placeholder="Enter total leave"
                type="number"
                outlined
              ></v-text-field>

            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="save">{{mode === 'create' ? 'Save' : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  },
  data() {
    return {
      leave_data: {
        dialog: false,
        category: null,
        total_leave: null,
      }
    }
  },
  methods: {
    openDialog(index) {
      this.leave_data.dialog = true;
      if(index >= 0) {
        this.leave_data.category = this.attendance_state.leave[index].category
        this.leave_data.total_leave = this.attendance_state.leave[index].total_leave
        this.leave_data.leave_category_id = this.attendance_state.leave[index].leave_category_id
      }
    },

    save() {
      this.leave_data.dialog = false;
      if (this.mode === 'create') {
        this.$store.dispatch('StoreAttendance/createLeave', this.leave_data)
        this.leave_data = {
          dialog: false,
          category: null,
          total_leave: null,
        }
      } else {
        this.$store.dispatch('StoreAttendance/editLeave', this.leave_data)
      }
      
    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

