<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="reimbursement_add_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">Set Attendance Point</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label> Point name <span class="red--text">*</span></label>
              <v-text-field
                v-model="reimbursement_add_data.test"
                class="gtalent-form"
                placeholder="Enter point name"
                outlined
              ></v-text-field>

              <label>Point Address <span class="red--text">*</span></label>
              <v-text-field
                v-model="reimbursement_add_data.test"
                class="gtalent-form"
                placeholder="Enter point address"
                outlined
              ></v-text-field>

              <label>Point status <span class="red--text">*</span></label>
              <vue-select v-model="test" :options="['Inactive','Active']" placeholder="status" class="gtalent-select"/>

            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="dialog = false">{{mode === 'create' ? 'Save' : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  data() {
    return {
      reimbursement_add_data: {
        dialog: false,
        test: null,
      }
    }
  },
  methods: {
    openDialog() {
      this.reimbursement_add_data.dialog = true;
    },
    test() {}
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

