<template>
    <v-container fluid>
      <h2 class="f--24">
        Approval
      </h2>
      <v-row>
        <v-col cols="12" md="6">
          <label> Attendance <span class="red--text">*</span></label>
          <v-select v-model="dataAttendance.attendance" outlined placeholder="Select Role" :items="[{ id:0, name: 'Admin Only'}, { id:1, name: 'Admin and Employee'}]" item-value="id" item-text="name"/>
        </v-col>
        <v-col cols="12" md="6">
          <label> Leave <span class="red--text">*</span></label>
          <v-select v-model="dataAttendance.leave" outlined placeholder="Select Role" :items="[{ id:0, name: 'Admin Only'}, { id:1, name: 'Admin and Employee'}]" item-value="id" item-text="name"/>
        </v-col>
        <v-col cols="12" md="6">
          <label> Overtime <span class="red--text">*</span></label>
          <v-select v-model="dataAttendance.overtime" outlined placeholder="Select Role" :items="[{ id:0, name: 'Admin Only'}, { id:1, name: 'Admin and Employee'}]" item-value="id" item-text="name"/>
        </v-col>
        <v-col cols="12" md="6">
          <label> Reimbursement <span class="red--text">*</span></label>
          <v-select v-model="dataAttendance.reimbursement" outlined placeholder="Select Role" :items="[{ id:0, name: 'Admin Only'}, { id:1, name: 'Admin and Employee'}]" item-value="id" item-text="name"/>
        </v-col>
        <v-col cols="12" md="6">
          <label> Direct Report <span class="red--text">*</span></label>
          <v-select v-model="dataAttendance.direct_report" outlined placeholder="Select Role" :items="[{ id:0, name: 'Admin Only'}, { id:1, name: 'Admin and Employee'}]" item-value="id" item-text="name"/>
        </v-col>
      </v-row>
    </v-container>
</template>


<script>
import AttendanceLeave from './AttendanceLeave'
import AttendancePoint from './AttendancePoint'
import Datepicker from 'vuejs-datepicker';
 
export default {
  components: {
    AttendanceLeave,
    AttendancePoint,
    Datepicker
  },
  data() {
    return {
      dataAttendance: {
        attendance: null,
        leave: null,
        direct_report: null,
        overtime: null,
        reimbursement: null,
      }
    }
  }
}

</script>