<template>
    <v-container fluid>
      <h2 class="f--24">
        Attendance
      </h2>
      <v-row>
        <v-col cols="12" md="6">
          <h3 class="f--18">
            Working Days
          </h3>
          <p class="grey--text f--12">Set your working day at your company</p>
          <v-row>
            <v-col cols="12" md="6">
              <v-checkbox v-model="test2" label="Monday"></v-checkbox>
              <v-checkbox v-model="test2" label="Tuesday"></v-checkbox>
              <v-checkbox v-model="test2" label="Wednesday"></v-checkbox>
              <v-checkbox v-model="test2" label="Thursday"></v-checkbox>
            </v-col>
            <v-col cols="12" md="6">
               <v-checkbox v-model="test2" label="Friday"></v-checkbox>
               <v-checkbox v-model="test2" label="Sunday"></v-checkbox>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          <h3 class="f--18">
            Working Hours
          </h3>
          <p class="grey--text f--12">Set your working hours at your company</p>
          <vue-timepicker format="hh:mm a" v-model="dataAttendance.start" /> - <vue-timepicker format="hh:mm a" v-model="dataAttendance.end" />
        </v-col>
        <v-col cols="12" md="12">
          <AttendanceLeave />
        </v-col>
        <v-col cols="12" md="12">
          <AttendancePoint />
        </v-col>
        <v-col cols="12" md="6">
          
        </v-col>
      </v-row>
    </v-container>
</template>


<script>
import AttendanceLeave from './AttendanceLeave'
import AttendancePoint from './AttendancePoint'
import Datepicker from 'vuejs-datepicker';
 
export default {
  components: {
    AttendanceLeave,
    AttendancePoint,
    Datepicker
  },
  data() {
    return {
      test2: null,
      dataAttendance: {
        start: '',
        end: '',
      }
    }
  },
  methods: {
    test() {}
  }
}

</script>