<template>
    <v-container class="reimbursement-setting" fluid>
          <h3>Attendance Point</h3>

          <p class="grey--text">to determine the point where you can be absent around the office</p>
      
          <div class="button-add">
            <v-btn small color="primary" @click="$refs.addPoint.openDialog()">
              <i class="fas fa-cog gold--text"></i></v-btn> <span class="m__l--10 gold--text">Set Attendance Point</span> 
          </div>
          
          <br>

          <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right border-bottom number">No</th>
                    <th class="text-left border-right border-bottom category">Point name</th>
                    <th class="text-left border-right border-bottom allowance">Point address</th>
                    <th class="text-left border-right border-bottom allowance">status</th>
                    <th class="text-left details border-bottom">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in 1" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 1}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 1}">Gtalent office</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 1}">18:3ee:99:09</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 1}">Active</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== 1}">
                      <div class="float-to-left detail-column">
                        <v-btn small color="primary" class="m__r--5" @click="$refs.editPoint.openDialog()"><v-icon dark>mdi-pencil</v-icon>Edit</v-btn>
                        <v-btn small color="primary" class="delete-button"><v-icon dark>mdi-delete</v-icon>Delete</v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>

      <AddPoint ref="addPoint" mode="create"/>
      <AddPoint ref="editPoint" mode="edit"/>
      
    </v-container>
</template>
<script>
import AddPoint from './AddPoint'

export default {
  components: {
    AddPoint,
  },
  data() {
    return {
      reimbursement_data: {
        result: null,
      }
    }
  }
}
</script>
<style lang='scss'>
.reimbursement-setting {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

