<template>
    <v-container class="reimbursement-setting" fluid>

          <h3>Leave Category</h3>

          <p class="grey--text">Set your category leave for the company</p>
      
          <div class="button-add">
            <v-btn small color="primary" @click="$refs.addLeave.openDialog()">
              <i class="fas fa-cog gold--text"></i></v-btn> <span class="m__l--10 gold--text">Set Leave Category</span> 
          </div>
          
          <br>

          <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right border-bottom number">No</th>
                    <th class="text-left border-right border-bottom category">Category name</th>
                    <th class="text-left border-right border-bottom allowance">Total leave</th>
                    <th class="text-left details border-bottom">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in attendance_state.leave" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.leave.length}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.leave.length}">{{item.category}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== attendance_state.leave.length}">{{item.total_leave}} Day{{Number(item.total_leave) > 1 ? 's': ''}}</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== attendance_state.leave.length}">
                      <div class="float-to-left detail-column">
                        <v-btn small color="primary" class="m__r--5" @click="$refs.editLeave.openDialog(index)"><v-icon dark>mdi-pencil</v-icon>Edit</v-btn>
                        <v-btn small color="primary" class="delete-button" @click="$store.dispatch('StoreAttendance/deleteLeave', item)"><v-icon dark>mdi-delete</v-icon>Delete</v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <div v-if="attendance_state.leave.length < 1">
                    
                    <div class="float-to-center m__t--20">
                      Data is not found
                    </div>
                  </div>
          </div>
          

        

      <AddLeave ref="addLeave" mode="create"/>
      <AddLeave ref="editLeave" mode="edit"/>
      
    </v-container>
</template>
<script>
import AddLeave from './AddLeave'
import { mapState } from 'vuex'

export default {
  components: {
    AddLeave,
  },
  created() {
    this.$store.dispatch('StoreAttendance/listLeave')
  },
  computed: {
    ...mapState('StoreAttendance', ['attendance_state'])
  },
  
  data() {
    return {
      reimbursement_data: {
        result: null,
      }
    }
  }
}
</script>
<style lang='scss'>
.reimbursement-setting {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

