<template>
  <v-container fluid class="payroll-setting">
            <div >
                <h2 >{{$t('payroll setting')}}</h2>
            </div>
              <!-- <div>
                  <h3>TAX PPH 21 (Pajak)</h3>
              </div>
              <v-row>
                  <v-col md="12">
                      <v-btn class="btn-add black--text" depressed><v-icon class="black gold--text p--6 m__r--12">fa-cog</v-icon>Add PTKP (Penghasilan Tidak Kena Pajak)</v-btn>
                      <v-simple-table>
                          <template v-slot:default>
                          <thead>
                              <tr>
                              <th class="text-left">No</th>
                              <th class="text-left">Marital Status</th>
                              <th class="text-left">PTKP</th>
                              <th class="text-left">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="item in ptkp" :key="item.name">
                              <td>{{ item.no }}</td>
                              <td>{{ item.marital }}</td>
                              <td style="text-align:right;">{{ item.ptkp }}</td>
                              <td><v-btn class="btn-action black red--text " depressed><v-icon>fa-trash</v-icon>Delete</v-btn></td>
                              </tr>
                          </tbody>
                          </template>
                      </v-simple-table>
                  </v-col>
                  <v-col md="12">
                      <v-btn class="btn-add black--text" depressed><v-icon class="black gold--text p--6 m__r--12">fa-cog</v-icon>Add PKP (Penghasilan Kena Pajak)</v-btn>
                      <v-simple-table >
                          <template v-slot:default>
                          <thead>
                              <tr>
                              <th class="text-left">No</th>
                              <th class="text-left">Rate</th>
                              <th class="text-left">Value</th>
                              <th class="text-left">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="item in pkp" :key="item.name">
                              <td>{{ item.no }}</td>
                              <td>{{ item.marital }}</td>
                              <td style="text-align:right;">{{ item.ptkp }}</td>
                              <td><v-btn class="btn-action black red--text " depressed><v-icon>fa-trash</v-icon>Delete</v-btn></td>
                              </tr>
                          </tbody>
                          </template>
                      </v-simple-table>
                  </v-col>
              </v-row> -->
            <div >
                <h3 >{{$t('social insurance & tax')}} </h3>
            </div>
            <v-row >
                <v-col md="6">
                    <p>( BPJS Kesehatan) {{$t('company_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="bpjs_kes_per"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS Kesehatan) {{$t('employee_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="bpjs_kes_kar"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JKK) {{$t('company_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jkk_per"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JKK) {{$t('employee_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jkk_kar"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JK) {{$t('company_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jk_per"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JK) {{$t('employee_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jk_kar"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JHT) {{$t('company_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jht_per"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JHT) {{$t('employee_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jht_kar"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JP) {{$t('company_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jp_per	"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>(BPJS JP) {{$t('employee_contribution')}} %<span class="red--text">*</span></p>
                    <v-text-field placeholder="0" outlined hide-details v-model="jp_kar"></v-text-field>
                </v-col>
                <v-col md="6">
                    <p>{{$t('date_of_payroll_payout')}}<span class="red--text">*</span></p>
                    <v-select placeholder="Number" outlined hide-details :items="itemPayout" v-model="payout"></v-select>
                </v-col>
                <v-col md="6">
                    <p>{{$t('date_of_payroll_cutoff')}}<span class="red--text">*</span></p>
                    <v-select placeholder="Number" outlined hide-details :items="itemCutOff" v-model="cutoff"></v-select>
                </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="cutOffSave()">{{$t('save')}}</v-btn>
            </div>
        <v-row>
            <v-col md="12">
                    <div >
                        <h3 >{{$t('allowance')}}</h3>
                    </div>
                    <v-btn class="btn-add gold--text m__b--12 m__t--8" style="border:1px solid #DDAB27;" depressed @click.stop="dialogAllowance=true"><v-icon class="gold--text p--6 m__r--6">fa-cog</v-icon>{{$t('add')+' '+$t('allowance')}}</v-btn>
                    <v-simple-table style="margin-top:0!important">
                        <template v-slot:default>
                        <thead>
                            <tr>
                            <th class="text-left">No</th>
                            <th class="text-left">{{$t('allowance')}}</th>
                            <th class="text-left">{{$t('type')}}</th>
                            <th class="text-left">{{$t('action')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in allowance" :key="index">
                            <td>{{ index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.type }}</td>
                            <td><v-btn @click="deleteAllowance(index)" class="btn-action red white--text" depressed><v-icon>fa-trash</v-icon></v-btn></td>
                            </tr>
                        </tbody>
                        </template>
                    </v-simple-table>
                    <v-dialog v-model="dialogAllowance" width="600">
                        <v-card>
                            <div class="p--20 blackHeader">
                                <h5 class="gold--text title font-weight-bold">{{$t('add')+' '+$t('allowance')}}</h5>
                            </div>
                            <div>
                                <v-row class="m__l--20 m__r--20">
                                    <v-col md="12">
                                        <p>{{$t('allowance_name')}}<span class="red--text">*</span></p>
                                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="newAllowance" ></v-text-field>
                                    </v-col>
                                </v-row>
                            </div>
                            <div style="display:flex;">
                                <v-btn class="btn-save gold white--text" @click="addNewAllowance()">Save</v-btn>
                            </div>
                        </v-card>
                    </v-dialog>
            </v-col>
            <v-col md="12">
                    <div>
                        <h3>{{$t('deduction')}}</h3>
                    </div>
                    <v-btn class="btn-add gold--text m__b--12 m__t--8" style="border:1px solid #DDAB27;"  depressed @click.stop="dialogDeduction=true"><v-icon class="gold--text p--6 m__r--6">fa-cog</v-icon>Add deduction</v-btn>
                    <v-simple-table style="margin-top:0!important">
                        <template v-slot:default>
                        <thead>
                            <tr>
                            <th class="text-left">No</th>
                            <th class="text-left">{{$t('deduction')}}</th>
                            <th class="text-left">{{$t('type')}}</th>
                            <th class="text-left">{{$t('action')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in deduction" :key="index">
                            <td>{{ index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.type }}</td>
                            <td><v-btn class="btn-action red white--text" depressed @click="deleteDeduction(index)"><v-icon>fa-trash</v-icon></v-btn></td>
                            </tr>
                        </tbody>
                        </template>
                    </v-simple-table>
                    <v-dialog v-model="dialogDeduction" width="600">
                        <v-card>
                            <div class="p--20 blackHeader">
                                <h5 class="gold--text title font-weight-bold">{{$t('deduction')}}</h5>
                            </div>
                            <div>
                                <v-row class="m__l--20 m__r--20">
                                    <v-col md="12">
                                        <p>{{$t('deduction_name')}}<span class="red--text">*</span></p>
                                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="newDeduction" ></v-text-field>
                                    </v-col>
                                </v-row>
                            </div>
                            <div style="display:flex;">
                                <v-btn class="btn-save gold white--text" @click="addNewDeduction()">Save</v-btn>
                            </div>
                        </v-card>
                    </v-dialog>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>
import axios from 'axios'
export default {
    data() {
        return{
            bpjs_kes_kar:null,
            bpjs_kes_per:null,
            jkk_kar:null,
            jkk_per:null,
            jk_kar:null,
            jk_per:null,
            jht_kar:null,
            jht_per:null,
            jp_kar:null,
            jp_per:null,
            cutoff:null,
            payout:null,
            itemCutOff:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
            itemPayout:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25],
            dialogAllowance:false,
            typeAllowanceDeduction:['Daily','Montly'],
            newAllowance:null,
            typeAllowance:null,
            dialogDeduction:false,
            newDeduction:null,
            ptkp: [
                {
                    no: 1,
                    marital: 'Single',
                    ptkp: '54.000.000,00',
                }
            ],
            pkp: [
                {
                    no: 1,
                    marital: '5%',
                    ptkp: '54.000.000,00',
                }
            ],
            allowance: null,
            deduction:null
        }
    },
    methods:{
        deleteDeduction(val){
            axios.delete('https://phpstack-307371-955427.cloudwaysapps.com/api/delete_deduction/'+val).then(resp=>{
                this.getData()
            })
        },
        addNewDeduction(){
            let bodyFormData = new FormData();
            bodyFormData.append('deduction',this.newDeduction)
            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/add_deduction',
                data:bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.newDeduction=null
                this.dialogDeduction=false
                this.getData()
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully add data'
                })
            })
        },
        deleteAllowance(val){
            axios.delete('https://phpstack-307371-955427.cloudwaysapps.com/api/delete_allowance/'+val).then(resp=>{
                this.getData()
            })
        },
        addNewAllowance(){
            let bodyFormData = new FormData();
            bodyFormData.append('allowance',this.newAllowance)
            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/add_allowance',
                data:bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.newAllowance=null
                this.dialogAllowance=false
                this.getData()
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully add data'
                })
            })
        },
        cutOffSave(){
            let bodyFormData = new FormData();
            bodyFormData.append('bpjs_kes_kar',parseFloat(this.bpjs_kes_kar))
            bodyFormData.append('bpjs_kes_per',parseFloat(this.bpjs_kes_per))
            bodyFormData.append('jkk_kar',parseFloat(this.jkk_kar))
            bodyFormData.append('jkk_per',parseFloat(this.jkk_per))
            bodyFormData.append('jk_kar',parseFloat(this.jk_kar))
            bodyFormData.append('jk_per',parseFloat(this.jk_per))
            bodyFormData.append('jht_kar',parseFloat(this.jht_kar))
            bodyFormData.append('jht_per',parseFloat(this.jht_per))
            bodyFormData.append('jp_kar',parseFloat(this.jp_kar))
            bodyFormData.append('jp_per',parseFloat(this.jp_per))
            bodyFormData.append('cutoff',this.cutoff)
            bodyFormData.append('payout',this.payout)
            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/save_bpjs_cutoff',
                data:bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                console.log(resp)
                const Toast = this.$swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 3000
                })
                Toast.fire({
                    type: 'success',
                    title: 'successfully save data'
                })
            })
        },
        getData(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/payroll_settings',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
            let bpjs = resp.data.data.bpjs
            let data = resp.data.data
            this.bpjs_kes_kar=bpjs.kes.e
            this.bpjs_kes_per=bpjs.kes.c
            this.jkk_kar=bpjs.jkk.e
            this.jkk_per=bpjs.jkk.c
            this.jk_kar=bpjs.jk.e
            this.jk_per=bpjs.jk.c
            this.jht_kar=bpjs.jht.e
            this.jht_per=bpjs.jht.c
            this.jp_kar=bpjs.jp.e
            this.jp_per=bpjs.jp.c
            this.cutoff=parseInt(data.cutoff)
            this.payout=parseInt(data.payout)
            this.allowance=data.payroll.allowances
            this.deduction=data.payroll.deductions
            })
        }
    },
    created(){
        this.getData()
    }

}
</script>

<style lang="scss">
  .payroll-setting{
        .btn-add{
            background-color: transparent!important;
            padding: 0 8px!important;
            text-transform: capitalize;
            font-size: 16px!important;
            font-weight: 700!important;
            .v-icon{
                border-radius: 4px;
                font-size: 16px;
            }
        }
        .v-data-table{
            .v-data-table__wrapper {
                border-radius: 6px;
                border: 1px solid #303030;
            }
            thead{
                background: #EED592;
            }
            th,td{
                border-right:1px solid #303030;
                border-bottom:1px solid #303030!important;
            }
            th:last-child,td:last-child{
                border-right:unset;
                width: 100px;
            }
            .v-chip{
              font-size: 10px;
            }
            .btn-action{
              font-size: 12px;
              padding: 0!important;
              text-transform: capitalize;
              margin-right: 4px;
              .v-icon{
                font-size: 12px;
                margin-right: 4px;
              }
            }
            .btn-action:last-child{
              margin-right: 0;
            }
        }
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .v-text-field>.v-input__control>.v-input__slot:before{
            border-color: transparent!important;
        }
        .v-text-field>.v-input__control>.v-input__slot:after{
            border-color: transparent;
        }
    }
</style>