<template>
    <v-container class="reimbursement-setting" fluid>
      <!-- <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          
        </v-card-title>
        <v-card-title
          class="title-subhead"
          primary-title>
          List of Reimbursement
        </v-card-title>

        <v-card-text class="content-section"> -->
          <h3 class="m__b--12 f--24"> Reimbursement Setting </h3>
          <p class="grey--text f--12 m__b--20">
            Please enter any type of reimbursement in your company
          </p>
          <div class="button-add">
            <v-btn small @click="$refs.addReimbursement.openDialog()" class="w--200 create-button h--30">
              <v-icon class="gold--text">mdi-plus</v-icon>
              <span class="m__l--10 b--white gold--text">Add reimbursement</span> 
            </v-btn>
          </div>
          
          <br>

          <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right border-bottom number">No</th>
                    <th class="text-left border-right border-bottom category">Category</th>
                    <th class="text-left border-right border-bottom allowance">As allowance</th>
                    <th class="text-left details border-bottom">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in reimbursement_state.add" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== reimbursement_state.add.length}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== reimbursement_state.add.length}">{{item.expense_cat}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== reimbursement_state.add.length}">{{item.include_payroll}}</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== reimbursement_state.add.length}">
                      <div class="float-to-left detail-column">
                        <v-btn small color="primary" class="m__r--5" @click="$refs.EditReimbursement.openDialog(index)"><v-icon dark>mdi-pencil</v-icon>Edit</v-btn>
                        <v-btn small color="primary" class="delete-button" @click="deleteCategory(item, index)"><v-icon dark>mdi-delete</v-icon>Delete</v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          

        <!-- </v-card-text>
      </v-card> -->

      <AddReimbursement mode="create" ref="addReimbursement"/>
      <AddReimbursement mode="edit" ref="EditReimbursement"/>
    </v-container>
</template>
<script>
import AddReimbursement from './AddReimbursement'
import { mapState } from 'vuex'

export default {
  components: {
   AddReimbursement,
  },
  data() {
    return {
      reimbursement_data: {
        result: null,
      }
    }
  },
  created() {
    this.$store.dispatch('StoreReimbursement/listCategory');
  },
  computed: {
    ...mapState('StoreReimbursement', ['reimbursement_state']),
  },
  methods: {
    deleteCategory(data, index) {
      this.$store.dispatch('StoreReimbursement/deleteCategory', data)
      // this.$store.commit('StoreReimbursement/deleteCategory', index)
    }
  },
}
</script>
<style lang='scss'>
.reimbursement-setting {
  /* .create-button {
    background: #FFF !important;
  } */
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      text-transform: capitalize;
      background-color: #FFF !important;
      border: 1px solid #DBAB27;
      box-shadow: none;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

