<template>
    <v-container fluid>
        <h3 class="m__b--12">
            Change Password
        </h3>
        <p class="grey--text m__b--24">
            In Order to protect your account, make sure your password:
            <br>
            - is longer than 8 characters.
            <br>
            - is less than 14 characters
            <br>
            - Combine uppercase and lowercase letters .
            <br>
            - Combine numbers and alphabet.
            <br>
            - Does not match or significantly contain your username, e.g do not use 'username123'
        </p>

        <label> Old Password <span class="red--text">*</span></label>
        <v-text-field
            v-model="itemData.old_number"
            class="gtalent-form"
            type="password"
            placeholder="Enter old password"
            outlined
        ></v-text-field>

        <label> New Password <span class="red--text">*</span></label>
        <v-text-field
            v-model="itemData.new_password"
            class="gtalent-form"
            type="password"
            placeholder="Enter new password"
            outlined
        ></v-text-field>

        <label> Confirm New Password <span class="red--text">*</span></label>
        <v-text-field
            v-model="itemData.confirm_new_password"
            class="gtalent-form"
            type="password"
            placeholder="Enter conform new password"
            outlined
        ></v-text-field>

        <div class="float-to-center">
            <v-btn class="gold white--text w--300 m__b--23 capitalize"> 
            Change Password
            </v-btn>
        </div>
        <div class="float-to-center gold--text f--12 cursor-pointer">
            Forgot Password ?
        </div>  
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            
            itemData: {
                old_number: null,
                confirm_new_password: null,
                new_password: null,
            },
            
        }
    },
}
</script>