<template>
    <v-container class="profile-page">
        <h3 class="f--24 m__b--24">
            Profile
        </h3>   
        <v-row>
            <v-col cols="12" md="3">
                <div class="grey w--174 br--6 h--174 m__b--15">
                    <v-img :src="url" aspect-ratio="1.7"></v-img>
                </div>
                
                <v-btn class="gold white--text capitalize w--174">
                    <v-file-input
                        v-model="files"
                        placeholder="Upload your documents"
                        label="File input"
                        multiple
                        prepend-icon=""
                        ></v-file-input>
                    Upload Picture
                </v-btn>
                
            </v-col>
            <v-col cols="12" md="8">
                <v-row>
                    <v-col cols="12" md="6">
                        <label> Employee Name <span class="red--text">*</span></label>
                        <v-text-field
                            v-model="itemData.employee_name"
                            class="gtalent-form"
                            placeholder="Enter point name"
                            outlined
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Marital Status <span class="red--text">*</span></label>
                        <v-select v-model="itemData.marital_status" outlined placeholder="Select Marital Status" :items="[{id: 2, name: 'Single'}]" item-value="id" item-text="name"/>
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Employee ID <span class="red--text">*</span></label>
                        <v-text-field
                            v-model="itemData.employee_id"
                            class="gtalent-form"
                            placeholder="Enter point name"
                            outlined
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Email <span class="red--text">*</span></label>
                        <v-text-field
                            v-model="itemData.email"
                            class="gtalent-form"
                            placeholder="Enter point name"
                            outlined
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Job Title <span class="red--text">*</span></label>
                        <v-text-field
                            v-model="itemData.job_title"
                            class="gtalent-form"
                            placeholder="Enter point name"
                            outlined
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Phone Number <span class="red--text">*</span></label>
                        <v-text-field
                            v-model="itemData.phone_number"
                            class="gtalent-form"
                            type="number"
                            placeholder="Enter point name"
                            outlined
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Division <span class="red--text">*</span></label>
                        <v-select v-model="itemData.division" outlined placeholder="Select Division" :items="[{id: 2, name: 'Finance'}]" item-value="id" item-text="name"/>
                    </v-col>
                    <v-col cols="12" md="6">
                        <label> Department <span class="red--text">*</span></label>
                        <v-select v-model="itemData.department" outlined placeholder="Select Department" :items="[{id: 1, name: 'Tech'}]" item-value="id" item-text="name"/>
                    </v-col>
                    <v-col cols="12">
                        <div class="float-to-center">
                            <v-btn class="gold white--text w--300 capitalize"> 
                            Save
                            </v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        
       
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            files: null,
            itemData: {
                employee_name: null,
                marital_status: null,
                employee_id: null,
                email: null,
                job_title: null,
                phone_number: null,
                division: null,
                department: null,
            },
            url: '',
        }
    },
    watch: {
        files(newVal) {
            const file = newVal[0];
            this.url = URL.createObjectURL(file)
        }
    },
    created() {
        // department

        // Division 
    }
}
</script>

<style lang="scss">
.profile-page {
    .v-select.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections {
        padding: 0px !important;
    }
    .v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {
        min-height: auto;
    }
    .v-icon.notranslate.fas.fa-caret-down.theme--light {
        &:before {
            margin-top: -15px;
        }
    }

    /* .v-input.hidden.v-input--is-label-active.v-input--is-dirty.theme--light.v-text-field.v-text-field--is-booted.v-text-field--placeholder.v-file-input {
        opacity: 0;
        position: absolute;
    } */
    .v-file-input {
        opacity: 0;
        position: absolute;
    }

    .v-responsive__sizer {
        padding-bottom: 100% !important;
    }

}

</style>
    