<template>
    <v-container fluid class="dashboard">
        <v-row >
          <v-col md="12">
            <h1 class="gold--text">{{name}}</h1>
            <p class="greetings">{{$t('welcome_dashboard')}}</p>
          </v-col>
        </v-row>
        <v-row>
            <v-col>
              <v-card class="calendar-dashboard">
                <FullCalendar 
                  :plugins="calendarPlugins"
                  :events="events"
                  eventBackgroundColor="#f44336"
                  eventTextColor="#fff"
                  eventBorderColor="#fff"
                  contentHeight= 200
                  :buttonText="buttonTextCalendar"
                  :locale="languageCalendar"
                  :columnHeaderFormat="{ weekday: 'long' }"
                  @eventClick="detailDay"
                  :header="{
                  left: 'dayGridMonth,timeGridWeek,timeGridDay',
                  center: 'prev title next',
                  right: '',
                  }" 
                  />
                  <v-card class="right-toolbar">
                    <span><i class="fas fa-square" style="color:#BE2C2C;"></i>{{$t('holiday')}}</span>
                    <span><i class="fas fa-square" style="color:#2C89BE;"></i>{{$t('on_leave')}}</span>
                  </v-card>
              </v-card>
            </v-col>
        </v-row>
        <v-row>
          <v-col md="4">
            <v-card class="card-summary red">
              <h5 class="white--text">{{$t('total_expense')}}</h5>
              <v-card class="summary-content">
                <p class="red--text">Rp {{ dashboard_state.data ? dashboard_state.data.total_expense :0 }}</p>
              </v-card>
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card class="card-summary green">
              <h5 class="white--text">{{$t('total_employee')}}</h5>
              <v-card class="summary-content">
                <p class="green--text">{{dashboard_state.data ? dashboard_state.data.total_employee : 0}}</p>
              </v-card>
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card class="card-summary gold">
              <h5 class="white--text">{{$t('total_reward')}}</h5>
              <v-card class="summary-content">
                <p class="gold--text">{{dashboard_state.data ? dashboard_state.data.total_award : 0}}</p>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6">
            <v-card class="recent-application">
              <div class="header">
                <h5 class="white--text p--10 ">{{$t('recent_application')}}</h5>
              </div>
              <v-data-table
                :headers="headersApplicant"
                :items="dashboard_state.data ? dashboard_state.data.recent_application : []"
                :items-per-page="5"
                :no-data-text="$t('no_data')"
                :footer-props="{'items-per-page-text': $t('row_per_page')}"
                class="elevation-1">

                <template v-slot:item.number="{item, index}">
                    <!-- <span>{{index}}</span> -->
                </template>

                <template v-slot:item.employee="{item}">
                    <span>{{item.first_name}} {{item.last_name}}</span>
                </template>

                <template v-slot:item.leave="{item}">
                    <span>Leave</span>
                </template>
              </v-data-table>
            </v-card>
          </v-col>
          <v-col md="6">
            <v-card class="company-event">
              <div class="header">
                <h5 class="white--text p--10">{{$t('company_event')}}</h5>
              </div>
              <v-data-table
                :headers="headersLeave"
                :items="dashboard_state.data ? dashboard_state.data.events : []"
                :items-per-page="5"
                :no-data-text="$t('no_data')"
                :footer-props="{'items-per-page-text': $t('row_per_page')}"
                class="elevation-1">
                <template v-slot:item.description="{item}">
                    <span>-</span>
                </template>
              </v-data-table>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
</template>
<script>
import store from '@/stores'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import { mapState } from 'vuex'
import { stringify } from 'querystring'

export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  created() {
    this.$store.dispatch('StoreDashboard/listDashboard')
    this.name=localStorage.getItem('user_name')
    console.log(this.$vuetify.theme)
  },
  computed: {
    ...mapState('StoreDashboard', ['dashboard_state']),
    languageCalendar(){
      if(store.state.i18n.language=='id'){
        this.buttonTextCalendar={
          month:    'Bulan',
          week:     'Minggu',
          day:      'Hari'
        }
      }else{
        this.buttonTextCalendar={
          month:    'Month',
          week:     'Week',
          day:      'Day'
        }
      }
      return store.state.i18n.language
    },
    headersApplicant(){
      return [
        {
          text: 'No',
          align: 'left',
          sortable: false,
          value: 'number',
        },
        { text: this.$t('employee'), value: 'employee' },
        { text: this.$t('request')+'/'+this.$t('leave'), value: 'leave' }
      ]
    },
    headersLeave(){
      return[
        {
          text: this.$t('date'),
          align: 'left',
          sortable: false,
          value: 'start_date',
        },
        { text: this.$t('type'), value: 'event_name' },
        { text: this.$t('description'), value: 'description' }
      ]
    }
  },
  watch: {
    'dashboard_state.data': function(newVal) {
       
          if (newVal) {
            const newFormat = newVal.holiday.map((data) => {
              return {
                title: data.summary,
                date: data.start,
                backgroundColor: '#f44336',
              }
            })
            this.events.push(...newFormat)
          
        }
       
      }
  },
  methods: {
    detailDay(dat) {
      const groupData = document.getElementsByClassName('fc-button-group')[0]
      const tagButton  = groupData.getElementsByTagName('button')[2].click()

      const centerData = document.getElementsByClassName('fc-center')[0]
      const tagH2 = centerData.getElementsByTagName('h2')[0].textContent
      this.redirectToDay(new Date(dat.event.start), new Date(tagH2))
    },
    redirectToDay(target, current) {
      if (target < current) {
        const centerData = document.getElementsByClassName('fc-center')[0]
        centerData.getElementsByTagName('button')[0].click()
        const centerData2 = document.getElementsByClassName('fc-center')[0]
        const tagH2 = centerData2.getElementsByTagName('h2')[0].textContent
        this.redirectToDay(target, new Date(tagH2))
      } else if (target > current) {
        const centerData = document.getElementsByClassName('fc-center')[0]
        centerData.getElementsByTagName('button')[1].click()
        const centerData2 = document.getElementsByClassName('fc-center')[0]
        const tagH2 = centerData2.getElementsByTagName('h2')[0].textContent
        this.redirectToDay(target, new Date(tagH2))
      }
    }
  },
  data() {
    return {
      name:null,
      calendarPlugins: [ 
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin
      ],
      buttonTextCalendar:null,
      dataApplicant: [
        {
          number: 1,
          employee: 'Pandu Septian Gumilar',
          leave: 'Leave'
        },
        {
          number: '',
          employee: '',
          leave: ''
        },
        {
          number: '',
          employee: '',
          leave: ''
        },
        {
          number: '',
          employee: '',
          leave: ''
        },
        {
          number: '',
          employee: '',
          leave: ''
        }
      ],
      events: [],
      dataLeave: [
        {
          date: '09 - 12 - 2019',
          type: 'Gtalent Academy',
          description: 'Lorem ipsum ..'
        },
        {
          date: '',
          type: '',
          description: ''
        },
        {
          date: '',
          type: '',
          description: ''
        },
        {
          date: '',
          type: '',
          description: ''
        },
        {
          date: '',
          type: '',
          description: ''
        }
      ]
    }
  }
}
</script>


