// === BASIC COLORS ===
$green-basic-color: #41AD49;
$light-blue-basic-color: #59B0B2;
$blue-basic-color: #42A5CE;
$tosca-basic-color: #0A848E;
$violet-basic-color: #3f51b5;
$purple-basic-color: #8A0D4F;
$light-purple-basic-color: #9C0D5C;
$red-basic-color: #D2232A;
$orange-basic-color: #F36F21;
$yellow-basic-color: #F8991D;
$yellow-light-basic-color: #FFEB3B;
$dark-brown-basic-color: #3E2723;
$brown-basic-color: #4D3921;
$brownish-grey-basic-color: #938270;
$grey-basic-color: #808285;
$light-grey-basic-color: #DFDFEA;
$white-basic-color: #FFF;
$error-input-color: #A94442;
$placeholder-color: #6C757D;
$border-input-color: #CED4DA;
$disabled-input-bg: #E9ECEF;
$input-font-color: #495057;
$multi-value-item-color: #F7F6F6;

// color list
$colors: (
green: $green-basic-color,
light-blue: $light-blue-basic-color,
blue: $blue-basic-color,
tosca: $tosca-basic-color,
violet: $violet-basic-color,
purple: $purple-basic-color,
light-purple: $light-purple-basic-color,
red: $red-basic-color,
orange: $orange-basic-color,
yellow: $yellow-basic-color,
light-yellow: $yellow-light-basic-color,
dark-brown: $dark-brown-basic-color,
brown: $brown-basic-color,
brownish-grey: $brownish-grey-basic-color,
grey: $grey-basic-color,
light-grey: $light-grey-basic-color
);