<template>
    <v-container fluid class="employee-add">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">{{$t('add')+' '+$t('employee')}}</h5>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('personal_details')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>{{$t('first_name')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('first_name')" outlined hide-details v-model="employee_data.first_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('father_name')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('father_name')" outlined hide-details v-model="employee_data.father_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('last_name')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('last_name')" outlined hide-details v-model="employee_data.last_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('nationality')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('nationality')" :items="nationality" outlined hide-details v-model="employee_data.nationality"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('date_of_birth')}}<span class="red--text">*</span></p>
                        <v-dialog ref="dialog_birth" v-model="modal_birth" :return-value.sync="employee_data.date_of_birth" persistent width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="employee_data.date_of_birth" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                            </template>
                            <v-date-picker v-model="employee_data.date_of_birth" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal_birth = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.dialog_birth.save(employee_data.date_of_birth)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('tax_registration_number')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('tax_registration_number')" outlined hide-details v-model="employee_data.tax_number"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('gender')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('gender')" outlined hide-details :items="gender" v-model="employee_data.gender"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('identity_type')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('identity_number')" outlined hide-details :items="identity_type" v-model="employee_data.identity_type"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('marital_status')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('marital_status')" outlined hide-details :items="marital_status"  v-model="employee_data.maratial_status"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('identity_number')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('select')+' '+$t('identity_number')" outlined hide-details  v-model="employee_data.identity_number"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('contact_details')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>{{$t('current_address')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('current_address')" outlined hide-details v-model="employee_data.present_address"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('corporate_email')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('corporate_email')" outlined hide-details v-model="employee_data.corporate_email"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('mobile_phone')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('mobile_phone')" outlined hide-details  v-model="employee_data.mobile"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('zip_code')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('zip_code')" outlined hide-details v-model="employee_data.city"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('home_phone')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('home_phone')" outlined hide-details v-model="employee_data.phone"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('country')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('country')" :items="nationality" outlined hide-details v-model="employee_data.country_id"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('phone_imei')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('phone_imei')" outlined hide-details v-model="employee_data.imei"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('email')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('email')" outlined hide-details v-model="employee_data.email"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('employee_document')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="4" v-for="(item,index) in document" :key="index">
                        <v-text-field placeholder="document" v-model="item.name" outlined rounded hide-details>
                            <template v-slot:append>
                                <v-btn depressed rounded class="black gold--text f--10" style="text-transform:capitalize;" @click="clickFile">{{$t('select')+' '+$t('file')}}</v-btn>
                                <input id="file" type="file" ref="image" accept="image/*" style="display:none;">
                            </template>
                            <template v-slot:append-outer v-if="index <= 2">
                                <v-btn x-small depressed rounded fab disabled class="white white--text"><v-icon>fa-times</v-icon></v-btn>
                            </template>
                            <template v-slot:append-outer v-else>
                                <v-btn @click="removeDocument(index)" x-small depressed rounded fab class="white gold--text"><v-icon>fa-times</v-icon></v-btn>
                            </template>
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-btn @click="addDocument()" depressed class="white blue--text" style="text-transform:capitalize;">{{$t('add')+' '+$t('document')}}</v-btn>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('employee_information')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>{{$t('employee_id')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('employee_id')" outlined hide-details v-model="employee_data.employment_id"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('company')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('company')" outlined hide-details :items="listCompanies" item-value="id" item-text="name" @change="listDivision(dataCompanies)" v-model="dataCompanies"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('division')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('division')" outlined hide-details :items="division" item-value="id" item-text="name" @change="listDepartment(dataDivision)" v-model="dataDivision"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('join_date')}}<span class="red--text">*</span></p>
                        <v-dialog ref="dialog" v-model="modal" :return-value.sync="employee_data.joining_date" persistent width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="employee_data.joining_date" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                            </template>
                            <v-date-picker v-model="employee_data.joining_date" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.dialog.save(employee_data.joining_date)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('department')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('department')" outlined hide-details v-model="employee_data.department_id" :items="department" item-value="id" item-text="name"></v-select>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('bank_information')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>{{$t('bank_name')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('bank_name')" outlined hide-details :items="bank" v-model="employee_data.bank_name"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('account_name')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('account_name')" outlined hide-details v-model="employee_data.branch_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('branch_name')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('branch_name')" outlined hide-details v-model="employee_data.account_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('account_number')}}<span class="red--text">*</span></p>
                        <v-text-field :placeholder="$t('enter')+' '+$t('account_number')" outlined hide-details v-model="employee_data.account_number"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">{{$t('approval')}}</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>{{$t('attendance')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('attendance')" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('leave')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('leave')" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('overtime')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('overtime')" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('reimbursement')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('reimbursement')" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>{{$t('direct_report')}}<span class="red--text">*</span></p>
                        <v-select :placeholder="$t('select')+' '+$t('direct_report')" outlined hide-details></v-select>
                    </v-col>
                </v-row>
            </div>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="saveData()">{{$t('save')}}</v-btn>
            </div>
        </v-card>
    </v-container>
</template>

<script>
import { mapMutations } from 'vuex'
import Axios from 'axios'

export default {
    data() {
        return{
            date: new Date().toISOString().substr(0, 7),
            modal_birth:false,
            employee_data: {
                first_name: null,
                last_name: null,
                date_of_birth: new Date().toISOString().substr(0, 10),
                gender:null,
                maratial_status:null,
                father_name:null,
                nationality:null,
                tax_number:null,
                identity_type:null,
                identity_number:null,
                corporate_email:null,
                present_address:null,
                city:null,
                country_id:null,
                mobile:null,
                phone:null,
                email:null,
                employment_id:null,
                department_id:null,
                joining_date:new Date().toISOString().substr(0, 10),
                bank_name:null,
                branch_name:null,
                account_name:null,
                account_number:null,
                imei:null
            },
            nationality:['Indonesia'],
            gender:['Male','Female'],
            identity_type:['KTP','Passport'],
            marital_status:['TK0','TK1','TK2','TK3','K0','K1','K2','K3'],
            division:['Backend','Frontend','UI/UX'],
            bank:['BCA','BTN','Mandiri'],
            listCompanies:[],
            department:[],
            dataCompanies:null,
            dataDivision:null,
            bank_name:[],
            menu: false,
            modal: false,
            document:[
                {
                    name: 'ID Card',
                    data: ''
                },
                {
                    name: 'Contract Paper',
                    data: ''
                },
                {
                    name: 'Certificate',
                    data: ''
                },
                {
                    name: 'NPWP',
                    data: ''
                }
            ]
        }
    },
    methods:{
        ...mapMutations('StoreEmployee', ['saveEmployee']),
        addDocument(){
            this.document.push(
                {
                    name: '',
                    data: ''
                }
            )
        },
        listCompany(){
            Axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/company',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.listCompanies = resp.data.data
            })
        },
        listDivision(val){
            Axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/division/?cid='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.division = resp.data.data
                console.log(this.division)
            })
        },
        listDepartment(val){
            Axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/department/?did='+val,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.department = resp.data.data
                console.log(this.department)
            })
        },
        clickFile() {
            document.getElementById('file').click()
        },
        removeDocument(index){
            this. document.splice(index, 1)
        },
        save() {
            this.saveEmployee(this.employee_data)
            this.$router.replace('/employee/list')
        },
        saveData(){
            let bodyFormData = new FormData();
            bodyFormData.append('first_name', this.employee_data.first_name)
            bodyFormData.append('last_name', this.employee_data.last_name)
            bodyFormData.append('date_of_birth', this.employee_data.date_of_birth)
            bodyFormData.append('gender', this.employee_data.gender )
            bodyFormData.append('marital_status', this.employee_data.maratial_status)
            bodyFormData.append('father_name', this.employee_data.father_name)
            bodyFormData.append('nationality', "101")
            bodyFormData.append('tax_number', this.employee_data.tax_number)
            bodyFormData.append('identity_type', this.employee_data.identity_type)
            bodyFormData.append('identity_number', this.employee_data.identity_number) 
            bodyFormData.append('corporate_email', this.employee_data.corporate_email)
            bodyFormData.append('present_address', this.employee_data.present_address)
            bodyFormData.append('city', this.employee_data.city)
            bodyFormData.append('country_id', "101")
            bodyFormData.append('mobile', this.employee_data.mobile)
            bodyFormData.append('phone', this.employee_data.phone)
            bodyFormData.append('email', this.employee_data.email)
            bodyFormData.append('employment_id', this.employee_data.employment_id)
            bodyFormData.append('department_id', this.employee_data.department_id)
            bodyFormData.append('joining_date', "2019-08-05")
            bodyFormData.append('bank_name',this.employee_data.bank_name)
            bodyFormData.append('branch_name',this.employee_data.branch_name)
            bodyFormData.append('account_name',this.employee_data.account_name)
            bodyFormData.append('account_number',this.employee_data.account_number)
            bodyFormData.append('imei',this.employee_data.imei)
            Axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/add_employee',
                data:bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                console.log(resp)
                this.$router.replace('/employee/list')
            }).catch(err=>{
                console.log(err)
            })
        }
    },
    created (){
        this.listCompany()
    }
}
</script>

<style lang="scss">
    .employee-add{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .v-input__append-inner{
            margin-top: auto!important;
            margin: auto;
        }
        .v-input__append-outer{
            margin-top: auto!important;
            margin: auto;
        }
    }
</style>