<template>
    <v-container fluid class="employee-reward">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">{{$t('employee_reward')}}</h5>
            </div>
            <v-btn class="m--20 btn-add font-weight-bold gold--text" depressed @click.stop="dialogCreate=true"><v-icon class="black gold--text p--6 m__r--12">fa-trophy</v-icon>{{$t('add')+' '+$t('employee_reward')}}</v-btn>
            <v-row>
                <v-col md="12">
                    <v-data-table :headers="headers" :items="desserts" sort-by="calories" class="table-employee m--20" style="margin-top:0!important;">
                        <template v-slot:item.award_amount="{ item }">
                            <h5 style="text-align:right;font-size:15px;" class="font-weight-regular m__b--0">{{ item.award_amount | currency }}</h5>
                        </template>
                        <template v-slot:item.action="{ item }">
                          <v-btn class="grey white--text btn-action" depressed @click="viewDetail(item.employee_award_id)"><v-icon>fa-eye</v-icon></v-btn>
                          <v-btn class="green white--text btn-action" depressed @click="getDataUpdate(item.employee_award_id)"><v-icon>fa-pen</v-icon></v-btn>
                          <v-btn class="red white--text btn-action" depressed @click="modalDelete(item.employee_award_id)"><v-icon>fa-trash</v-icon></v-btn>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-card>
        <v-dialog v-model="dialogCreate" width="800">
          <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">{{$t('employee_reward')}}</h5>
            </div>
            <v-row class="m__l--20 m__r--20">
              <v-col md="6">
                <p>{{$t('company')}}<span class="red--text">*</span></p>
                <v-select :items="itemCompanies" item-value="id" item-text="name" v-model="idCompanies" @change="listDivision(idCompanies)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('division')}}<span class="red--text">*</span></p>
                <v-select :items="itemDivision" item-value="id" item-text="name" v-model="idDivision" @change="listDepartement(idDivision)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('department')}}<span class="red--text">*</span></p>
                <v-select :items="itemDepartement" item-value="id" item-text="name" v-model="idDepartement" @change="listEmployee(idDepartement)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('employee')}}<span class="red--text">*</span></p>
                <v-select :items="itemEmployee" item-value="employee_id" item-text="first_name" v-model="idEmployee" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('award_name')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="award_name"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('gift_name')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="gift_item"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('award_amount')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="award_amount"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('select')+' '+$t('month')}}<span class="red--text">*</span></p>
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="date"
                  persistent
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="date"
                      append-icon="event"
                      readonly
                      v-on="on"
                      outlined
                      hide-details
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal = false">{{$t('cancel')}}</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(date)">{{$t('done')}}</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="saveData()">{{$t('save')}}</v-btn>
            </div>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogUpdate" width="800">
          <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">{{$t('employee_reward')}}</h5>
            </div>
            <v-row class="m__l--20 m__r--20">
              <v-col md="6">
                <p>{{$t('company')}}<span class="red--text">*</span></p>
                <v-select :items="itemCompanies" item-value="id" item-text="name" v-model="itemEmployeeUpdate.company_id" @change="listDivision(itemEmployeeUpdate.company_id)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('division')}}<span class="red--text">*</span></p>
                <v-select :items="itemDivision" item-value="id" item-text="name" v-model="itemEmployeeUpdate.designations_id" @change="listDepartement(itemEmployeeUpdate.designations_id)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('department')}}<span class="red--text">*</span></p>
                <v-select :items="itemDepartement" item-value="id" item-text="name" v-model="itemEmployeeUpdate.department_id" @change="listEmployee(itemEmployeeUpdate.department_id)" outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('employee')}}<span class="red--text">*</span></p>
                <v-select :items="itemEmployee" item-value="employee_id" item-text="first_name" v-model="itemEmployeeUpdate.employee_id " outlined hide-details></v-select>
              </v-col>
              <v-col md="6">
                <p>{{$t('award_name')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="itemEmployeeUpdate.award_name"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('gift_name')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="itemEmployeeUpdate.gift_item"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('award_amount')}}<span class="red--text">*</span></p>
                <v-text-field outlined hide-details v-model="itemEmployeeUpdate.award_amount"></v-text-field>
              </v-col>
              <v-col md="6">
                <p>{{$t('select')+' '+$t('month')}}<span class="red--text">*</span></p>
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="date"
                  persistent
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="itemEmployeeUpdate.award_date"
                      append-icon="event"
                      readonly
                      v-on="on"
                      outlined
                      hide-details
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="itemEmployeeUpdate.award_date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal = false">{{$t('cancel')}}</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(date)">{{$t('done')}}</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>
            </v-row>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="dataUpdate()">{{$t('save')}}</v-btn>
            </div>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogView" width="500">
          <div class="p--20 blackHeader">
              <v-row class="m--0">
                <v-col md="6" class="p--0">
                  <h5 class="gold--text subtitle-1 font-weight-bold">{{$t('detail')+' '+$t('reward')}}</h5>
                </v-col>
                <v-col md="6" class="p--0 text-right">
                  <v-btn fab x-small depressed class="black" @click.stop="dialogView=false"><v-icon class="gold--text">fa-times</v-icon></v-btn>
                </v-col>
              </v-row>
          </div>
          <div class="p--20 white">
            <v-row class=" white">
              <v-col md="6">
                <h5>{{$t('employee_id')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.employment_id}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('employee_name')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.first_name}} {{itemEmployeeDetail.last_name}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('division')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.division}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('department')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.department}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('reward_name')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.award_name}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('gift_name')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.gift_item}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('reward_amount')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{itemEmployeeDetail.award_amount}}</h5>
              </v-col>
              <v-col md="6">
                <h5>{{$t('reward_date')}}</h5>
              </v-col>
              <v-col md="6">
                <h5>: {{$moment(itemEmployeeDetail.award_date).format('DD MMMM Y')}}</h5>
              </v-col>
            </v-row>
          </div>
        </v-dialog>
        <v-dialog v-model="dialogDelete" width="400">
          <v-card>
            <div class="p--20 white">
                <v-row>
                  <v-col md="12" class="text-center">
                    <v-img :src="require('@/assets/icon/delete_alert.svg')" height="60" width="60" style="display:inline-block;"></v-img>
                  </v-col>
                  <v-col md="12">
                    <p class="text-center">{{$t('Are you sure delete this employee from reward')}}</p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col md="6" class="text-center">
                    <v-btn class="grey white--text" rounded depressed @click.stop="dialogDelete=false">{{$t('no')}}</v-btn>
                  </v-col>
                  <v-col md="6" class="text-center">
                    <v-btn class="gold white--text" rounded depressed @click="dataDelete(itemDelete)">{{$t('yes')}}</v-btn>
                  </v-col>
                </v-row>
            </div>
          </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return{
            itemCompanies:[],
            itemDivision:[],
            itemDepartement:[],
            itemEmployee:[],
            idCompanies:null,
            idDivision:null,
            idDepartement:null,
            idEmployee:null,
            award_name:null,
            gift_item:null,
            award_amount:null,
            dialogView:false,
            itemEmployeeDetail:[],
            dialogUpdate:false,
            itemEmployeeUpdate:[],
            itemDelete:null,
            dialogDelete:false,
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            dialogCreate:false,
            headers: [
                {
                text: 'Employee ID',
                align: 'left',
                sortable: false,
                value: 'employment_id',
                },
                { text: 'Employee', value: 'first_name'},
                { text: 'Reward Name', value: 'award_name' },
                { text: 'Gift Name', value: 'gift_item' },
                { text: 'Reward Amount (Rp)', value: 'award_amount'},
                { text: 'Month', value: 'award_date' },
                { text: 'Actions', value: 'action', sortable: false },
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            }
        }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.getData()
      this.listCompany()
    },
    methods: {
      modalDelete(val){
        this.dialogDelete=true
        this.itemDelete=val
        console.log(this.itemDelete)
      },
      dataDelete(val){
        axios.post('https://phpstack-307371-955427.cloudwaysapps.com/api/delete_data/tbl_employee_award/employee_award_id/'+val).then(resp=>{
          console.log(resp)
          this.dialogDelete=false
          this.getData()
        })
      },
      dataUpdate(){
        let bodyformData = new FormData()
        bodyformData.append('award_name', this.itemEmployeeUpdate.award_name)
        bodyformData.append('employee_id',this.itemEmployeeUpdate.employee_id)
        bodyformData.append('gift_item',this.itemEmployeeUpdate.gift_item)
        bodyformData.append('award_amount',this.itemEmployeeUpdate.award_amount)
        bodyformData.append('award_date',this.itemEmployeeUpdate.award_date)
        axios({
          method: 'post',
          url:'https://phpstack-307371-955427.cloudwaysapps.com/api/save_award/'+this.itemEmployeeUpdate.employee_award_id,
          data: bodyformData
        }).then(resp=>{
          console.log(resp)
          this.dialogUpdate=false
          this.getData()
        })
      },
      getDataUpdate(val){
        axios.get('https://phpstack-307371-955427.cloudwaysapps.com/api/employee_awards/'+val).then(resp=>{
          this.itemEmployeeUpdate=resp.data.data
          console.log(this.itemEmployeeUpdate)
          this.dialogUpdate=true
        })
      },
      viewDetail(val){
        this.dialogView=true
        axios.get('https://phpstack-307371-955427.cloudwaysapps.com/api/employee_awards/'+val).then(resp=>{
          this.itemEmployeeDetail=resp.data.data
          console.log(this.itemEmployeeDetail)
        })
      },
      saveData(){
        let bodyformData = new FormData()
        bodyformData.append('award_name', this.award_name)
        bodyformData.append('employee_id',this.idEmployee)
        bodyformData.append('gift_item',this.gift_item)
        bodyformData.append('award_amount',this.award_amount)
        bodyformData.append('award_date',this.date)
        axios({
          method: 'post',
          url:'https://phpstack-307371-955427.cloudwaysapps.com/api/save_award/',
          data: bodyformData,
          headers: {
              'User-id': localStorage.getItem('user_id')
          }
        }).then(resp=>{
          console.log(resp)
          this.dialogCreate=false
          this.idCompanies=null
          this.idDivision=null
          this.idDepartement=null
          this.idEmployee=null
          this.award_name=null
          this.gift_item=null
          this.award_amount=null
          this.getData()
        })
      },
      listCompany(){
          axios({
            method:'get',
            url:'https://phpstack-307371-955427.cloudwaysapps.com/api/company',
            headers: {
                'User-id': localStorage.getItem('user_id')
            }
          }).then(resp=>{
              this.itemCompanies = resp.data.data
              console.log(this.itemCompanies)
          })
      },
      listDivision(val){
          axios({
            method:'get',
            url:'https://phpstack-307371-955427.cloudwaysapps.com/api/division//?cid='+val,
            headers: {
                'User-id': localStorage.getItem('user_id')
            }
          }).then(resp=>{
              this.itemDivision = resp.data.data
              console.log(this.itemDivision)
          })
      },
      listDepartement(val){
          axios({
            method:'get',
            url:'https://phpstack-307371-955427.cloudwaysapps.com/api/department/?did='+val,
            headers: {
                'User-id': localStorage.getItem('user_id')
            }
          }).then(resp=>{
              this.itemDepartement = resp.data.data
              console.log(this.itemDepartement)
          })
      },
      listEmployee(val){
          axios({
            method:'get',
            url:'https://phpstack-307371-955427.cloudwaysapps.com/api/employee/?deptId='+val,
            headers: {
                'User-id': localStorage.getItem('user_id')
            }
          }).then(resp=>{
              this.itemEmployee = resp.data.data
              console.log(this.itemEmployee)
          })
      },
      getData (val) {
        axios({
          method:'get',
          url:'https://phpstack-307371-955427.cloudwaysapps.com/api/employee_awards/',
          headers: {
            'User-id': localStorage.getItem('user_id')
          }
        }).then(resp=>{
          console.log(resp.data.data)
          this.desserts=resp.data.data

        })
      },
      getColor (val) {
        if (val == 'Active') return 'green'
        else if (val == 'Terminated') return 'red'
        else return 'grey'
      },
      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    }
}
</script>

<style lang="scss">
    .employee-reward{
        .btn-add{
            background-color: transparent!important;
            padding: 0!important;
            text-transform: capitalize;
            font-size: 16px!important;
            .v-icon{
                border-radius: 4px;
                font-size: 16px;
            }
        }
        .table-employee{
            .v-data-table__wrapper {
                border-radius: 6px;
                border: 1px solid #303030;
            }
            thead{
                background: #EED592;
            }
            th,td{
                border-right:1px solid #303030;
                border-bottom:1px solid #303030!important;
            }
            th:last-child,td:last-child{
                border-right:unset;
                width: 148px;
            }
            .v-chip{
              font-size: 10px;
            }
            .btn-action{
              font-size: 12px;
              padding: 0!important;
              text-transform: capitalize;
              margin-right: 4px;
              min-width: 36px!important;
              .v-icon{
                font-size: 16px;
              }
            }
            .btn-action:last-child{
              margin-right: 0;
            }
        }
    }
</style>