<template>
    <v-container fluid class="employee-add">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Update Employee</h5>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Personal Details</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>First Name<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your first name" outlined hide-details v-model="employee.first_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Father Name<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your father name" outlined hide-details v-model="employee.father_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Last Name<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your last name" outlined hide-details v-model="employee.last_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Nationality<span class="red--text">*</span></p>
                        <v-select placeholder="Select your Nationality" :items="nationality" item-value="id" item-text="name" outlined hide-details v-model="employee.nationality"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Date of birth<span class="red--text">*</span></p>
                        <v-dialog ref="dialog_birth" v-model="modal_birth" :return-value.sync="employee.date_of_birth" persistent width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="employee.date_of_birth" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                            </template>
                            <v-date-picker v-model="employee.date_of_birth" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal_birth = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.dialog_birth.save(employee.date_of_birth)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-col>
                    <v-col md="6">
                        <p>Taxpayer registration number<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter Taxpayer registration number" outlined hide-details v-model="employee.tax_number"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Gender<span class="red--text">*</span></p>
                        <v-select placeholder="Select your gender" outlined hide-details :items="gender" v-model="employee.gender"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Identity type<span class="red--text">*</span></p>
                        <v-select placeholder="Select your identity type" outlined hide-details :items="identity_type" v-model="employee.identity_type"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Marital status<span class="red--text">*</span></p>
                        <v-select placeholder="Select your marital status" outlined hide-details :items="marital_status" item-value="id" item-text="name" v-model="employee.marital_status"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Identity number<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter identity type" outlined hide-details  v-model="employee.identity_number"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Contact Details</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>Current Address<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your address" outlined hide-details v-model="employee.present_address"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Corporate Email<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your mother name" outlined hide-details v-model="employee.corporate_email"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Mobile Phone<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your mobile phone" outlined hide-details  v-model="employee.mobile"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Zip Code<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your last name" outlined hide-details v-model="employee.city"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Home Phone<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your last name" outlined hide-details v-model="employee.phone"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Country<span class="red--text">*</span></p>
                        <v-select placeholder="Select your country" :items="nationality" outlined hide-details v-model="employee.country_id" item-value="id" item-text="name"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Phone Imei<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your imei" outlined hide-details v-model="employee.imei"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Email<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your last name" outlined hide-details v-model="employee.email"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Employee Document</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="4" v-for="(item,index) in document" :key="index">
                        <v-text-field placeholder="document" v-model="item.name" outlined rounded hide-details>
                            <template v-slot:append>
                                <v-btn depressed rounded class="black gold--text f--10" style="text-transform:capitalize;" @click="clickFile">select file</v-btn>
                                <input id="file" type="file" ref="image" accept="image/*" style="display:none;">
                            </template>
                            <template v-slot:append-outer v-if="index <= 2">
                                <v-btn x-small depressed rounded fab disabled class="white white--text"><v-icon>fa-times</v-icon></v-btn>
                            </template>
                            <template v-slot:append-outer v-else>
                                <v-btn @click="removeDocument(index)" x-small depressed rounded fab class="white gold--text"><v-icon>fa-times</v-icon></v-btn>
                            </template>
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-btn @click="addDocument()" depressed class="white blue--text" style="text-transform:capitalize;">Add More</v-btn>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Official Status</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>Employee ID<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your employee id" outlined hide-details v-model="employee.employment_id"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Division<span class="red--text">*</span></p>
                        <v-select placeholder="Select your division" outlined hide-details :items="division" v-model="employee.designations"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Join Date<span class="red--text">*</span></p>
                        <v-dialog ref="dialog" v-model="modal" :return-value.sync="employee.joining_date" persistent width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="employee.joining_date" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                            </template>
                            <v-date-picker v-model="employee.joining_date" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.dialog.save(employee.joining_date)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-col>
                    <v-col md="6">
                        <p>Department<span class="red--text">*</span></p>
                        <v-select placeholder="Select your designation" outlined hide-details v-model="employee.department_id" :items="departement"></v-select>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Bank Information</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>Bank name<span class="red--text">*</span></p>
                        <v-select placeholder="Select your bank name" outlined hide-details :items="bank_name" v-model="employee.bank_name"></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Account name<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your account name" outlined hide-details v-model="employee.branch_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Branch name<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your branch name" outlined hide-details v-model="employee.account_name"></v-text-field>
                    </v-col>
                    <v-col md="6">
                        <p>Account number<span class="red--text">*</span></p>
                        <v-text-field placeholder="Enter your account number" outlined hide-details v-model="employee.account_number"></v-text-field>
                    </v-col>
                </v-row>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Approval</h5>
            </div>
            <div class="p--20">
                <v-row>
                    <v-col md="6">
                        <p>Attendance<span class="red--text">*</span></p>
                        <v-select placeholder="Select your attendance" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Leave<span class="red--text">*</span></p>
                        <v-select placeholder="Select your leave" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Overtime<span class="red--text">*</span></p>
                        <v-select placeholder="Select your overtime" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Reimbursement<span class="red--text">*</span></p>
                        <v-select placeholder="Select your reimbursement" outlined hide-details></v-select>
                    </v-col>
                    <v-col md="6">
                        <p>Direct report<span class="red--text">*</span></p>
                        <v-select placeholder="Select your direct report" outlined hide-details></v-select>
                    </v-col>
                </v-row>
            </div>
            <div style="display:flex;">
                <v-btn class="btn-save gold white--text" @click="saveData()">Save</v-btn>
            </div>
        </v-card>
    </v-container>
</template>

<script>
import { mapMutations } from 'vuex'
import Axios from 'axios'

export default {
    props: ['id'],
    data() {
        return{
            date: new Date().toISOString().substr(0, 7),
            modal_birth:false,
            employee:[],
            nationality:[
                { 
                   id:'101',
                   name:'Indonesia'
                }],
            gender:['Male','Female'],
            identity_type:['KTP','Passport'],
            marital_status:[
                {   
                    id:'TK0',
                    name:'TK0'
                },
                {   
                    id:'TK1',
                    name:'TK1'
                },
                {   
                    id:'TK2',
                    name:'TK2'
                },
                {   
                    id:'TK3',
                    name:'TK3'
                },
                {   
                    id:'K0',
                    name:'K0'
                },
                {   
                    id:'K1',
                    name:'K1'
                },
                {   
                    id:'K2',
                    name:'K2'
                },
                {   
                    id:'TK3',
                    name:'TK3'
                },
            ],
            division:['Backend','Frontend','UI/UX'],
            departement:['IT','Finance','HR'],
            bank_name:['Mandiri','BCA'],
            menu: false,
            modal: false,
            document:[
                {
                    name: 'ID Card',
                    data: ''
                },
                {
                    name: 'Contract Paper',
                    data: ''
                },
                {
                    name: 'Certificate',
                    data: ''
                },
                {
                    name: 'NPWP',
                    data: ''
                }
            ]
        }
    },
    methods:{
        ...mapMutations('StoreEmployee', ['saveEmployee']),
        addDocument(){
            this.document.push(
                {
                    name: '',
                    data: ''
                }
            )
        },
        getData(){
            Axios.get('https://phpstack-307371-955427.cloudwaysapps.com/api/employee/'+this.id).then(resp=>{
                this.employee=resp.data.data
                console.log(this.employee)
            })
        },
        clickFile() {
            document.getElementById('file').click()
        },
        removeDocument(index){
            this. document.splice(index, 1)
        },
        save() {
            this.saveEmployee(this.employee)
            this.$router.replace('/employee/list')
        },
        saveData(){
            let bodyFormData = new FormData();
            bodyFormData.append('first_name', this.employee.first_name)
            bodyFormData.append('last_name', this.employee.last_name)
            bodyFormData.append('date_of_birth', this.employee.date_of_birth)
            bodyFormData.append('gender', this.employee.gender )
            bodyFormData.append('maratial_status', this.employee.marital_status)
            bodyFormData.append('father_name', this.employee.father_name)
            bodyFormData.append('nationality', this.employee.nationality)
            bodyFormData.append('tax_number', this.employee.tax_number)
            bodyFormData.append('identity_type', this.employee.identity_type)
            bodyFormData.append('identity_number', this.employee.identity_number) 
            bodyFormData.append('corporate_email', this.employee.corporate_email)
            bodyFormData.append('present_address', this.employee.present_address)
            bodyFormData.append('city', this.employee.city)
            bodyFormData.append('country_id', this.employee.nationality)
            bodyFormData.append('mobile', this.employee.mobile)
            bodyFormData.append('phone', this.employee.phone)
            bodyFormData.append('email', this.employee.email)
            bodyFormData.append('employment_id', this.employee.employment_id)//get List
            bodyFormData.append('department_id', this.employee_data.department_id)//get List
            bodyFormData.append('joining_date', "2019-08-05")
            bodyFormData.append('bank_name',this.employee.bank_name)
            bodyFormData.append('branch_name',this.employee.branch_name)
            bodyFormData.append('account_name',this.employee.account_name)
            bodyFormData.append('account_number',this.employee.account_number)
            bodyFormData.append('imei',this.employee.imei)
            Axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/add_employee/'+this.employee.employee_id,
                data:bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                console.log(resp)
                this.$router.replace('/employee/list')
            }).catch(err=>{
                console.log(err)
            })
        }
    },
    created(){
        this.getData()
    }
}
</script>

<style lang="scss">
    .employee-add{
        .btn-save{
            margin: auto;
            border-radius: 16px;
            width: 300px;
            text-transform: capitalize;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .v-input__append-inner{
            margin-top: auto!important;
            margin: auto;
        }
        .v-input__append-outer{
            margin-top: auto!important;
            margin: auto;
        }
    }
</style>