<template>
  <v-container fluid class="employee-list">
    <v-card>
      <div class="p--20 blackHeader">
        <h5 class="gold--text subtitle-1 font-weight-bold">{{$t('employee_list')}}</h5>
      </div>
      <v-btn class="m--20 btn-add font-weight-bold green--text" depressed to="/employee/add">
        <v-icon class="black green--text p--6 m__r--12">fa-plus</v-icon>{{$t('add')+' '+$t('employee')}}
      </v-btn>
      <v-row>
        <v-col md="12">
          <v-data-table
            :headers="headers"
            :items="desserts"
            sort-by="calories"
            :footer-props="{'items-per-page-text': $t('row_per_page')}"
            class="table-employee m--20"
            style="margin-top:0!important;"
          >
            <template v-slot:item.status="{ item }">
              <v-chip :color="getColor(item.status === '1' ? 'Active' : 'Terminated')" dark>{{ item.status === "1" ? "Active" : "Terminated" }}</v-chip>
            </template>
            <template v-slot:item.action="{ item }">
              <v-btn class="grey white--text btn-action" depressed :to="{ name: 'EmployeeDetail', params: { id: item.employee_id }}">
                <v-icon>far fa-eye</v-icon>
              </v-btn>
              <v-btn class="green white--text btn-action" depressed :to="{ name: 'EmployeeUpdate', params: { id: item.employee_id }}">
                <v-icon>fa-pen</v-icon>
              </v-btn>
              <v-btn class="red white--text btn-action" depressed @click="modalDelete(item.employee_id)">
                <v-icon>fa-trash</v-icon>
              </v-btn>
            </template>
            <template v-slot:no-data>
              {{$t('no_data')}}
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="dialogDelete" width="400">
      <v-card>
        <div class="p--20 white">
            <v-row>
              <v-col md="12" class="text-center">
                <v-img :src="require('@/assets/icon/delete_alert.svg')" height="60" width="60" style="display:inline-block;"></v-img>
              </v-col>
              <v-col md="12">
                <p class="text-center">Are you sure delete this employee from list</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6" class="text-center">
                <v-btn class="grey white--text" rounded depressed @click.stop="dialogDelete=false">No</v-btn>
              </v-col>
              <v-col md="6" class="text-center">
                <v-btn class="gold white--text" rounded depressed @click="dataDelete(itemDelete)">Yes</v-btn>
              </v-col>
            </v-row>
        </div>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      dialog: false,
      itemDelete:null,
      dialogDelete:false,
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      }
    };
  },
  computed: {
    ...mapState("StoreEmployee", ["employee_state"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    headers(){
      return [
        {
          text: this.$t('employee_id'),
          align: "left",
          sortable: false,
          value: "employment_id"
        },
        { text: this.$t('employee_name'), value: "first_name" },
        { text: this.$t('department_name'), value: "department_name" },
        { text: this.$t('mobile_phone'), value: "mobile" },
        { text: "Status", value: "status" },
        { text: this.$t('action'), value: "action", sortable: false }
      ]
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData(){
      axios({
        methods: 'get',
        url: 'https://phpstack-307371-955427.cloudwaysapps.com/api/employee',
        headers: {
            'User-id': localStorage.getItem('user_id')
        }
      }).then(res => {
        this.desserts=res.data.data
        console.log(this.desserts)
      });
    },
    modalDelete(val){
      this.dialogDelete=true
      this.itemDelete=val
      console.log(this.itemDelete)
    },
    dataDelete(val){
      axios.post('https://phpstack-307371-955427.cloudwaysapps.com/api/delete_data/tbl_employee/employee_id/'+val).then(resp=>{
        console.log(resp)
        this.dialogDelete=false
        this.getData()
      })
    },
    getColor(val) {
      if (val == "Active") return "green";
      else if (val == "Terminated") return "red";
      else return "grey";
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>

<style lang="scss">
.employee-list {
  .btn-add {
    background-color: transparent !important;
    padding: 0 !important;
    text-transform: capitalize;
    font-size: 16px !important;
    .v-icon {
      border-radius: 4px;
      font-size: 16px;
    }
  }
  .table-employee {
    .v-data-table__wrapper {
      border-radius: 6px;
      border: 1px solid #303030;
    }
    thead {
      background: #eed592;
    }
    th,
    td {
      border-right: 1px solid #303030;
      border-bottom: 1px solid #303030 !important;
    }
    th:last-child,
    td:last-child {
      border-right: unset;
      width: 148px;
    }
    .v-chip {
      font-size: 10px;
    }
    .btn-action {
      font-size: 16px;
      padding: 0 !important;
      text-transform: capitalize;
      margin-right: 4px;
      min-width:36px!important;
      .v-icon {
        font-size: 16px;
      }
    }
    .btn-action:last-child {
      margin-right: 0;
    }
  }
}
</style>