<template>
    <v-container fluid>
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text title font-weight-bold">Employee list</h5>
            </div>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Employee detail</h5>
            </div>
            <v-row class="p--20">
                <v-col md="2">
                    <v-img :src="'https://phpstack-307371-955427.cloudwaysapps.com/'+employee.photo"></v-img>
                </v-col>
                <v-col md="10">
                    <p>{{employee.first_name}} {{employee.last_name}}</p>
                    <v-row>
                        <v-col md="2">
                            <p>Employee ID</p>
                            <p>Department</p>
                            <p>Joining Date</p>
                        </v-col>
                        <v-col md="10">
                            <p>{{employee.employment_id}}</p>
                            <p>{{employee.department_name}}</p>
                            <p>{{employee.joining_date}}</p>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Personal details</h5>
            </div>
            <v-row class="p--20">
                <v-col md="2">
                    <p>Date of birth</p>
                    <p>Gender</p>
                    <p>Marital status</p>
                    <p>Nationality</p>
                    <p>Identity number</p>
                </v-col>
                <v-col md="10">
                    <p>{{employee.date_of_birth}}</p>
                    <p>{{employee.gender}}</p>
                    <p>{{employee.marital_status}}</p>
                    <p>{{employee.countryName}}</p>
                    <p>{{employee.identity_number}}</p>
                </v-col>
            </v-row>
            <div class="p--20 gold">
                <h5 class="white--text gold--text subtitle-1 font-weight-bold">Contact details</h5>
            </div>
            <v-row class="p--20">
                <v-col md="2">
                    <p>Email</p>
                    <p>Mobile</p>
                    <p>Address</p>
                    <p>City</p>
                    <p>Nationality</p>
                </v-col>
                <v-col md="10">
                    <p>{{employee.email}}</p>
                    <p>{{employee.mobile}}</p>
                    <p>{{employee.present_address}}</p>
                    <p>{{employee.city}}</p>
                    <p>{{employee.countryName}}</p>
                </v-col>
            </v-row>
        </v-card>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    props: ['id'],
    data(){
        return{
            employee:[]
        }
    },
    methods:{
        getData(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/employee/'+this.id,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.employee=resp.data.data
                console.log(this.employee)
            })
        }
    },
    created(){
        this.getData()
    }
}
</script>