<template>
    <v-container class="general">
        <h2>
           General Setting
        </h2>
        <v-row>
            <v-col md="3">
                <p>Logo Company<span class="red--text"> *</span></p>
                <v-card height="200" width="200" elevation="0" class="grey" >
                    
                </v-card>
                <v-btn  class="gold white--text w--200 m__t--18" depressed rounded>Choose file</v-btn>
            </v-col>
            <v-col class="p__t--0">
                <v-row>
                    <v-col md="12">
                        <p>Company Name<span class="red--text"> *</span></p>
                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.name"></v-text-field>
                    </v-col>
                    <v-col md="12">
                        <p>Email Company<span class="red--text"> *</span></p>
                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.email"></v-text-field>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <p>City<span class="red--text"> *</span></p>
                <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.city"></v-text-field>
            </v-col>
            <v-col md="6">
                <p>Phone Company<span class="red--text"> *</span></p>
                <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.phone"></v-text-field>
            </v-col>
            <v-col md="6">
                <p>Country<span class="red--text">*</span></p>
                <v-select placeholder="Enter ..." outlined hide-details :items="country" item-text="countryName" item-value="idCountry" v-model="data.country_id"></v-select>
            </v-col>
            <v-col md="6">
                <p>Mobile Phone<span class="red--text"> *</span></p>
                <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.mobile"></v-text-field>
            </v-col>
            <v-col md="6">
                <p>Zip Code<span class="red--text"> *</span></p>
                <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.zip_code"></v-text-field>
            </v-col>
            <v-col md="6">
                <p>Hotline<span class="red--text"> *</span></p>
                <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.hotline"></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <p>Address Company<span class="red--text"> *</span></p>
                <v-textarea placeholder="Enter ..." outlined hide-details auto-grow row-height="27" v-model="data.address"></v-textarea>
            </v-col>
            <v-col md="6" class="p__t--0">
                <v-row>
                    <v-col md="12">
                        <p>Fax<span class="red--text"> *</span></p>
                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.fax"></v-text-field> 
                    </v-col>
                    <v-col md="12">
                        <p>Website Company<span class="red--text"> *</span></p>
                        <v-text-field placeholder="Enter ..." outlined hide-details v-model="data.website"></v-text-field> 
                    </v-col>
                </v-row>
            </v-col>
            <v-col md="12">
                <p>Company History<span class="red--text"> *</span></p>
                <v-textarea placeholder="Enter ..." outlined hide-details v-model="data.description"></v-textarea>
            </v-col>
            <v-col md="12">
                <v-text-field placeholder="Enter ..." outlined hide-details prepend-icon="fab fa-instagram" v-model="data.instagram" ></v-text-field>
            </v-col>
            <v-col md="12">
                <v-text-field placeholder="Enter ..." outlined hide-details prepend-icon="fab fa-youtube" v-model="data.youtube"></v-text-field>
            </v-col>
            <v-col md="12">
                <v-text-field placeholder="Enter ..." outlined hide-details prepend-icon="fab fa-twitter" v-model="data.twitter"></v-text-field>
            </v-col>
            <v-col md="12">
                <v-text-field placeholder="Enter ..." outlined hide-details prepend-icon="fab fa-linkedin" v-model="data.linkedin"></v-text-field>
            </v-col>
        </v-row>
        <div style="display:flex;">
            <v-btn class="btn-save gold white--text" @click="postData()">Save</v-btn>
        </div>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            data:[],
            country:[]
        }
    },
    methods:{
        getCountry(){
            axios({
                method:'get',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/countries',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.country=resp.data.data
            })
        },
        getData(){
            axios({
                method:'get',
                url:' https://phpstack-307371-955427.cloudwaysapps.com/api/general_setting',
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.data=resp.data.data
                console.log(this.data)
            })
        },
        postData(){
            let bodyFormData = new FormData()
            bodyFormData.append('name', this.data.name)
            bodyFormData.append('description', this.data.description)
            bodyFormData.append('email', this.data.email)
            bodyFormData.append('address', this.data.address)
            bodyFormData.append('country_id', this.data.country_id)
            bodyFormData.append('city', this.data.city)
            bodyFormData.append('zip_code', this.data.zip_code)
            bodyFormData.append('phone', this.data.phone)
            bodyFormData.append('mobile', this.data.mobile)
            bodyFormData.append('hotline', this.data.hotline)
            bodyFormData.append('fax', this.data.fax)
            bodyFormData.append('instagram', this.data.instagram)
            bodyFormData.append('youtube', this.data.youtube)
            bodyFormData.append('twitter', this.data.twitter)
            bodyFormData.append('linkedin', this.data.linkedin)
            bodyFormData.append('website', this.data.website)
            bodyFormData.append('currency', this.data.currency)
            axios({
                method:'post',
                url:'https://phpstack-307371-955427.cloudwaysapps.com/api/update_general_setting',
                data: bodyFormData,
                headers: {
                    'User-id': localStorage.getItem('user_id')
                }
            }).then(resp=>{
                this.getData()
            })
        }
    },
    created(){
        this.getCountry()
        this.getData()
    }
}
</script>

<style lang="scss">
    .general{
        .v-text-field.v-text-field--enclosed .v-input__append-inner{
            margin-top: 13.333px;
        }
        .v-text-field--outlined fieldset{
            border-color: #303030;    
        }
        .v-text-field--outlined>.v-input__control>.v-input__slot{
            min-height: 42px!important;
        }
        .v-text-field.v-text-field--enclosed .v-input__prepend-outer{
            margin-top: 9.333px;
            margin-right: 26px;
        }
        .v-input__icon--prepend{
            i{
                font-size: 36px!important;
            }
        }
    }
</style>
