<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="reimbursement_add_data.dialog"
          max-width="600">
          <v-card>
            <v-card-title class="black primary--text f--18">Detail Installment</v-card-title>

            <v-card-text class="p__r--50 p__l--50 p__t--20 p__b--20">
              <div>
                <v-simple-table class="br__tl--0 br__tr--0">
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right number border-bottom category">Installment</th>
                    <th class="text-left border-right border-bottom allowance">Basic Payment</th>
                    <th class="text-left border-right border-bottom details">Payment Date</th>
                    <th class="text-left border-right border-bottom details">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in financial_state.add[reimbursement_add_data.index].installment" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add[reimbursement_add_data.index].installment.length}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add[reimbursement_add_data.index].installment.length}">Rp. {{item.basic_amount}} </td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add[reimbursement_add_data.index].installment.length}">{{item.payment_date}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add[reimbursement_add_data.index].installment.length}">{{item.paid === 'Yes' ? 'paid' : 'unpaid' }}</td>
                    
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  data() {
    return {
      reimbursement_add_data: {
        dialog: false,
        index: null,
      }
    }
  },
  computed: {
    ...mapState('StoreFinancialServices', ['financial_state'])
  },
  methods: {
    openDialog(index) {
      this.reimbursement_add_data.dialog = true;
      this.reimbursement_add_data.index = index;
    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

