<template>
    <div>
       <v-row justify="center" v-if="reimbursement_add_data.dialog">
        <v-dialog
          class="add-reimbursement"
          v-model="reimbursement_add_data.dialog"
          max-width="600">
          <v-card>
            <v-card-title class="black primary--text f--18">Financial Service Report</v-card-title>

            <v-card-text class="p__r--100 p__l--100 p__t--20 p__b--5">
              <div>
                <v-row>
                  <v-col cols="6"><b>Loan for</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].loan_for}}</v-col>

                  <v-col cols="6"><b>Transaction code</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].transaction_code}}</v-col>

                  <v-col cols="6"><b>Efective date</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].effective_date}}</v-col>

                  <v-col cols="6"><b>Installment</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].installment.length}}</v-col>

                  <v-col cols="6"><b>Employee name</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].employee_id === '2' ? 'Pandu Gumilar' : 'Syahda Bagaswara'}}</v-col>

                  <v-col cols="6"><b>Company contribution</b></v-col>
                  <v-col cols="6">{{financial_state.add[reimbursement_add_data.index].company_contribution}}%</v-col>

                  <v-col cols="6"><b>Amount</b></v-col>
                  <v-col cols="6">Rp. {{financial_state.add[reimbursement_add_data.index].amount}}</v-col>

                  <v-col cols="6"><b>Total amount</b></v-col>
                  <v-col cols="6">Rp. {{financial_state.add[reimbursement_add_data.index].amount * financial_state.add[reimbursement_add_data.index].installment.length}}</v-col>
                </v-row>
              </div>
            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="dialog = false">Download</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  data() {
    return {
      reimbursement_add_data: {
        dialog: false,
        index: null,
      }
    }
  },
  computed: {
    ...mapState('StoreFinancialServices', ['financial_state'])
  },
  methods: {
    openDialog(index) {
      this.reimbursement_add_data.dialog = true;
      this.reimbursement_add_data.index = index;

    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

