<template>
    <v-container class="financial-services" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Financial Services Report
        </v-card-title>
        <v-card-text class="content-section">
          <v-row>
            <v-col cols="6">
              <div class="float-to-left">
                <div class="m__r--10">
                  <label> Data <span class="red--text"></span></label>
                  <div class="w__130 financial">Financial Services</div>
                </div>
                <div class="m__r--10">
                  <label> Column <span class="red--text">*</span></label>
                  <vue-select v-model="searchData.type" :options="['Status','Type', 'Amount']" placeholder="Select column" class="gtalent-select w--130"/>
                </div>
                <div class="m__r--10" v-if="searchData.type === 'Amount'">
                  <label> Amount Range <span class="red--text">*</span></label>
                  <v-text-field
                    v-model="searchData.start_amount"
                    class="gtalent-form"
                    type="number"
                    placeholder="minimum amount"
                    outlined
                  ></v-text-field>
                </div>
                
                <div class="m__r--10" v-if="searchData.type === 'Amount'">
                  <label> </label>
                  <br />
                  <div class="m__t--8">
                    To
                  </div>
                </div>



                <div class="m__r--10" v-if="searchData.type === 'Amount'">
                  <label> <span class="red--text"></span></label>
                  <br />
                  <v-text-field
                    v-model="searchData.end_amount"
                    class="gtalent-form"
                    type="number"
                    placeholder="Maximum amount"
                    outlined
                  ></v-text-field>
                </div>
              </div>
              
            </v-col>

            <v-col cols="6">
              <div class="float-to-right">
                <div class="m__r--10">
                  <label> Start Date <span class="red--text">*</span></label>
                  <date-picker class="gtalent-datepicker" placeholder="- Select date -" v-model="searchData.payment_start"/>
                </div>
                <div class="m__r--10">
                  <label> End Date <span class="red--text">*</span></label>
                  <date-picker class="gtalent-datepicker" placeholder="- Select date -" v-model="searchData.payment_end"/>
                </div>
                <div>
                  <v-btn @click="searchQuery" class="white--text gold">Search</v-btn>
                </div>
              </div>
            </v-col>
          </v-row>

          <div class="m__t--50 m__b--50">
            <div v-if="!loading">
              <PieChart v-if="searchData.type === 'Status' || searchData.type === 'Type'" :data="chartdataOption" :options="options" />
              <wj-flex-chart v-else :itemsSource="getData" bindingX="date">
                <wj-flex-chart-waterfall name="Increase,Decrease,Total" binding="sales" :connectorLines="connectorLines"
                    :showTotal="showTotal" :initialized="onWaterfallInitialized">
                </wj-flex-chart-waterfall>
              </wj-flex-chart>
            </div>
            
            <div v-else>
              <div class="h--400 w__100">

              </div>
            </div>
          </div>

          <!-- <div class="table-gtalent">
            <div class="gold w__100 p--10">
              <div class="w--200">
                 <date-picker v-model="payment_date" type="month" placeholder="Select month" class=""></date-picker>
              </div>
             
            </div>
            <v-simple-table class="br__tl--0 br__tr--0">
              <template v-slot:default>
                <thead>
                  <tr class="head-table">
                    <th class="text-left border-right number border-bottom category">No</th>
                    <th class="text-left border-right border-bottom allowance">Loan for</th>
                    <th class="text-left border-right border-bottom details">Transcation code</th>
                    <th class="text-left border-right border-bottom details">Efective date</th>
                    <th class="text-left border-right border-bottom details">Installment</th>
                    <th class="text-left border-right border-bottom details">Employee name</th>
                    <th class="text-left border-right border-bottom">Amount</th>
                    <th class="text-left border-right border-bottom">Company contribution</th>
                    <th class="text-left border-right border-bottom">Total amount</th>
                    <th class="text-left details border-bottom">Status</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr v-for="(item, index) in financial_state.add" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">{{item.loan_for}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">{{item.transaction_code}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">{{item.effective_date}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}" @click="$refs.installmentDetail.openDialog(index)">{{item.installment.length}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">{{item.employee_id === '2' ? 'Pandu Gumilar' : 'Syahda Bagaswara'}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">
                      <vue-autonumeric
                          v-model="item.amount"
                          :options="{
                              digitGroupSeparator: '.',
                              decimalCharacter: ',',
                              decimalCharacterAlternative: '.',
                              currencySymbol: 'Rp. ',
                              currencySymbolPlacement: 'p',
                              roundingMethod: 'U',
                              minimumValue: '0'
                          }"
                      ></vue-autonumeric>
                    </td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">
                      {{item.company_contribution}}%
                    </td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">
                      Rp. {{item.amount * item.installment.length}}
                    </td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== financial_state.add.length}">
                      <div class="float-to-left">
                        <div class="eye-content black p__l--5 w--25 br--5 m__r--5">
                        <i class="fas fa-eye br--5 gold--text" @click="$refs.financialServicesDetail.openDialog(index)"><span class="f--12 m__l--5"></span></i>
                        
                      </div>
                      <div class="eye-content black p__l--5 w--25 br--5">
                        <i class="fas fa-edit br--5 gold--text" @click="$refs.installmentDetail.openDialog(index)"><span class="f--12 m__l--5"></span></i>
                        
                      </div>
                      </div>
                      
                      
                    </td>
                  </tr>
                </tbody>
                
              </template>
            </v-simple-table>
            <div v-if="financial_state.add.length < 1">
                    
                    <div class="float-to-center m__t--20">
                      Data is not found
                    </div>
                  </div>
          </div> -->
        </v-card-text>
      </v-card>
      
      <DetailFinancialServices ref="financialServicesDetail"/>
      <DetailInstallment ref="installmentDetail"/>
    </v-container>
</template>
<script>
import DetailFinancialServices from './DetailFinancialServicesHistory'
import DetailInstallment from './DetailInstallment'
import { mapState } from 'vuex'
import PieChart from '@/components/chart/PieChart'

import '@grapecity/wijmo.styles/wijmo.css';
// import 'bootstrap.css';
import '@grapecity/wijmo.vue2.chart';
import '@grapecity/wijmo.vue2.chart.analytics';
import * as chart from '@grapecity/wijmo.chart';


export default {
  components: {
   DetailFinancialServices,
   DetailInstallment,
   PieChart,
  },
  data() {
    return {
      connectorLines: false,
      showTotal: false,
      mode: 'Status',
      searchData: {
        type: '',
        start_amount: '1',
        end_amount: '100000000000',
        payment_start: '',
        payment_end: ''
      },
      loading: false,
      payment_date: null,
      lala: null,
      datacollection: null,
      reimbursement_data: {
        result: null,
      },
    }
  },
  watch: {
    'searchData.type'(newVal) {
      this.mode = newVal
    },
    payment_date(newVal) {
      const req = {
        // payment_date: this.$moment(this.payment_date).format('YYYY-MM')
        payment_start: this.$moment(this.searchData.payment_start).format('YYYY-MM'),
        payment_end: this.$moment(this.searchData.payment_end).format('YYYY-MM')
      }
      this.$store.dispatch('StoreFinancialServices/listFinancialServices', req)
    },
    'financial_state.add': {
      handler() {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
        })
      },
      deep: true,
    }
  },
  computed: {
    ...mapState('StoreFinancialServices', ['financial_state']),

    chartdataOption() {
      if (this.mode === 'Status') {
        return this.chartdata;
      } else if (this.mode === 'Type') {
        return this.chartdataType;
      }
    },

    getData() {
      // let data = [],
      // date = new Date();

      // date = wijmo.DateTime.addYears(date, -1);
      // for (let month = 0; month < 12; month++) {
      //     data.push({
      //         date: wijmo.Globalize.format(date, 'MMM yyyy'),
      //         sales: (Math.random() - .4) * 1000
      //   });
      //   //
      //   date = wijmo.DateTime.addMonths(date, 1);
      // }
      //
      const filterByAmount = this.financial_state.add.filter((data) => {
        if (Number(data.amount) > Number(this.searchData.start_amount) && Number(data.amount) < Number(this.searchData.end_amount)) {
          return data;
        }
      })
      const allAmount = filterByAmount.map((data) => {
        return {
          date: this.$moment(data.effective_date).format('MMM YYYY'),
          sales: Number(data.amount)
        }
      })
      return allAmount;
    },

    chartdataType() {
      const allType = this.financial_state.add.filter((thing, index, self) =>
        index === self.findIndex((t) => (
          t.loan_for === thing.loan_for
        ))
      )

      let allData = []
      allType.forEach((data) => {
        allData.push(this.financial_state.add.filter((data1) => data1.loan_for === data.loan_for).length)
      })

      // const return 

      return {
        labels: [...allType.map((data) => data.loan_for)],
        datasets: [
          {
            label: '',
            backgroundColor: ['#6290B1', '#24C5E8', '#E15353', '#A3EF27', '#C0487A'],
            data: [...allData]
          }
        ]
      }
    },

    chartdata() {
      const allStatus = this.financial_state.add.map((data) => {
        if (!data.status) {
          data.status = 'approved'
        }
        return data;
      })
      if (allStatus.length > 1 && !this.financial_state.add[0].status) {
        allStatus[0].status = 'rejected';
        allStatus[1].status = 'applied';
      }
      const approved = allStatus.filter((data) => data.status === 'approved').length
      const applied = allStatus.filter((data) => data.status === 'applied').length
      const rejected = allStatus.filter((data) => data.status === 'rejected').length
      return {
        labels: ['Approved', 'Applied', 'Rejected'],
        datasets: [
          {
            label: '',
            backgroundColor: ['#6290B1', '#24C5E8', '#E15353'],
            data: [approved, applied, rejected]
          }
        ]
      }
    },

    options() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend:{
          position:'left'
        }
      }
    }

  },
  methods: {
    onWaterfallInitialized(sender) {
        sender.styles = {
            start: { fill: 'blue', stroke: 'blue' },
            total: { fill: 'yellow', stroke: 'yellow' },
            falling: { fill: 'red', stroke: 'red' },
            rising: { fill: 'green', stroke: 'green' },
            connectorLines: { stroke: 'blue', 'stroke-dasharray': '3, 1' }
        };
    },
             
    searchQuery() {
      const req = {
        // payment_date: this.$moment(this.payment_date).format('YYYY-MM')
        payment_start: this.$moment(this.searchData.payment_start).format('YYYY-MM'),
        payment_end: this.$moment(this.searchData.payment_end).format('YYYY-MM')
      }
      this.$store.dispatch('StoreFinancialServices/listFinancialServices', req)
    }
  },
  created() {
    const req = {
      payment_start: '2020-01',
      payment_end: '2020-02'
    }
    this.$store.dispatch('StoreFinancialServices/listFinancialServices', req)
  }
}
</script>
<style lang='scss'>
.financial-services {
  .financial {
    width: 130px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #8C8C8C;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #DBAB27;
  }
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
  .table-gtalent .v-data-table__wrapper {
    border-radius: 0px 0px 5px 5px;
  }
}
</style>

