<template>
    <v-container class="financial-services" fluid>
      <v-card>
        <v-card-title
          class="title-head"
          primary-title>
          Add Financial Services
        </v-card-title>
        <v-card-title
          class="title-subhead"
          primary-title>
          Add Expense
        </v-card-title>

        <v-card-text class="content-section">
          <v-row>
            <v-col cols="6">
              <label> Loan For <span class="red--text">*</span></label>
              <v-text-field
                v-model="financial_data.loan_for"
                class="gtalent-form"
                placeholder="Enter loan name"
                outlined
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <label>Company contribution <span class="red--text">*</span></label>
              <v-text-field
                v-model="financial_data.company_contribution"
                class="gtalent-form"
                placeholder="0%"
                type="number"
                outlined
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <label> Transcation code <span class="red--text">*</span></label>
              <v-text-field
                v-model="financial_data.transaction_code"
                class="gtalent-form"
                placeholder="Enter transaction code"
                outlined
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <label>Installment <span class="red--text">*</span></label>
              <v-text-field
                v-model="financial_data.installment"
                class="gtalent-form"
                type="number"
                placeholder="Enter installment"
                outlined
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <label> Amount <span class="red--text">*</span></label>
              <vue-autonumeric
                  class="auto-numeric"
                  v-model="financial_data.amount"
                  placeholder="Enter Amount"
                  :options="$root.autoNumericOption"
              ></vue-autonumeric>
            </v-col>
            <v-col cols="6">
              <label>Employee name <span class="red--text">*</span></label>
              <vue-select v-model="financial_data.employee_id" :options="['Pandu Gumilar','Syahda Bagaswara']" placeholder="Select employee name" class="gtalent-select"/>
            </v-col>
            <v-col cols="6">
              
            </v-col>
            <v-col cols="6">
              <label>Effective date <span class="red--text">*</span></label>
              <date-picker class="gtalent-datepicker" placeholder="- Select date -" v-model="financial_data.effective_date"/>
            </v-col>
          </v-row>

          <div class="float-to-center m__t--30">
            <v-btn class="gold white--text w--250 br--16" @click="save">Save</v-btn>
          </div>
          

        </v-card-text>
      </v-card>
    </v-container>
</template>
<script>
// import AddReimbursement from './AddReimbursement'

export default {
  components: {
  //  AddReimbursement,
  },
  data() {
    return {
      lala: null,
      financial_data: {
        result: null,
      }
    }
  },
  methods: {
    save() {
      const req = {
        loan_for: this.financial_data.loan_for,
        transaction_code: this.financial_data.transaction_code,
        amount: this.financial_data.amount,
        installment: this.financial_data.installment,
        employee_id: this.financial_data.employee_id === 'Pandu Gumilar' ? '2' : '3',
        company_contribution: this.financial_data.company_contribution,
        effective_date: this.$moment(this.financial_data.effective_date).format('YYYY-MM-DD'),
      }

      this.$store.dispatch('StoreFinancialServices/createFinancialServices', req)
    }
  }
}
</script>
<style lang='scss'>
.financial-services {
  .detail-column {
    button {
      background-color: #303030 !important;

      .v-btn__content {
        color: #DBAB27;
        text-transform: capitalize;
        font-size: 12px;

        i {
          font-size: 14px !important;
        }
      }

      &.delete-button {
        .v-btn__content {
           color: #E82424;
        }
       
      }
    }
  }
  .button-add {
    .v-btn:not(.v-btn--round).v-size--small {
      min-width: 30px !important;
    }
    button {
      background-color: #303030 !important;
    }
    span {
      color: #2496E8; 
      font-style: normal;
      font-weight: bold;
    }
  }
  .title-head {
    background: #303030;
    color: #DBAB27;
    font-size: 20px !important;
    font-weight: 600;
  }
  .title-subhead {
    background: #DBAB27;
    color: #fff;
    font-weight: 600;
    font-size: 14px !important;
    padding: 5px 16px;
  }
  .content-section {
    padding: 24px 16px !important;
  }
}
</style>

