<template>
  <div class="alert-gtalent">
    <div class="float-to-center alert-option">
        <transition name="slide-up">
          <v-alert type="info" class="w__100" v-if="alert_state.info">
            {{ alert_state.info_message }}
          </v-alert>

          <v-alert type="success" class="w__100" v-else-if="alert_state.success">
            {{ alert_state.success_message }}
          </v-alert>

          <v-alert type="warning" class="w__100" v-else-if="alert_state.warning">
            {{ alert_state.warning_message }}
          </v-alert>

          <v-alert type="error" class="w__100" v-else-if="alert_state.error">
            {{ alert_state.error_message }}
          </v-alert>
        </transition>
      </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'alert-notification',
  computed: {
    ...mapState('StoreAlert', ['alert_state'])
  },
}
</script>

<style lang="scss">
.alert-option {
  position: fixed;
  bottom: -52px;
  z-index: 100;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-up-enter-active {
    transition: all .5s ease;
  }
  .slide-up-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-up-enter, .slide-up-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(100vh);
    opacity: 0;
  }
</style>