<template>
  <div class="navbar-gtalent">
    <v-toolbar>
      <div style="width:18.3%;"></div>
      <v-spacer></v-spacer>
      <v-toolbar-title class="grey--text"><v-icon class="grey--text">fas fa-circle</v-icon>{{title}}<v-icon class="grey--text">fas fa-circle</v-icon></v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn fab depressed style="background-color:transparent!important;"><v-icon class="grey--text">fas fa-bell</v-icon></v-btn>
        <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            dark
            v-on="on"
            depressed
            style="background-color:transparent!important;"
          >
            <span class="black--text m__r--10" style="text-transform:capitalize;">{{name}}</span>
            <v-avatar color="gold">
              <v-icon dark>fa-user</v-icon>
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            style="min-height:28px;"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      </v-toolbar-items>

      <!-- <template v-if="$vuetify.breakpoint.smAndUp">
        <v-btn icon>
          <v-icon>mdi-export-variant</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-delete-circle</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>
      </template> -->
    </v-toolbar>
  </div>
</template>

<script>
import store from '@/stores'
export default {
  name: 'sidebar',
  props: {
    logo: {
      type: String,
      default: '',
    },
    menu: {
      type: Object,
      default: () => {} 
    }
  },
  data() {
    return {
      is_active: null,
      title:'',
      languages: '',
      name:'',
      items: [
        { title: 'General' },
        { title: 'Feature Setting' },
        { title: 'Account' },
        { title: 'Preference' },
        { title: 'Privacy & Policy' },
        { title: 'Terms & Condition' },
        { title: 'About Us' },
        { title: 'Help' },
        { title: 'Log Out' }
      ],
    }
  },
  methods: {
    changeLanguage (lang) {
      let language = ''
      if (lang === 1) {
        language = 'en'
      } else {
        language = 'id'
      }
      this.$i18n.locale = language
      this.$store.dispatch('i18n/setLanguage', language)
      this.languages = store.state.i18n.language
      const str= this.$route.path
      const split= str.split('/')
      this.$vuetify.lang.current=store.state.i18n.language
      this.title=this.$t(split[1])
    },
    toggleParent(index) {
      if (index !== this.is_active) {
        this.is_active = index
      } else {
        this.is_active = null
      }
      
    }
  },
  watch:{
    $route(){
      const str= this.$route.path
      const split= str.split('/')
      this.title=this.$t(split[1])  
    }
  },
  created(){
    const str= this.$route.path
    const split= str.split('/')
    this.title=this.$t(split[1])
    this.languages = store.state.i18n.language
    this.$vuetify.lang.current=store.state.i18n.language//vuetify language locale integrate with i18n
    this.name=localStorage.getItem('user_name')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .activeLang{
    color: #DDBA27!important;
    font-weight: bold!important;
  }
  .navbar-gtalent{
    position: fixed;
    width: 100%;
    z-index: 3;
    .btn-language{
      display: flex;
      background: transparent;
      color: #000000;
      align-self: center;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: none;
      p:hover{
        cursor: pointer;
      }
      p{
        color: #000000;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
      }
      p:nth-child(1){
        margin-right: 16px;
      }
      p:nth-child(2){
        margin-left: 16px;
      }
    }
  }
  .v-toolbar__title{
    color: #8C8C8C;
    text-transform: capitalize;
    .v-icon{
      font-size: 12px;
      margin:0 12px;
      color: #8C8C8C;
    }
  }
</style>
