<template>
  <div class="sidebar-gtalent">
    <div class="sidebar">

      <div class="logo">
        <v-img
          :src="menu.logo"
          :lazy-src="menu.logo"
          aspect-ratio="1"
          :height="50"
          :width="50"/>
      </div>

      <div class="separator">

      </div>

      <div v-for="(content, index) in menu.list" :key="index" class="container-menu">
        <div v-if="!content.is_have_child" class="icon-awesome" :class="{'active' : content.path === $route.path}">
           <router-link :to="content.path">
            <div class="float-to-center" @click="toggleParent(index, content)">
              <v-img
                :src="content.path === $route.path ? content.logo_active : content.logo"
                :lazy-src="content.path === $route.path ? content.logo_active : content.logo"
                aspect-ratio="1"
                :max-height="30"
                :max-width="30"/>
              </div>
            </router-link>
          <p>
            {{content.name}}
          </p>
        </div>
        <div v-else class="icon-awesome" @click="toggleParent(index)" :class="{'active': (is_active === index || (content.children.filter((data) => data.path === $route.path).length > 0))}">
          <div class="float-to-center">
            
            
              <v-img
                :src="content.children.filter((data) => data.path === $route.path).length > 0 ? content.logo_active : content.logo"
                :lazy-src="content.children.filter((data) => data.path === $route.path).length > 0 ? content.logo_active : content.logo"
                aspect-ratio="1"
                :max-height="30"
                :max-width="30"/>
            
            
          </div>
          
          <p>
            {{content.name}}
          </p>
        </div>

        <transition name="slide-fade">
          <div v-if="is_active === index" class="floating-menu" :style="{ bottom: bottom+'px' }">
            <div v-for="(child, childIndex) in content.children" :key="childIndex">
              <router-link :to="child.path">
                <div class="child-menu" :class="{'active' : child.path === $route.path}" @click="is_active = null">
                  <div class="float-to-left">
                    <v-img
                      :src="child.path === $route.path ? child.logo_active : child.logo"
                      :lazy-src="child.path === $route.path ? child.logo_active : child.logo"
                      aspect-ratio="1"
                      :max-height="25"
                      :max-width="25"/>
                      <div class="m__l--10">
                        {{child.name}}
                      </div>
                    
                  </div>
                  
                </div>
              </router-link>
            </div>
          </div>
        </transition>
        
      </div>

      

    </div>
    <div :class="{'black-background': is_active !== null}" @click="is_active = null">

    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  props: {
    logo: {
      type: String,
      default: '',
    },
    menu: {
      type: [Object, String],
      default: () => {}
    }
  },
  data() {
    return {
      is_active: null,
      bottom: 0,
      top: 0,
    }
  },
  methods: {
    toggleParent(index, content) {
      if (index !== this.is_active) {
        this.is_active = index
      } else {
        this.is_active = null
      }

      if (content) {
        if (!content.is_have_child) {
          this.is_active = null
        }
      }

      const container = document.getElementsByClassName('container-menu');
      let indexing;
      for (let i=0; i<container.length; i += 1) {
        if (container[i].getElementsByClassName('floating-menu')) {
          indexing = index
        }
      }
      this.bottom = window.screen.height - container[indexing].getBoundingClientRect().top - 150
      setTimeout(() => {
        const floating = document.getElementsByClassName("floating-menu")[0]
        // const floating = container[indexing].getElementsByClassName('floating-menu')[0]
        if (!floating) {
          return
        }
        if (floating.getBoundingClientRect().top < 10) {
          this.bottom = this.bottom - 30 + floating.getBoundingClientRect().top
        }
      },300)
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
// <style lang="scss">
// .sidebar-gtalent {
//   .black-background {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: -10;
//     background: rgba(48, 48, 48, 0.7);
//     transition: background 0.25s ease-in-out;
//   }
//   .sidebar {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 110px;
//     height: 100%;
//     background: #303030;
//     border-radius: 0px 12px 12px 0px;
//   }
//   .logo {
//     margin-top: 15px;
//     margin-left: auto;
//     margin-right: auto;
//     height: 50px;
//     width: 50px;
//     .v-image__image--cover {
//       border-radius: 100px;
//     }
//   }
//   .separator {
//     width:50px;
//     height: 1px;
//     background: #C4C4C4;
//     margin-top: 15px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .icon-awesome {
//     cursor: pointer;
//     margin-top: 32px;
//     text-align: center;
//     color: #C4C4C4;
//     transition: color 0.25s ease-in;

//     &.active {
//       color: #DBAB27;
//     }
//     &:hover {
//       color: #DBAB27;
//     }

//     p {
//       margin-top:10px;
//     }
//   }

//   .container-menu {
//     position: relative;
//     .floating-menu {
//       position: absolute;
//       top: 0px;
//       right: -230px;
//     }
//     .child-menu {
//       background: #303030;
//       box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
//       border-radius: 20px;
//       color: #C4C4C4;
//       padding: 13px;
//       margin-bottom: 22px;
//       width: 210px;

//       &.active {
//         color: #DBAB27;
//       }
//     }
//   }
  
// }

// .slide-fade-enter-active {
//   transition: all .5s ease;
// }
// .slide-fade-leave-active {
//   transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }
// .slide-fade-enter, .slide-fade-leave-to
// /* .slide-fade-leave-active below version 2.1.8 */ {
//   transform: translateX(10px);
//   opacity: 0;
// }
// </style>
