<template>
  <div class="sidebar-notif-gtalent">
      <div class="p__t--20 p__l--16">
        <v-row>
          <v-col cols="3">
            <i class="fa fa-bars f--20 grey--text cursor-pointer"></i>
            <i class="far fa-bell f--20 grey--text cursor-pointer"></i>
          </v-col>
          <v-col>
            <div>
              <v-list class="sidebar-profile">
                
                <v-list-group
                  no-action
                >
                  <template v-slot:activator>
                    <v-list-item-title style="font-weight:normal;">
                      kjas asdk
                    </v-list-item-title>
                  </template>

                  <v-list-item
                      class="p__l--50"
                      v-for="(child, i) in 2"
                      :key="i"
                      link
                      to=""
                      exact
                    >
                      <v-list-item-title>
                        <!-- <i :class="child.icon" class="gold--text f--20 m__r--10"></i> <span class="grey--text f--16"> {{child.name}} </span> -->
                        asdsad asdasd
                      </v-list-item-title>
                    </v-list-item>
                </v-list-group>
                
              </v-list>
            </div>
          </v-col>
        </v-row>

        sadasdsad
        

      </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar-notif',
  props: {
    logo: {
      type: String,
      default: '',
    },
    menus: {
      type: [Array],
      default: () => []
    }
  },
  data() {
    return {
      // menus: [
      //   {
      //       name: this.$t('employee'),
      //       icon: 'fa fa-home',
      //       path: '/user/dashboard',
      //   },
      //   {
      //       name: this.$t('employee'),
      //       icon: 'fa fa-home',
      //       path: '/user/dashboard',
      //       children: [
      //         {
      //           name: this.$t('add_employee'),
      //           icon: 'fa fa-home',
      //           path: '/user/dashboard',
      //         },
      //         {
      //           name: this.$t('employee_list'),
      //           icon: 'fa fa-home',
      //           path: '/employee/list',
      //         },
      //         {
      //           name: this.$t('employee_reward'),
      //           icon: 'fa fa-home',
      //           path: '/employee/reward',
      //         },
      //       ]
      //     }

      // ]
    }
  },
  methods: {
    
      
    
  }
}
</script>

<style lang="scss">
.sidebar-notif-gtalent {
    position: fixed;
    width: 300px;
    right: 0px;
    height: 100vh;
    box-shadow: 4px 0px 18px rgba(0, 0, 0, 0.06);

    .sidebar-profile {
      position: absolute;
    }
}
</style>
