<template>
  <div class="sidebar-user-gtalent">
      <div class="sidebar w--250 white">
        <div class="w--186 m--auto p__t--24 p__b--24 fixed">
          <v-img :src="require('@/assets/icon/logo-gtalent-user.svg')" />
        </div>
        <hr class="text--grey">
        <v-list>
          <template v-for="(menu, index) in menus"  >
          <v-list-item :key="index" :to="menu.path" v-if="!menu.children" exact :class="$route.path.includes(menu.path) ? 'black' : ''">
            <v-list-item-title  style="font-weight:normal;">
              <v-row>
                <v-col cols="2">
                  <i :class="menu.icon" class="gold--text f--20 m__r--10"></i>
                </v-col>
                <v-col>
                  <span class="grey--text f--16" :class="$route.path.includes(menu.path) ? 'gold--text' : ''"> {{menu.name}} </span>
                </v-col>
              </v-row>
            </v-list-item-title>
          </v-list-item>
          <v-list-group
            no-action
            :key="index"
            v-if="menu.children"
          >
            <template v-slot:activator>
              <v-list-item-title style="font-weight:normal;"><i :class="menu.icon" class="gold--text f--20 m__r--10"></i> <span class="grey--text f--16"> {{menu.name}} </span></v-list-item-title>
            </template>

            <v-list-item
                :class="$route.path.includes(child.path) ? 'black' : ''"
                class="p__l--50"
                v-for="(child, i) in menu.children"
                :key="i"
                link
                :to="child.path"
                exact
              >
                <v-list-item-title>
                  <i :class="child.icon" class="gold--text f--20 m__r--10"></i> <span class="grey--text f--16"> {{child.name}} </span>
                </v-list-item-title>
              </v-list-item>
          </v-list-group>
          </template>
        </v-list>
      </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  props: {
    logo: {
      type: String,
      default: '',
    },
    menus: {
      type: [Array],
      default: () => []
    }
  },
  data() {
    return {
      // menus: [
      //   {
      //       name: this.$t('employee'),
      //       icon: 'fa fa-home',
      //       path: '/user/dashboard',
      //   },
      //   {
      //       name: this.$t('employee'),
      //       icon: 'fa fa-home',
      //       path: '/user/dashboard',
      //       children: [
      //         {
      //           name: this.$t('add_employee'),
      //           icon: 'fa fa-home',
      //           path: '/user/dashboard',
      //         },
      //         {
      //           name: this.$t('employee_list'),
      //           icon: 'fa fa-home',
      //           path: '/employee/list',
      //         },
      //         {
      //           name: this.$t('employee_reward'),
      //           icon: 'fa fa-home',
      //           path: '/employee/reward',
      //         },
      //       ]
      //     }

      // ]
    }
  },
  methods: {
    
      
    
  }
}
</script>

<style lang="scss">
.sidebar-user-gtalent {
  .sidebar {
    position: fixed;
    left: 0px;
    height: 100vh;
    box-shadow: 4px 0px 18px rgba(0, 0, 0, 0.06);
  }
}
</style>
