.auto-numeric{
    border:1px solid rgba(0,0,0,0.24);
    border-radius: 4px;
    padding:  8px 12px;
    width: 100%;
  }
  .auto-numeric[type="text"]{
    font-size: 16px;
    color: rgba(0,0,0,.87);
  }
  .auto-numeric:focus{
    box-shadow: 0 0 0 2px #DDAB27;
    border-radius: 4px;
    border-color: #DBAB27!important;
    outline: 0;
  }
  .auto-numeric::-webkit-input-placeholder { /* Edge */
    color: rgba(0,0,0,0.36);
  }
  
  .auto-numeric:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,0.36);
  }
  
  .auto-numeric::placeholder {
    color: rgba(0,0,0,0.36);
  }