.sidebar-gtalent {
    .black-background {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      z-index: 50;
      background:var(--v-black-base);
      transition: background 0.25s ease-in-out;
      opacity: 0.6;
    }
    .floating-menu a {
      text-decoration: none;
    }
    .sidebar {
      position: fixed;
      top: 0px;
      overflow: scroll;
      z-index: 51;
      left: 0px;
      width: 110px;
      height: 100%;
      background: var(--v-sidebar-base);

      p {
        font-size: 12px;
      }
    }
    .sidebar::-webkit-scrollbar{
      display: none;
    }
    .logo {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 50px;
      .v-image__image--cover {
        border-radius: 100px;
      }
    }
    .separator {
      width:50px;
      height: 1px;
      background: #C4C4C4;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    .icon-awesome {
      cursor: pointer;
      margin-top: 32px;
      text-align: center;
      color: #C4C4C4;
      transition: color 0.25s ease-in;
  
      &.active {
        color: #DBAB27;
      }
      &:hover {
        color: #DBAB27;
      }
  
      p {
        margin-top:10px;
      }
    }
  
    .container-menu {
      position: relative;
      .floating-menu {
        position: fixed;
        // bottom: 0px;
        left: 140px;
      }
      .child-menu {
        background: #303030;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        color: #C4C4C4;
        padding: 13px;
        margin-bottom: 22px;
        width: 250px;
  
        &.active {
          color: #DBAB27;
        }

        .m__l--10 {
          font-size: 12px;
          padding: 5px;
        }
      }
    }
    
  }
  
  .slide-fade-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }