<template>
  <div id="app">
    <v-app>
    <VueExtendLayouts/>
    </v-app>
  </div>
</template>

<script>
import VueExtendLayouts from '@/components/AppExtendLayouts.vue'

export default {
  name: 'App',
  components: { VueExtendLayouts }
}
</script>

<style lang="scss">

</style>
