<template>
    <v-row class="login-page">
        <v-col cols="4 login-column">
            <div class="login-section">
                <div class="float-to-center p__t--50">
                    <v-img
                    :src="require('@/assets/logo/gtalent-login.svg')"
                    :lazy-src="require('@/assets/logo/gtalent-login.svg')"
                    aspect-ratio="1"
                    :max-width="110"
                    :height="135"/>
                </div>
                <h2 class="float-to-center m__t--30 m__b--40 c--white">
                    Log In your Account
                </h2>
                <v-container fluid>
                    <v-form v-model="valid">
                    <div class="c--white">
                        Email address / username <span class="c--red">*</span>
                    </div>
                    <v-text-field
                        v-model="login_data.user_name"
                        :rules="[]"
                        placeholder="Email"
                        
                        required
                    ></v-text-field>

                    <div class="c--white">
                        Password <span class="c--red">*</span>
                    </div>
                    <v-text-field
                        v-model="login_data.password"
                        :rules="[]"
                        placeholder="Password"
                        type="password"
                        required
                    ></v-text-field>    
                </v-form>
                <v-checkbox v-model="valid" label="Remember me" class="checkbox-remember"></v-checkbox>
                </v-container>
                
                <div class="float-to-center c--white">
                    Forgot your password?
                </div>

                <br>
                
                <div class="float-to-center button-login">
                     <v-btn small color="primary" @click="login(login_data)">Log In</v-btn>
                </div>
               
                
            </div>
        </v-col>
        <v-col cols="8 carousel-column">
            <div class="carousel-section">
                <v-carousel>
                    <v-carousel-item
                    v-for="(item,i) in items"
                    :key="i"
                    :src="item.src"
                    ></v-carousel-item>
                </v-carousel>
            </div>
        </v-col>
    </v-row>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    data() {
        return {
          login_data: {
            user_name: null,
            password: null,
          },
          valid: false,
          items: [
              {
                  src: require('@/assets/background/background-carousel-1.svg'),
              },
              {
                  src: require('@/assets/background/background-carousel-2.svg'),
              },
              {
                  src: require('@/assets/background/background-carousel-3.svg'),
              },
          ],
        }
    },
    methods: {
      ...mapActions('StoreLogin', ['login'])
    },
}
</script>

<style lang="scss">
.login-page {
  .v-text-field__slot {
  input {
    color: rgba(216, 216, 216, 0.4) !important;
    &::placeholder, &:-moz-placeholder, &::-webkit-input-placeholder {
      color: rgba(216, 216, 216, 0.4) !important;
    }
  }
}

.checkbox-remember {
  label {
    color: white !important;
  }
}

.theme--light.v-input input::placeholder, .theme--light.v-input textarea::placeholder {
  color: rgba(216, 216, 216, 0.4) !important;
}
}

.c--white {
    color: #fff;
}
.c--red {
    color: rgb(145, 27, 27);
}
.login-page {
    &.row {
        margin: 0px;
    }
    height: 100vh;
    .login-column, .carousel-column {
        padding: 0px;
    }
    .v-text-field__slot input {
        background: transparent !important;
        border: 1px solid #DCDCDC !important;
    }
    .login-section {
        background: #303030;
        width: 100%;
        height: 100%;
    }
    .carousel-section {
        .v-carousel, .v-carousel__item {
            height: 100vh !important;
        }
    }

    .v-btn--contained {
      border-radius: 18px;
    }
    .v-text-field__slot {
      input {
        background: #FFFFFF;
        border-radius: 3px;
        border: 1px solid #333333;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        padding: 10px 12px;
      }
    }
    .line-hr {
      max-width: 190px;
      hr {
        color: #DBAB27;
        background: #DBAB27;
        border-color: #DBAB27;
        border-top: unset;
      }
    }

    input::-moz-placeholder, input::-webkit-input-placeholder {
      color: #DBAB27 !important;
    }

    .v-input--is-dirty {
      input {
        border-color: #DBAB27;
      }
    }

    .v-select__slot {
      background: #FFFFFF;
      border-radius: 3px;
      border: 1px solid #333333;
      max-height: 32px;
      padding-left: 12px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

      .v-input__append-inner {
        padding-right:10px;
      }

      .v-input--is-dirty {
        border-color: #DBAB27;
      }
    }

    .v-input--is-dirty {
      .v-select__slot {
        border-color: #DBAB27;
      }
    }

    .error--text {
      input {
        background: #FFFFFF;
        border-radius: 3px;
        border: 1px solid #ff5252;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      }

      .v-select__slot {
        background: #FFFFFF;
        border-radius: 3px;
        border: 1px solid #333333;
        max-height: 32px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        // padding: 10px 12px;
        border: 1px solid #ff5252;
        
          input {
            background: unset;
            
            border-radius: 3px;
            border: unset;
            box-shadow: unset;
          }
        
      }
    }

    .button-login {
        button {
            background-color: #DDAB14 !important;
            max-width: 200px;
            width: 200px;
        }
    }
    

    .v-text-field > .v-input__control > .v-input__slot:before {
      border-style: unset;
    }
}
</style>