<template>
    <v-container fluid class="peformance-list">
        <v-card>
            <div class="p--20 blackHeader">
                <h5 class="gold--text subtitle-1 font-weight-bold">Peformance Review</h5>
            </div>
            <v-btn class="m--20 btn-add font-weight-bold white--text gold" depressed style="text-transform:capitalize;" @click.stop="dialogAdd =true" >
                <v-icon class="white--text p--6 m__r--12" x-small>fa-plus</v-icon>Add Peformance Review Schedule
            </v-btn>
            <v-row>
                <v-col md="12">
                    <v-data-table
                        :headers="headers"
                        :items="desserts"
                        sort-by="calories"
                        :footer-props="{'items-per-page-text': $t('row_per_page')}"
                        class="table-employee m--20"
                        style="margin-top:0!important;"
                    >
                    </v-data-table>
                </v-col>
            </v-row>
        </v-card>
        <v-dialog v-model="dialogAdd" width="600">
            <div class="p--20 blackHeader">
                <v-row class="m--0">
                    <v-col md="6" class="p--0">
                    <h5 class="gold--text subtitle-1 font-weight-bold">Add Peformance Review</h5>
                    </v-col>
                    <v-col md="6" class="p--0 text-right">
                    <v-btn fab x-small depressed class="black" @click.stop="dialogAdd=false"><v-icon class="gold--text">fa-times</v-icon></v-btn>
                    </v-col>
                </v-row>
            </div>
            <v-row class="p__l--12 p__r--12 m--0 white">
              <v-col md="12">
                <p>Name Employee<span class="red--text">*</span></p>
                <v-text-field outlined hide-details></v-text-field>
              </v-col>
              <v-col md="12">
                <p>Department<span class="red--text">*</span></p>
                <v-select outlined hide-details></v-select>
              </v-col>
              <v-col md="12">
                <p>Review By<span class="red--text">*</span></p>
                <v-text-field outlined hide-details></v-text-field>
              </v-col>
              <v-col md="12" class="option-select">
                  <v-btn depressed tile style="text-transform:capitalize;" @click="optionSelect = 'document'" :class="{active: optionSelect === 'document'}" width="100px">Document</v-btn>
                  <v-btn depressed tile style="text-transform:capitalize;" @click="optionSelect = 'link'" :class="{active: optionSelect === 'link'}" width="100px">Link</v-btn>
                  <div class="m__t--12" v-if="optionSelect === 'document'">
                      <v-btn depressed rounded class="gold--text" style="text-transform:capitalize;border:1px solid #DDAB27;background-color:white;" >
                          Choose File
                      </v-btn>
                  </div>
                  <div v-else>
                      <v-text-field hide-details outlined></v-text-field>
                  </div>
              </v-col>
              <v-col md="12">
                <p>Description<span class="red--text">*</span></p>
                <v-text-field outlined hide-details></v-text-field>
              </v-col>
              <v-col md="12">
                <p>Select Date<span class="red--text">*</span></p>
                <v-dialog ref="dialog" v-model="modal" :return-value.sync="schedule_date" persistent width="290px">
                    <template v-slot:activator="{ on }">
                        <v-text-field v-model="schedule_date" placeholder="Picker in dialog" append-icon="event" readonly v-on="on" outlined hide-details ></v-text-field>
                    </template>
                    <v-date-picker v-model="schedule_date" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.dialog.save(schedule_date)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
              </v-col>
              <v-col md="6" style="text-align:right;">
                  <v-btn @click.stop="dialogAdd=false" class="gold--text" rounded depressed style="text-transform:capitalize;border:1px solid #DDAB27;background-color:white;" width="120">Discard</v-btn>
              </v-col >
              <v-col md="6">
                  <v-btn class="white--text" rounded depressed style="text-transform:capitalize;background-color:#DDAB27;" width="120">Save</v-btn>
              </v-col >
            </v-row>
        </v-dialog>
    </v-container>
</template>
<script>
export default {
    data(){
        return{
            dialogAdd:false,
            schedule_date:new Date().toISOString().substr(0, 10),
            modal:false,
            optionSelect:'document'
        }
    },
    computed:{
        headers(){
            return [
                {
                text: 'No',
                align: "left",
                sortable: false,
                value: "employment_id"
                },
                { text: this.$t('employee_name'), value: "first_name" },
                { text: this.$t('employee_id'), value: "department_name" },
                { text: this.$t('department'), value: "mobile" },
                { text: 'Review By', value: "department_name" },
                { text: 'Review Schedule', value: "mobile" },
                { text: "Type", value: "status" },
                { text: this.$t('action'), value: "action", sortable: false }
            ]
        }
    },
}
</script>
<style lang="scss">
    .peformance-list{
        .table-employee {
            .v-data-table__wrapper {
            border-radius: 6px;
            border: 1px solid #303030;
            }
            thead {
            background: #eed592;
            }
            th,
            td {
            border-right: 1px solid #303030;
            border-bottom: 1px solid #303030 !important;
            }
            th:last-child,
            td:last-child {
            border-right: unset;
            width: 148px;
            }
            .v-chip {
            font-size: 10px;
            }
            .btn-action {
            font-size: 16px;
            padding: 0 !important;
            text-transform: capitalize;
            margin-right: 4px;
            min-width:36px!important;
            .v-icon {
                font-size: 16px;
            }
            }
            .btn-action:last-child {
            margin-right: 0;
            }
        }
    }
    .option-select{
        .active{
            background-color:#DDAB27!important;
            color:#FFFFFF!important;
        }
    }
</style>