/*eslint script-indent: ["error", 2, {"baseIndent": 10}]*/
<template>
  <div class="blank-wrap">
    <router-view />
    <AlertNotification />
  </div>
</template>

<script>
import AlertNotification from '@/components/AlertNotification'


export default {
  name: 'defaultLayout',
  components: {
    AlertNotification,
  },
  // mounted() {
  //   setTimeout(() => {
  //     this.$store.commit('StoreAlert/showSuccess', 'berhasil donk !')
  //   }, 3000)
  // }
}

</script>
