/*eslint script-indent: ["error", 2, {"baseIndent": 10}]*/
<template>
  <div class="default-wrap">
    <Navbar />
    <Sidebar :menu="menu"/>
    <v-container fluid class="p__l--122">
       <router-view />
    </v-container>
    <AlertNotification />
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'
import Navbar from '@/components/Navbar'
import AlertNotification from '@/components/AlertNotification'

import store from '@/stores/modules/StoreI18n.js'
import { i18n } from '@/plugins/i18n.js'

export default {
  name: 'defaultLayout',
  components: {
    Sidebar,
    Navbar,
    AlertNotification,
  },
  computed:{
    menu(){
      return {
        logo: require('@/assets/logo/gtalent.svg'),
        list:  [
          {
            name: this.$t('dashboard'),
            logo: require('@/assets/icon/dashboard.svg'),
            logo_active: require('@/assets/icon/dashboard-gold.svg'),
            path: '/dashboard',
            is_have_child: false,
          },
          {
            name: this.$t('organization'),
            logo: require('@/assets/icon/organization.svg'),
            logo_active: require('@/assets/icon/organization-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              // {
              //   name: 'Create Organization',
              //   logo: require('@/assets/icon/org-create.svg'),
              //   logo_active: require('@/assets/icon/org-create-gold.svg'),
              //   path: '',
              // },
              {
                name: this.$t('organization_chart'),
                logo: require('@/assets/icon/org-chart.svg'),
                logo_active: require('@/assets/icon/org-chart-gold.svg'),
                path: '/organization/companies',
              }
            ]
          },
          {
            name: this.$t('employee'),
            logo: require('@/assets/icon/employee.svg'),
            logo_active: require('@/assets/icon/employee-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('add_employee'),
                logo: require('@/assets/icon/emp-add.svg'),
                logo_active: require('@/assets/icon/emp-add-gold.svg'),
                path: '/employee/add',
              },
              {
                name: this.$t('employee_list'),
                logo: require('@/assets/icon/emp-list.svg'),
                logo_active: require('@/assets/icon/emp-list-gold.svg'),
                path: '/employee/list',
              },
              {
                name: this.$t('employee_reward'),
                logo: require('@/assets/icon/emp-reward.svg'),
                logo_active: require('@/assets/icon/emp-reward-gold.svg'),
                path: '/employee/reward',
              },
            ]
          },
          {
            name: this.$t('payroll'),
            logo: require('@/assets/icon/payroll.svg'),
            logo_active: require('@/assets/icon/payroll-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('manage_payroll'),
                logo: require('@/assets/icon/pay-manage.svg'),
                logo_active: require('@/assets/icon/pay-manage-gold.svg'),
                path: '/payroll/manage',
              },
              {
                name: this.$t('employee_payroll_list'),
                logo: require('@/assets/icon/pay-employee.svg'),
                logo_active: require('@/assets/icon/pay-employee-gold.svg'),
                path: '/payroll/list',
              },
              {
                name: this.$t('make_payment'),
                logo: require('@/assets/icon/pay-payment.svg'),
                logo_active: require('@/assets/icon/pay-payment-gold.svg'),
                path: '/payroll/create',
              },
              {
                name: this.$t('payment_history'),
                logo: require('@/assets/icon/pay-history.svg'),
                logo_active: require('@/assets/icon/pay-history-gold.svg'),
                path: '/payroll/history',
              },
            ]
          },
          {
            name: this.$t('reimbursement'),
            logo: require('@/assets/icon/reim.svg'),
            logo_active: require('@/assets/icon/reim-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('reimbursement_payment'),
                logo: require('@/assets/icon/reim-payment.svg'),
                logo_active: require('@/assets/icon/reim-payment-gold.svg'),
                path: '/reimbursement/payment',
              },
              {
                name: this.$t('reimbursement_history'),
                logo: require('@/assets/icon/reim-report.svg'),
                logo_active: require('@/assets/icon/reim-report-gold.svg'),
                path: '/reimbursement/history',
              },
            ]
          },
          {
            name: this.$t('financial_services'),
            logo: require('@/assets/icon/financial.svg'),
            logo_active: require('@/assets/icon/financial-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('add_financial_services'),
                logo: require('@/assets/icon/fin-add.svg'),
                logo_active: require('@/assets/icon/fin-add-gold.svg'),
                path: '/financial-services',
              },
              {
                name: this.$t('financial_services_report'),
                logo: require('@/assets/icon/fin-report.svg'),
                logo_active: require('@/assets/icon/fin-report-gold.svg'),
                path: '/financial-services/history',
              },
            ]
          },
          {
            name: this.$t('attendance'),
            logo: require('@/assets/icon/attendance.svg'),
            logo_active: require('@/assets/icon/attendance-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('shift'),
                logo: require('@/assets/icon/att-shift.svg'),
                logo_active: require('@/assets/icon/att-shift-gold.svg'),
                path: '/attendance/shift',
              },
              {
                name: this.$t('attendance_approval'),
                logo: require('@/assets/icon/att-approval.svg'),
                logo_active: require('@/assets/icon/att-approval-gold.svg'),
                path: '/attendance/approval',
              },
              {
                name: this.$t('overtime_approval'),
                logo: require('@/assets/icon/att-overtime.svg'),
                logo_active: require('@/assets/icon/att-overtime-gold.svg'),
                path: '/attendance/approval-overtime',
              },
              {
                name: this.$t('attendance_report'),
                logo: require('@/assets/icon/att-report.svg'),
                logo_active: require('@/assets/icon/att-report-gold.svg'),
                path: '/attendance/report',
              },
              {
                name: this.$t('application_list'),
                logo: require('@/assets/icon/att-application.svg'),
                logo_active: require('@/assets/icon/att-application-gold.svg'),
                path: '/attendance/application-list',
              },
            ]
          },
          {
            name: this.$t('schedule'),
            logo: require('@/assets/icon/schedule.svg'),
            logo_active: require('@/assets/icon/schedule-gold.svg'),
            path: '/schedule',
            is_have_child: false,
          },
          {
            name: this.$t('peformance-review'),
            logo: require('@/assets/icon/performance.svg'),
            logo_active: require('@/assets/icon/performance-gold.svg'),
            path: '/peformance-review',
            is_have_child: false,
          },
          {
            name: this.$t('setting'),
            logo: require('@/assets/icon/setting.svg'),
            logo_active: require('@/assets/icon/setting-gold.svg'),
            path: '',
            is_have_child: true,
            children: [
              {
                name: this.$t('general_setting'),
                logo: require('@/assets/icon/set-general.svg'),
                logo_active: require('@/assets/icon/set-general-gold.svg'),
                path: '/setting/general',
              },
              {
                name: this.$t('approval_setting'),
                logo: require('@/assets/icon/set-approval.svg'),
                logo_active: require('@/assets/icon/set-approval-gold.svg'),
                path: '/setting/approval',
              },
              {
                name: this.$t('set_working_days'),
                logo: require('@/assets/icon/set-working.svg'),
                logo_active: require('@/assets/icon/set-working-gold.svg'),
                path: '/setting/working',
              },
              {
                name: this.$t('logout'),
                logo: require('@/assets/icon/logout.svg'),
                logo_active: require('@/assets/icon/logout-gold.svg'),
                path: '/logout',
              },
            ]
          },
          // {
          //   name: this.$t('setting'),
          //   logo: require('@/assets/icon/setting.svg'),
          //   logo_active: require('@/assets/icon/setting-gold.svg'),
          //   path: '/setting',
          //   is_have_child: false,  
          // },
        ]
        }
      }
  },
  methods:{
    getTheme(){
      if(localStorage.getItem('theme')=='dark'){
          this.$vuetify.theme.dark=true
      }else{
          this.$vuetify.theme.dark=false
      }
    }
  },
  created() {
    if (store.state.language && store.state.language !== i18n.locale) {
    i18n.locale = store.state.language
    } else if (!store.state.language) {
      // store.dispatch('/setLanguage', navigator.languages)
      //   .then(() => {
      //     i18n.locale = store.state.language
      //   })
    }
    this.getTheme()
  }
}

</script>
<style lang="scss">

</style>
