/*eslint script-indent: ["error", 2, {"baseIndent": 10}]*/
<template>
  <div class="default-wrap">
    <!-- <Navbar /> -->
    <SidebarUser :menus="menus"/>
    <!-- <SidebarNotif /> -->
    <v-container fluid class="p__l--265">
       <router-view />
    </v-container>
    <AlertNotification />
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'
import SidebarUser from '@/components/SidebarUser'
import Navbar from '@/components/Navbar'
import AlertNotification from '@/components/AlertNotification'
import SidebarNotif from '@/components/SidebarNotif'

import store from '@/stores/modules/StoreI18n.js'
import { i18n } from '@/plugins/i18n.js'

export default {
  name: 'defaultLayout',
  components: {
    Sidebar,
    SidebarUser,
    Navbar,
    SidebarNotif,
    AlertNotification,
  },
  computed: {
    menus() {
      return [
          {
            name: this.$t('dashboard'),
            icon: 'fa fa-home',
            path: 'user/dashboard',
          },
          {
            name: this.$t('Profile'),
            icon: 'fa fa-user',
            path: 'user/inbox',
          },
          {
            name: this.$t('Inbox'),
            icon: 'fa fa-envelope',
            path: 'user/inbox',
          },
          {
            name: this.$t('Org Chart'),
            icon: 'fas fa-sitemap',
            path: 'user/inbox',
          },
          {
            name: this.$t('Attendance History'),
            icon: 'fas fa-clipboard',
            path: 'user/inbox',
          }, 
          // {
          //   name: this.$t('Inbox'),
          //   icon: 'fa fa-envelope',
          //   path: 'user/inbox',
          // }, 
          // {
          //   name: this.$t('Profile'),
          //   icon: 'fa fa-user',
          //   path: 'user/dashboard',
          //   children: [
          //     {
          //       name: this.$t('organization_chart'),
          //       icon: 'fa fa-home',
          //       path: '/organization/companies',
          //     }
          //   ]
          // }, 
        ]
        
        
    }
      
    
  },
  created() {
    if (store.state.language && store.state.language !== i18n.locale) {
    i18n.locale = store.state.language
    } else if (!store.state.language) {
      // store.dispatch('/setLanguage', navigator.languages)
      //   .then(() => {
      //     i18n.locale = store.state.language
      //   })
    }
  }
}

</script>
<style lang="scss">

</style>
