<template>
    <div>
       <v-row justify="center">
        <v-dialog
          class="add-reimbursement"
          v-model="reimbursement_add_data.dialog"
          max-width="500">
          <v-card>
            <v-card-title class="black primary--text f--18">Reimbursement Category</v-card-title>

            <v-card-text class="p__r--40 p__l--40 p__t--20 p__b--5">
              <label>{{mode === 'create' ? 'Add new' : 'Edit'}} Category <span class="red--text">*</span></label>
              <v-text-field
                v-model="reimbursement_add_data.category"
                class="gtalent-form"
                placeholder="enter category"
                outlined
              ></v-text-field>

              <label>As Allowance <span class="red--text">*</span></label>
              <!-- <v-text-field
                v-model="reimbursement_add_data.as_allowance"
                class="gtalent-form"
                placeholder="enter allowance"
                outlined
              ></v-text-field> -->
              <vue-select v-model="reimbursement_add_data.as_allowance" :options="['Yes','No']" placeholder="enter as allowance" class="gtalent-select"/>
            </v-card-text>

            <v-card-actions class="action-reimbursement float-to-center p__b--20">
              <v-btn class="button gold white--text save-button" text @click="save(mode)">{{mode === 'create' ? 'Save' : 'Edit'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    }
  },
  data() {
    return {
      reimbursement_add_data: {
        dialog: false,
        category: null,
        as_allowance: null,
        index: null,
      }
    }
  },
  computed: {
    ...mapState('StoreReimbursement', ['reimbursement_state']),
  },
  methods: {
    openDialog(index) {
      this.reimbursement_add_data.dialog = true;
      if (index >= 0) {
        this.reimbursement_add_data.index = index 
        this.reimbursement_add_data.category = this.reimbursement_state.add[index].expense_cat
        this.reimbursement_add_data.as_allowance = this.reimbursement_state.add[index].include_payroll === 'Y' ? 'Yes' : 'No'
      }
    },
    save(data, index) {
      if (data === 'create') {
        const req = {
          expense_cat: this.reimbursement_add_data.category,
          include_payroll: this.reimbursement_add_data.as_allowance === 'Yes' ? 'Y' : 'N',
        }
        this.$store.dispatch('StoreReimbursement/createCategory', req)
        this.reimbursement_add_data = {
          dialog: false,
          category: null,
          as_allowance: null,
        }
      } else {
        const edited = {
          expense_cat: this.reimbursement_add_data.category,
          include_payroll: this.reimbursement_add_data.as_allowance === 'Yes' ? 'Y' : 'N',
          index: this.reimbursement_add_data.index
        }
        this.$store.commit('StoreReimbursement/editCategory', edited)
        this.reimbursement_add_data = {
          dialog: false,
          category: null,
          as_allowance: null,
        }
      }
    }
  }
}
</script>
<style lang='scss'>
.add-reimbursement {
  
}
.action-reimbursement {
    button {
      width: 300px;
      border-radius: 16px;
    }
    .save-button {
      width: 250px;
    border-radius: 20px;
    }
  }
.gtalent-form {
  .v-input__slot {
    min-height: 40px !important;
    border-radius: 8px;
    // border: 1px solid #303030 !important;
  }
  // padding-top: 0px !important;
  // &.v-text-field>.v-input__control>.v-input__slot:before {
  //   border-style: unset !important;
  //   border-width: thin 0 0;
  // }
  // input {
  //   border: 1px solid #303030 !important;
  //   border-radius: 6px !important;
  //   padding-left: 12px !important;
  // }
}
</style>

