<template>
    <v-container class="reimbursement-payment" fluid>
      <v-card>
        <v-card-title
          class="black gold--text"
          primary-title>
          Reimbursement Payment
        </v-card-title>

        <v-card-text class="content-section">
          <!-- <div class="float-to-center m__t--30">
            <date-picker />
            <date-picker />
          </div> -->
          <v-row class="m__t--30">

            <v-col></v-col>
            <v-col>
               <date-picker v-model="reimbursement_data.start_date" class="gtalent-datepicker" placeholder="Start Date"/>
            </v-col>
            <v-col>
               <date-picker v-model="reimbursement_data.end_date" class="gtalent-datepicker" placeholder="End Date"/>
            </v-col>
            <v-col></v-col>
          </v-row>

          <v-row class="select-form">
            <v-col cols="1"></v-col>
            <v-col>
              <vue-select v-model="reimbursement_data.company" :options="['Gtalent-AA','Gtalent-BBA']" placeholder="-Select Company-" class="gtalent-select"/>
            </v-col>
            <v-col>
              <vue-select v-model="reimbursement_data.division" :options="['Technology','Sales']" placeholder="-Select Division-" class="gtalent-select"/>
            </v-col>
            <v-col>
              <vue-select v-model="reimbursement_data.department" :options="['IT','Technical Support']" placeholder="-Select Department-" class="gtalent-select"/>
            </v-col>
            <v-col cols="1"></v-col>
          </v-row>

          <div class="float-to-center m__t--50 payment-button">
              <v-btn class="gold white--text">Go</v-btn>
          </div>
  
        </v-card-text>

        <v-card-title
            class="gold white--text m__t--50 f--16"
            primary-title>
            Reimbursement for December 2019
          </v-card-title>

          <v-card-text class="content-section m__t--30">
            <div class="table-gtalent">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr class="head-table lightenGold">
                    <th class="text-left border-right number border-bottom number">
                      <v-checkbox v-model="test2" label=""></v-checkbox>
                    </th>
                    <th class="text-left border-right number border-bottom category">No</th>
                    <th class="text-left border-right border-bottom allowance">Employee ID</th>
                    <th class="text-left border-right border-bottom details">Employee</th>
                    <th class="text-left border-right border-bottom details">Amount (Rp)</th>
                    <th class="text-left border-right border-bottom details">Bill</th>
                    <th class="text-left details border-bottom">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in 2" :key="index">
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">
                      <v-checkbox v-model="test2" label=""></v-checkbox>
                    </td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">{{index + 1}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">GTA-001</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">Pandu Septian</td>
                    <td class="border-right text-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">{{'50000000' | currency}}</td>
                    <td class="border-right" :class="{'border-bottom' : (Number(index)+1) !== 2}">[]</td>
                    <td :class="{'border-bottom' : (Number(index)+1) !== 2}">
                      <v-btn class="grey white--text btn-action" depressed ><v-icon>fa-eye</v-icon></v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          </v-card-text>
      </v-card>
    </v-container>
</template>
<script>

export default {
  data() {
    return {
      test: null,
      test2: null,
      reimbursement_data: {
        result: null,
      }
    }
  }
}
</script>
<style lang='scss'>
.reimbursement-payment {
  .eye-content {
    background: #303030;
    color: #188CE0;
    border-radius: 8px;
    padding: 3px;
    height: 36px;
    max-width:36px;
  }
  .select-form {
    .col {
      padding: 12px 0px;
    }
  }
  .payment-button {
    button {
      width: 250px;
      border-radius: 20px;
    }
  }
}

.gtalent-select {
  .vs__dropdown-toggle {
    height: 35px;
  }
}

.gtalent-datepicker {
  width: 100% !important;
  .mx-icon-calendar {
    color: #DBAB27;
  }
  .mx-input:hover, .mx-input:focus {
    border-color: #DBAB27 !important;
  }
}
</style>

