<template>
    <v-container fluid>
      <v-card class="setting-menu">
        <v-row>
        <v-col cols="3" style="border-right:1px solid #C4C4C4;">
          <v-list>
            <template v-for="(content, index) in admins"  >
            <v-list-item :key="index" v-if="!content.is_have_child" :to="{ name: content.path_name}" exact>
              <v-list-item-title style="font-weight:600;">{{content.name}}</v-list-item-title>
            </v-list-item>
            <v-list-group
              no-action
              :key="index"
              v-if="content.is_have_child"
            >
              <template v-slot:activator>
                <v-list-item-title style="font-weight:600;">{{content.name}}</v-list-item-title>
              </template>

              <v-list-item
                  v-for="(content, index) in content.children"
                  :key="index"
                  link
                  :to="{ name: content.path_name}"
                  exact
                >
                  <v-list-item-title v-text="content.name" ></v-list-item-title>
                </v-list-item>
            </v-list-group>
            </template>
          </v-list>
        </v-col>
        <v-col cols="9">
          <transition name="fade">
            <router-view></router-view>
          </transition>
        </v-col>
      </v-row>
      </v-card>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
          item: 0,
          itemar: 0,
          admins: [
            {
              name: 'General',
              path_name: 'General Setting',
              is_have_child:false
            },
            {
              name: 'Feature Setting',
              path_name: '',
              is_have_child:true,
              children: [
                {
                  name: 'Payroll Setting',
                  path_name: 'Payroll Setting',
                },
                {
                  name: 'Reimbursement Setting',
                  path_name: 'Reimbursement Setting',
                },
                {
                  name: 'Approval Setting',
                  path_name: 'Approval Setting',
                },
                {
                  name: 'Attendance Setting',
                  path_name: 'Attendance Setting',
                }
              ]
            },
            {
              name: 'Account',
              path_name: '',
              is_have_child:true,
              children: [
                {
                  name: 'Profile',
                  path_name: 'Profile Setting',
                },
                {
                  name: 'Change Password',
                  path_name: 'Change Password Setting',
                },
              ]
            },
            {
              name: 'Preference',
              path_name: '',
              is_have_child:true,
              children: [
                {
                  name: 'Theme',
                  path_name: 'Theme Setting',
                },
                {
                  name: 'Notification',
                  path_name: 'Notification Setting',
                },
                {
                  name: 'Language',
                  path_name: 'Language Setting',
                },
              ]
            },
            {
              name: 'Privacy & Policy',
              path_name: '',
              is_have_child:false
            },
            {
              name: 'Terms & Condition',
              path_name: '',
              is_have_child:false
            },
            {
              name: 'About Us',
              path_name: '',
              is_have_child:false
            },
            {
              name: 'Help',
              path_name: '',
              is_have_child:false
            },
            {
              name: 'Log Out',
              path_name: '',
              is_have_child:false
            },
          ],
          cruds: [
            ['Create', 'add'],
            ['Read', 'insert_drive_file'],
            ['Update', 'update'],
            ['Delete', 'delete'],
          ],
        }
    },
    methods: {
        // navList () {
        //   return Object.keys(this.nav).map(k => this.nav[k])
        // }
    }
}
</script>

<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transition: opacity .5s;
}
    .setting-menu {
      .container{
        margin-top: 0;
        padding-right: 22px;
      }
      .v-list-item--link:before {
        background-color: transparent;
      }
      .v-list-group__items>div>.v-list-item{
        padding-left: 28px!important;
      }
      .v-list-group{
        .fa-chevron-down{
          font-size: 12px!important;
        }
      }
      .v-list-item{
        min-height: 36px!important;
      }
      // .theme--light.v-list-item--active:before{
      //   opacity: 0!important;
      // }
    }
</style>