
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.dashboard{
    .greetings{
        font-size: 14px;
        color: var(--v-grey-base);
    }
    .calendar-dashboard{
        position: relative;
        .right-toolbar{
            position: absolute;
            top: 18px;
            right: 12px;
            box-shadow: unset;
            padding: 12px;
            span{
                margin-left: 18px;
                color: var(--v-black-base);
                i{
                    margin-right: 8px;
                }
            }
        }
    }
    .fc-day-grid-container{
        overflow: scroll!important;
        overflow-x: unset!important;
        height: 325px!important;
    }
    .fc-timeGrid-view{
        overflow: scroll!important;
        overflow-x: unset!important;
        height: 355px!important;
    }
    .fc-time-grid-container{
        height: 100%!important;
        overflow: hidden!important;
        overflow-x: unset!important;
    }
    .fc-prev-button, .fc-next-button{
        padding: 0;
        background: transparent;
        border: unset;
        color: var(--v-black-base);
        .fc-icon::before{
            vertical-align:unset;
        }   
    }
    .fc-toolbar.fc-header-toolbar{
        padding:16px;
      }
    .fc-left{
        .fc-button-group{
            .fc-button-primary{
                padding: 4px 18px;
                margin: 0 8px;
                background: transparent;
                color: #ABABAB;
                font-size: 14px;
                text-transform: capitalize;
                border-radius: 6px;
                border: 2px solid #ABABAB;
            }
            .fc-button-active{
                background: #DDAB27;
                color: #ffffff;
                border: 2px solid #DDAB27;
            }
        }
    }
    .fc-center{
        display: flex;
        h2{
            color:var(--v-grey-base);
            font-size: 18px;
            margin-top: 2px;
        }
    }
    .fc-right{
        width: 300px;
    }
    .card-summary{
        text-align: center;
        height: 100%;
        h5{
            padding: 12px 0;
        }
        .summary-content{
            background: var(--v-white-base);
            font-size: 18px;
            padding: 12px 0;
            p{
                margin-bottom:0;
            }
        }
    }
    .v-data-table-header{
        th{
            font-size: 14px;
        }
    }
    .recent-application{
        .header{
            background: #2C89BE;
        }
        th,td{
            border-right:2px solid #2C89BE;
            border-bottom:2px solid #2C89BE!important;
        }
        th:last-child,td:last-child{
            border-right:unset;
        }
    }
    .company-event{
        .header{
            background: var(--v-black-base);
        }
        th,td{
            border-right:2px solid var(--v-black-base);
            border-bottom:2px solid var(--v-black-base)!important;
        }
        th:last-child,td:last-child{
            border-right:unset;
        }
    }
}

.fc-toolbar.fc-header-toolbar{
  padding:12px;
}
